USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetPreFundedPoolDetails]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   CREATE PROCEDURE [dbo].[Sp_GetPreFundedPoolDetails]

            AS
            BEGIN
               IF OBJECT_ID('tempdb..#MyTable') is not null
            DROP TABLE #MyTable

            CREATE TABLE #MyTable
            (Id int ,AddedOn DateTime, MerchantBranch varchar(50), Description varchar(50),Debit decimal(18,3),Credit decimal (18,3))
            INSERT INTO #MyTable(Id,AddedOn,MerchantBranch,Description,Debit,Credit)
            (select ROW_NUMBER() OVER(ORDER BY PS.PrefundedTransactionId ASC) AS Id, PS.AddedOn,'Oman Oil' as 'MerchantBranch', Notes as 'Description', 0 'Debit',PS.Amount 'Credit' from PrefundedTransaction PS)
            UNION 
            (select ROW_NUMBER() OVER(ORDER BY PRM.PointRedeemMasterId ASC) AS Id, PRM.AddedOn,MB.BranchName,RT.RedemtionTypeName as 'Description',
            CASE WHEN (PRM.RedemptionTypeId = 3 and CostBaring > 0) THEN PRM.CostBaring
            ELSE PRM.Amount END 'Debit', 0 'Credit'
            from PointRedeemMaster PRM
            left join MerchantBranch MB on PRM.MerchantBranchId = MB.MerchantBranchId
            left join RedemptionType RT on RT.RedemptionTypeId = PRM.RedemptionTypeId
            where ((PRM.RedemptionTypeId = 3 and CostBaring > 0) OR (PRM.RedemptionTypeId IN(1,2,4)))
             AND PRM.MerchantBranchId is not null) 
            --order by AddedOn desc

            select ID,
                    AddedOn TDate,
                   Cast(AddedOn as Varchar) AddedOn,
                   MerchantBranch,
                   Description,
                   Debit,
                   Credit,
                   (Credit-Debit)+(Select ISNULL(Sum(l.Credit-l.Debit) ,0)
                             From #MyTable l
                             Where l.AddedOn < #MyTable.AddedOn ) as Balance
            from #MyTable
            order by TDate Desc

            END


GO
