USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[Sp_InsertPromotionCampaign]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Faizan Nasir
-- Create date: 28-Jun-2019
-- Description:	Insert Promotion Campaign
-- =============================================
CREATE PROCEDURE [dbo].[Sp_InsertPromotionCampaign]
	
	@Details PromotionCampignInsertScheme READONLY
AS
BEGIN
	INSERT INTO PromotionCampaign (CardId, PromotionId, AddedBy , AddedOn)
	SELECT CardId, PromotionId, AddedBy , AddedOn FROM @Details
END
         


GO
