USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[TerminalMenu]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TerminalMenu](
	[MenuId] [int] NOT NULL,
	[MenuSubId] [int] NULL,
	[MenuName] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NULL,
 CONSTRAINT [PK_TerminalMenu] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_TerminalMenu_MenuSubId_SortOrder] UNIQUE NONCLUSTERED 
(
	[MenuSubId] ASC,
	[SortOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TerminalMenu]  WITH CHECK ADD  CONSTRAINT [fk_TerminalMenu_MenuSubId] FOREIGN KEY([MenuSubId])
REFERENCES [dbo].[TerminalMenu] ([MenuId])
GO
ALTER TABLE [dbo].[TerminalMenu] CHECK CONSTRAINT [fk_TerminalMenu_MenuSubId]
GO
