USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[TransactionBatch]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionBatch](
	[TransactionBatchId] [int] IDENTITY(1,1) NOT NULL,
	[BatchId] [int] NOT NULL,
	[TerminalId] [int] NOT NULL,
	[IsSettle] [bit] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[SettledOn] [datetime] NOT NULL,
 CONSTRAINT [PK_TransactionBatch] PRIMARY KEY CLUSTERED 
(
	[TransactionBatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TransactionBatch]  WITH CHECK ADD  CONSTRAINT [fk_TransactionBatch_TerminalId] FOREIGN KEY([TerminalId])
REFERENCES [dbo].[TerminalMaster] ([TerminalId])
GO
ALTER TABLE [dbo].[TransactionBatch] CHECK CONSTRAINT [fk_TransactionBatch_TerminalId]
GO
