USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[PointRedeemMaster]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointRedeemMaster](
	[PointRedeemMasterId] [int] IDENTITY(1,1) NOT NULL,
	[PointRedeemCode] [varchar](50) NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](2) NOT NULL,
	[BatchId] [int] NULL,
	[MerchantId] [int] NULL,
	[MerchantBranchId] [int] NULL,
	[CardId] [int] NOT NULL,
	[TerminalId] [int] NULL,
	[ChannelId] [int] NULL,
	[IsPromotion] [int] NOT NULL,
	[CampaignId] [int] NOT NULL,
	[PromotionUsed] [bit] NOT NULL,
	[PromotionUsedOn] [datetime] NULL,
	[Amount] [decimal](18, 3) NULL,
	[Points] [int] NULL,
	[ReferenceNo] [varchar](50) NULL,
	[STAN] [int] NOT NULL,
	[TerminalDesc] [varchar](50) NULL,
	[TerminalAppVersion] [varchar](5) NULL,
	[RedemptionTypeId] [int] NULL,
	[BrandId] [int] NULL,
	[AddedBy] [int] NULL,
	[AddedOn] [datetime] NOT NULL,
	[PromotionCampaignMasterId] [int] NULL,
	[DiscountPercentage] [int] NULL,
	[DiscountedAmount] [decimal](18, 3) NULL,
	[NetAmountAfterDiscount] [decimal](18, 3) NULL,
	[CostBaring] [decimal](18, 3) NULL,
	[IsDigitalVoucher] [bit] NULL,
	[DigitalVoucherCampaignId] [int] NULL,
	[EmailAddress] [varchar](50) NULL,
	[CompanyName] [varchar](50) NULL,
	[BrandName] [varchar](50) NULL,
	[VoucherNumber] [varchar](50) NULL,
 CONSTRAINT [PK_PointRedeemMaster] PRIMARY KEY CLUSTERED 
(
	[PointRedeemMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_PointRedeemMaster_PointRedeemCode] UNIQUE NONCLUSTERED 
(
	[PointRedeemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_PointRedeemMaster_STAN] UNIQUE NONCLUSTERED 
(
	[STAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PointRedeemMaster]  WITH CHECK ADD  CONSTRAINT [fk_PointRedeemMaster_CardId] FOREIGN KEY([CardId])
REFERENCES [dbo].[CardMaster] ([CardId])
GO
ALTER TABLE [dbo].[PointRedeemMaster] CHECK CONSTRAINT [fk_PointRedeemMaster_CardId]
GO
ALTER TABLE [dbo].[PointRedeemMaster]  WITH CHECK ADD  CONSTRAINT [fk_PointRedeemMaster_ChannelId] FOREIGN KEY([ChannelId])
REFERENCES [dbo].[ChannelMaster] ([ChannelId])
GO
ALTER TABLE [dbo].[PointRedeemMaster] CHECK CONSTRAINT [fk_PointRedeemMaster_ChannelId]
GO
ALTER TABLE [dbo].[PointRedeemMaster]  WITH CHECK ADD  CONSTRAINT [fk_PointRedeemMaster_MerchantBranchId] FOREIGN KEY([MerchantBranchId])
REFERENCES [dbo].[MerchantBranch] ([MerchantBranchId])
GO
ALTER TABLE [dbo].[PointRedeemMaster] CHECK CONSTRAINT [fk_PointRedeemMaster_MerchantBranchId]
GO
ALTER TABLE [dbo].[PointRedeemMaster]  WITH CHECK ADD  CONSTRAINT [fk_PointRedeemMaster_MerchantId] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[MerchantMaster] ([MerchantId])
GO
ALTER TABLE [dbo].[PointRedeemMaster] CHECK CONSTRAINT [fk_PointRedeemMaster_MerchantId]
GO
