USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[CurrencyConversion]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrencyConversion](
	[CurrencyConversionID] [int] IDENTITY(1,1) NOT NULL,
	[FromCurrencyID] [int] NOT NULL,
	[ToCurrencyID] [int] NOT NULL,
	[ConversionRate] [decimal](18, 5) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[LastUpdatedBy] [int] NOT NULL,
	[LastUpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_CurrencyConversion] PRIMARY KEY CLUSTERED 
(
	[CurrencyConversionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CurrencyConversion]  WITH CHECK ADD  CONSTRAINT [FK_CurrencyConversion_Currency] FOREIGN KEY([FromCurrencyID])
REFERENCES [dbo].[Currency] ([CurrencyID])
GO
ALTER TABLE [dbo].[CurrencyConversion] CHECK CONSTRAINT [FK_CurrencyConversion_Currency]
GO
ALTER TABLE [dbo].[CurrencyConversion]  WITH CHECK ADD  CONSTRAINT [FK_CurrencyConversion_Currency1] FOREIGN KEY([ToCurrencyID])
REFERENCES [dbo].[Currency] ([CurrencyID])
GO
ALTER TABLE [dbo].[CurrencyConversion] CHECK CONSTRAINT [FK_CurrencyConversion_Currency1]
GO
