USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[PartitionType]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartitionType](
	[PartitionTypeId] [int] NOT NULL,
	[PartitionTypeName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ParitionType] PRIMARY KEY CLUSTERED 
(
	[PartitionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
