USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[BrandVouchers]    Script Date: 7/23/2025 10:55:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrandVouchers](
	[BrandVoucherId] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [varchar](50) NOT NULL,
	[CompanyBrandId] [int] NOT NULL,
	[BrandVoucherLogo] [varchar](100) NOT NULL,
	[BrandVoucherOMR] [varchar](100) NOT NULL,
	[BrandVoucherPoints] [varchar](100) NOT NULL,
	[EmailSentTo] [varchar](500) NULL,
	[IsActive] [bit] NULL,
	[AddedBy] [int] NULL,
	[AddedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[BrandNameArabic] [nvarchar](max) NULL,
	[BrandCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_BrandVouchers] PRIMARY KEY CLUSTERED 
(
	[BrandVoucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BrandVouchers]  WITH CHECK ADD  CONSTRAINT [FK_BrandVouchers_CompanyMaster] FOREIGN KEY([CompanyBrandId])
REFERENCES [dbo].[CompanyMaster] ([CompanyId])
GO
ALTER TABLE [dbo].[BrandVouchers] CHECK CONSTRAINT [FK_BrandVouchers_CompanyMaster]
GO
