USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[CardType]    Script Date: 7/23/2025 10:55:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardType](
	[CardTypeId] [int] NOT NULL,
	[CardType] [varchar](50) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[Multiplier] [decimal](5, 1) NULL,
	[FromRange] [decimal](12, 3) NULL,
	[ToRange] [decimal](12, 3) NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[CardTypeArabic] [nvarchar](max) NULL,
 CONSTRAINT [PK_CardType] PRIMARY KEY CLUSTERED 
(
	[CardTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_CardType_CardType] UNIQUE NONCLUSTERED 
(
	[CardType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CardType]  WITH CHECK ADD  CONSTRAINT [fk_CardType_AddedBy] FOREIGN KEY([AddedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[CardType] CHECK CONSTRAINT [fk_CardType_AddedBy]
GO
ALTER TABLE [dbo].[CardType]  WITH CHECK ADD  CONSTRAINT [fk_CardType_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[CardType] CHECK CONSTRAINT [fk_CardType_UpdatedBy]
GO
