USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[sp_PointManagement]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_PointManagement] 
@CardId int,
@IsAward bit,
@Date date,
@PointExpiryYearId int,
@Points decimal(18,2),
@AddedOn datetime,
@UpdatedOn datetime
AS
BEGIN
	declare @OldPoints decimal(18,2);
	declare @RemainingPoints decimal(18,2);
	declare @PointManagementId int;

	IF @IsAward=1
	BEGIN
		select top 1 @OldPoints=Points,@PointManagementId=PointManagementId from PointManagement where CardId=@CardId and [Date]<@Date and Points<0
		IF @OldPoints is NULL
		BEGIN
			select top 1 @OldPoints=Points,@PointManagementId=PointManagementId from PointManagement where CardId=@CardId and [Date]=@Date and PointExpiryYearId=@PointExpiryYearId
			IF @OldPoints is NULL
			BEGIN
				Insert into PointManagement (CardId,[Date],PointExpiryYearId,Points,AddedOn,UpdatedOn) values
				(@CardId,@Date,@PointExpiryYearId,@Points,@AddedOn,@UpdatedOn)
			END
			ELSE
			BEGIN
				Update PointManagement set Points=@OldPoints+@Points,UpdatedOn=@UpdatedOn where PointManagementId=@PointManagementId
			END
		END
		ELSE
		BEGIN
			IF abs(@OldPoints)>=@Points
			BEGIN
				Update PointManagement set Points=@OldPoints+@Points,UpdatedOn=@UpdatedOn where PointManagementId=@PointManagementId 
			END
			ELSE
			BEGIN
				Update PointManagement set Points=0,UpdatedOn=@UpdatedOn where PointManagementId=@PointManagementId 
				set @RemainingPoints = @Points-@OldPoints;
				set @OldPoints=null;
				set @PointManagementId=null;
				select top 1 @OldPoints=Points,@PointManagementId=PointManagementId from PointManagement where CardId=@CardId and [Date]=@Date and PointExpiryYearId=@PointExpiryYearId
				IF @OldPoints is NULL
				BEGIN
					Insert into PointManagement (CardId,[Date],PointExpiryYearId,Points,AddedOn,UpdatedOn) values
					(@CardId,@Date,@PointExpiryYearId,@Points,@AddedOn,@UpdatedOn)
				END
				ELSE
				BEGIN
					Update PointManagement set Points=@OldPoints+@RemainingPoints,UpdatedOn=@UpdatedOn where PointManagementId=@PointManagementId
				END
			END
		END
	END
	ELSE
	BEGIN
		select top 1 @OldPoints=Points,@PointManagementId=PointManagementId from PointManagement where CardId=@CardId and Points!=0
		IF @OldPoints is NULL
		BEGIN
			select @PointManagementId=PointManagementId from PointManagement where CardId=@CardId and [Date]=@Date
			IF @PointManagementId is null
				Insert into PointManagement (CardId,[Date],PointExpiryYearId,Points,AddedOn,UpdatedOn) values
				(@CardId,@Date,@PointExpiryYearId,@Points*-1,@AddedOn,@UpdatedOn)
			ELSE
				Update PointManagement set Points=Points-@Points,UpdatedOn=@UpdatedOn where PointManagementId=@PointManagementId
		END
		ELSE
		BEGIN
			set @RemainingPoints = @Points;
			WHILE 1=1
			BEGIN
				IF abs(@OldPoints)>=@RemainingPoints
				BEGIN
					Update PointManagement set Points=@OldPoints-@RemainingPoints,UpdatedOn=@UpdatedOn where PointManagementId=@PointManagementId
					Break;
				END
				ELSE
				BEGIN
					Update PointManagement set Points=0,UpdatedOn=@UpdatedOn where PointManagementId=@PointManagementId
					set @RemainingPoints = @RemainingPoints-@OldPoints;
				END
				set @OldPoints=null;
				set @PointManagementId=null;
				select top 1 @OldPoints=Points,@PointManagementId=PointManagementId from PointManagement where CardId=@CardId and Points!=0
				
				if @OldPoints is null
				BEGIN
					Update PointManagement set Points=Points-@RemainingPoints,UpdatedOn=@UpdatedOn where CardId=@CardId and [Date]=@Date
					BREAK;
				END
			END
		END
	END
END
GO
