USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[Sp_InsertDigitalVocuhers]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
                CREATE PROCEDURE[dbo].[Sp_InsertDigitalVocuhers]

         @Details DigitalVouchersInsertScheme READONLY
    AS
        BEGIN

            INSERT INTO EVouchers(EVoucherCompanyId,FileName,SNo,EVoucherNumber,Denomination,Points,ExpiryDate,Available,AddedBy,AddedOn,UpdatedBy,UpdatedOn)
            SELECT EVoucherCompanyId,FileName,SNo,EVoucherNumber,Denomination,Points,ExpiryDate,Available,AddedBy,AddedOn,UpdatedBy,UpdatedOn FROM @Details

        END
GO
