USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[BusinessType]    Script Date: 7/23/2025 10:55:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessType](
	[BusinessTypeId] [int] NOT NULL,
	[MCC] [int] NULL,
	[BusinessName] [varchar](200) NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_BusinessType] PRIMARY KEY CLUSTERED 
(
	[BusinessTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BusinessType]  WITH CHECK ADD  CONSTRAINT [fk_BusinessType_AddedBy] FOREIGN KEY([AddedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[BusinessType] CHECK CONSTRAINT [fk_BusinessType_AddedBy]
GO
ALTER TABLE [dbo].[BusinessType]  WITH CHECK ADD  CONSTRAINT [fk_BusinessType_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[BusinessType] CHECK CONSTRAINT [fk_BusinessType_UpdatedBy]
GO
