USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[PointExpiryMaster]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointExpiryMaster](
	[PointExpiryMasterId] [int] IDENTITY(1,1) NOT NULL,
	[CardId] [int] NOT NULL,
	[LoyaltyPointsToExpire] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[AddedBy] [int] NOT NULL,
 CONSTRAINT [PK_PointExpiryMaster] PRIMARY KEY CLUSTERED 
(
	[PointExpiryMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PointExpiryMaster]  WITH CHECK ADD  CONSTRAINT [FK_PointExpiryMaster_CardMaster] FOREIGN KEY([CardId])
REFERENCES [dbo].[CardMaster] ([CardId])
GO
ALTER TABLE [dbo].[PointExpiryMaster] CHECK CONSTRAINT [FK_PointExpiryMaster_CardMaster]
GO
