USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[CardTransfer]    Script Date: 7/23/2025 10:55:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardTransfer](
	[CardTransferId] [int] NOT NULL,
	[CardTransferCode] [varchar](20) NOT NULL,
	[MerchantId] [int] NOT NULL,
	[TransferMerchantBranchId] [int] NOT NULL,
	[StartCardNo] [numeric](16, 0) NOT NULL,
	[EndCardNo] [numeric](16, 0) NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_CardTransfer] PRIMARY KEY CLUSTERED 
(
	[CardTransferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CardTransfer]  WITH CHECK ADD  CONSTRAINT [fk_CardTransfer_AddedBy] FOREIGN KEY([AddedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[CardTransfer] CHECK CONSTRAINT [fk_CardTransfer_AddedBy]
GO
ALTER TABLE [dbo].[CardTransfer]  WITH CHECK ADD  CONSTRAINT [fk_CardTransfer_MerchantId] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[MerchantMaster] ([MerchantId])
GO
ALTER TABLE [dbo].[CardTransfer] CHECK CONSTRAINT [fk_CardTransfer_MerchantId]
GO
ALTER TABLE [dbo].[CardTransfer]  WITH CHECK ADD  CONSTRAINT [fk_CardTransfer_TransferMerchantBranchId] FOREIGN KEY([TransferMerchantBranchId])
REFERENCES [dbo].[MerchantBranch] ([MerchantBranchId])
GO
ALTER TABLE [dbo].[CardTransfer] CHECK CONSTRAINT [fk_CardTransfer_TransferMerchantBranchId]
GO
