USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[MerchantConfiguration]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MerchantConfiguration](
	[MerchantConfigurationId] [int] IDENTITY(1,1) NOT NULL,
	[MerchantId] [int] NOT NULL,
	[IsInvoiceEnable] [bit] NOT NULL,
	[MinimumPointsForTopUp] [int] NULL,
	[MinimumPointsToRedeem] [int] NOT NULL,
	[NumberOfTrxnExceedsPerDay] [int] NOT NULL,
	[NumberOfTrxnExceedsPerWeek] [int] NOT NULL,
	[RedemptionTrxnExceedsPerDay] [int] NOT NULL,
	[PointsEarnedExceed] [int] NOT NULL,
	[POSConfigPassword] [varchar](50) NOT NULL,
	[ThresholdForHighStreetRetailers] [int] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[ToAddInLoyalty] [bit] NULL,
	[NumberOfTrxnExceedsPerMonth] [int] NOT NULL,
 CONSTRAINT [PK_MerchantConfiguration] PRIMARY KEY CLUSTERED 
(
	[MerchantConfigurationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_MerchantConfiguration_MerchantId] UNIQUE NONCLUSTERED 
(
	[MerchantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MerchantConfiguration] ADD  DEFAULT ((-1)) FOR [NumberOfTrxnExceedsPerMonth]
GO
ALTER TABLE [dbo].[MerchantConfiguration]  WITH CHECK ADD  CONSTRAINT [fk_MerchantConfiguratiion_MerchantId] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[MerchantMaster] ([MerchantId])
GO
ALTER TABLE [dbo].[MerchantConfiguration] CHECK CONSTRAINT [fk_MerchantConfiguratiion_MerchantId]
GO
ALTER TABLE [dbo].[MerchantConfiguration]  WITH CHECK ADD  CONSTRAINT [fk_MerchantConfiguration_AddedBy] FOREIGN KEY([AddedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[MerchantConfiguration] CHECK CONSTRAINT [fk_MerchantConfiguration_AddedBy]
GO
ALTER TABLE [dbo].[MerchantConfiguration]  WITH CHECK ADD  CONSTRAINT [fk_MerchantConfiguration_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[MerchantConfiguration] CHECK CONSTRAINT [fk_MerchantConfiguration_UpdatedBy]
GO
