USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllTransactions]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

        CREATE PROCEDURE[dbo].[SP_GetAllTransactions]
        (
                @OOMCOID varchar(50) = '', 
              @TransactionType int = 0,
              @BranchId int = 0,
              @MerchantId int = 0,
              @CityId int = 0,
              @CardType int = 0,
              @StartDate DateTime,
              @EndDate DateTime,
              @RedemptionTypeId int = 0,
              @EarningTypeId int = 0
              --@PageIndex int, 
              --@PageSize int
          )
          AS


          BEGIN


              SET NOCOUNT ON;

              -------TransactionTypeIds--------

              DECLARE @All int = 0;
              DECLARE @Award int = 1;
              DECLARE @Redeem int = 2;
              DECLARE @Reversal int = 3;
              DECLARE @NonFinancial int = 4;
              DECLARE @Adjustment int = 5;
              DECLARE @TotalRecords int = 0;
              DECLARE @num_hours int = -4; 


              --------------------------------------------
          IF(@OOMCOID = '')

              BEGIN
                  set @OOMCOID='0'
              END

			IF(@TransactionType = @Award or @TransactionType = @All)

          BEGIN
          select* into #AwardTransaction from (	
          Select TM.CardId, CD.CustomerDataId, CONVERT(VARCHAR(20), TM.ServerDateTime, 100) TransactionDate,  
          CASE
              WHEN MB.BranchName is null THEN A.StationCode
              ELSE MB.BranchName
          END AS BranchName,
          CASE
            WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, @num_hours, TM.AddedOn)
            ELSE TM.AddedOn
            END AS AddedOn,
          CM.OOMCOID, Ct.CardType,
          TM.TransactionId TransactionMasterId, Term.TerminalId, CM.MerchantId, ISNULL(CM.IsHighStreetCustomer,0) IsHighStreetCustomer,
          CD.FirstName, CD.LastName,'Award'+' (' + ET.EarningTypeName + '-'+ P.OOMCOProductCode + ')' TransactionType,0 RuleId,
          A.Amount, A.Points, TM.ExpiryDate PointExpiryDate,
          A.ReferenceNo,A.STAN, MB.MerchantBranchId, C.CityId,'N/A'PromotionName,'N/A' PromotionType,
          TM.PreTxnPoint PerBalance, C.CityName,Term.POSSerialNo, 0 IsPromotion,0 PromotionTypeId,
          TM.PostTxnPoint PostBalance, TM.ServerDateTime,TM.PreTxnPointNonFinancial,TM.PostTxnPointNonFinancial,CM.CardTypeId,
          0 DiscountedAmount,0 DiscountPercentage, 0 NetAmountAfterDiscount,A.ProductQty, 'No' as IsCostBare,0 as CostBaring,
          0 RedemptionTypeId,ET.EarningTypeId,
          CASE
            WHEN TM.IsSettled = 1 THEN 'Settled' 
            ELSE 'Non-Settled' 
          END AS SettlementStatus
          From PointAwardMaster A
          inner join TransactionMaster TM on A.PointAwardMasterId = TM.ReferenceId
          and TM.TransactionCodeId = 1
          and TM.ReferenceTypeId = 1
          left join TerminalMaster Term on A.TerminalId = Term.TerminalId
          left join MerchantBranch MB on Term.MerchantBranchId = MB.MerchantBranchId and Term.MerchantId = MB.MerchantId
          left join City C on MB.CityId = C.CityId
          left join CardMaster CM on TM.CardId = CM.CardId and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
          left join CardType CT on CM.CardTypeId = CT.CardTypeId
          left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId
          left join CampaignMaster CPM on A.CampaignId = CPM.CampaignId
          left join EarningType ET on CPM.EarningTypeId = ET.EarningTypeId
          left join Products P on A.ProductId = P.ProductId
          )T WHERE T.STAN not in (select STAN from ReversalMaster where IsSale=1) 
          AND(T.MerchantId= @MerchantId OR @MerchantId = 0) AND(T.CardTypeId= @CardType OR @CardType = 0)
          AND(T.OOMCOID= @OOMCOID OR @OOMCOID = '0') AND(T.MerchantBranchId= @BranchId OR @BranchId = 0)
          AND(T.CityId= @CityId OR @CityId = 0)
          AND(T.EarningTypeId= @EarningTypeId OR @EarningTypeId = 0)
          AND T.AddedOn >= @StartDate AND T.AddedOn <= @EndDate
          AND T.IsHighStreetCustomer= 0
          End

			IF (@TransactionType = @Redeem or @TransactionType = @All)
           BEGIN
          select* into #RedeemTransaction from (	
          Select TM.CardId, CD.CustomerDataId, CONVERT(VARCHAR(20), TM.ServerDateTime, 100) TransactionDate,

		  MB.BranchName,
		  --Following line is commented by Mustafa/Faizan due to Annie request on 31-Dec-2019.
          --CASE
          --    WHEN A.IsPromotion = 1 THEN PG.PromotionGroupName
          --    ELSE MB.BranchName
          --END AS BranchName,
            CASE
            WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, @num_hours, TM.AddedOn)
            ELSE TM.AddedOn
            END AS AddedOn,
          CM.OOMCOID, Ct.CardType,
          TM.TransactionId TransactionMasterId, Term.TerminalId, CM.MerchantId, ISNULL(CM.IsHighStreetCustomer,0) IsHighStreetCustomer,
          CD.FirstName, CD.LastName,RT.RedemtionTypeName + ' ' + IsNull(PM.PromotionName,'') TransactionType,0 RuleId,
           (A.Amount*-1) Amount, (A.Points*-1) Points, TM.ExpiryDate PointExpiryDate,
          A.ReferenceNo,A.STAN, MB.MerchantBranchId,C.CityId,PM.PromotionName,PT.PromotionName PromotionType,
           TM.PreTxnPoint PerBalance, C.CityName,Term.POSSerialNo,A.IsPromotion,IsNull(PT.PromotionTypeId,0) PromotionTypeId,
          TM.PostTxnPoint PostBalance, TM.ServerDateTime,TM.PreTxnPointNonFinancial,TM.PostTxnPointNonFinancial,CM.CardTypeId,
          A.DiscountedAmount,A.DiscountPercentage,A.NetAmountAfterDiscount,0.000 ProductQty, 
		  CASE
            WHEN PM.IsCostBare  = 1 THEN 'Yes' 
            ELSE 'No' 
          END AS IsCostBare,
		  A.CostBaring,
          A.RedemptionTypeId,0 EarningTypeId,
          CASE
            WHEN TM.IsSettled = 1 THEN 'Settled' 
            ELSE 'Non-Settled' 
          END AS SettlementStatus
          From PointRedeemMaster A
          inner join TransactionMaster TM on A.PointRedeemMasterId = TM.ReferenceId
          and TM.TransactionCodeId = 2
          and TM.ReferenceTypeId = 2
          left join TerminalMaster Term on A.TerminalId = Term.TerminalId 
          left join MerchantBranch MB on Term.MerchantBranchId = MB.MerchantBranchId and Term.MerchantId = MB.MerchantId
          left join City C on MB.CityId = C.CityId
          left join CardMaster CM on TM.CardId = CM.CardId  and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
          left join CardType CT on CM.CardTypeId = CT.CardTypeId
          left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId
          left join RedemptionType RT on RT.RedemptionTypeId = A.RedemptionTypeId
          left join PromotionMaster PM on A.CampaignId= PM.PromotionId
          left join PromotionType PT on PM.PromotionTypeId= PT.PromotionTypeId
          left join PromotionGroup PG on PM.PromotionGroupId= PG.PromotionGroupId
          )T WHERE T.STAN not in (select STAN from ReversalMaster where IsSale=0) 
          AND(T.MerchantId= @MerchantId OR @MerchantId = 0) AND(T.CardTypeId= @CardType OR @CardType = 0)
          AND(T.OOMCOID= @OOMCOID OR @OOMCOID = '0') AND(T.MerchantBranchId= @BranchId OR @BranchId = 0)
          AND(T.CityId= @CityId OR @CityId = 0)
          AND(T.RedemptionTypeId= @RedemptionTypeId OR @RedemptionTypeId = 0)
          AND T.AddedOn >= @StartDate AND T.AddedOn <= @EndDate
          AND T.IsHighStreetCustomer= 0

           End

			IF(@TransactionType = @NonFinancial or @TransactionType = @All)

              BEGIN

              select* into #NonFinancialTransactions from (	
              Select TM.CardId, CD.CustomerDataId, CONVERT(VARCHAR(20), TM.ServerDateTime, 100) TransactionDate,  'N/A' BranchName,

              CASE
                WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, @num_hours, TM.AddedOn)
                ELSE TM.AddedOn
            END AS AddedOn,

              CM.OOMCOID, Ct.CardType,
              TM.TransactionId TransactionMasterId,  0 TerminalId, 0 MerchantId, CM.IsHighStreetCustomer,
              CD.FirstName, CD.LastName, (NPR.RuleName +' (Non Financial)') TransactionType,NPR.RuleId,
              0 Amount, A.Points, TM.ExpiryDate PointExpiryDate,
              A.ReferenceNo,A.STAN,0 MerchantBranchId,0 CityId,''PromotionName,'' PromotionType,
              TM.PreTxnPoint PerBalance, '' CityName,0 POSSerialNo,0 IsPromotion,0 PromotionTypeId,
              TM.PostTxnPoint PostBalance, TM.ServerDateTime,TM.PreTxnPointNonFinancial,TM.PostTxnPointNonFinancial,CM.CardTypeId,
               0 DiscountedAmount,0 DiscountPercentage, 0 NetAmountAfterDiscount,0.000 ProductQty, 'No' as IsCostBare, 0 as CostBaring,
             0 RedemptionTypeId,0 EarningTypeId,
          CASE
            WHEN TM.IsSettled = 1 THEN 'Settled' 
            ELSE 'Non-Settled' 
          END AS SettlementStatus

              From NonFinancialAwardMaster A
              inner join TransactionMaster TM on A.NonFinancialAwardMasterId = TM.ReferenceId
              and TM.TransactionCodeId = 4
              and TM.ReferenceTypeId = 4
              inner join CardMaster CM on TM.CardId = CM.CardId and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
              inner join CardType CT on CM.CardTypeId = CT.CardTypeId
              left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId
              left join NonMonetaryPointsRule NPR on A.RuleId = NPR.RuleId
              )T WHERE T.STAN not in (select STAN from ReversalMaster)
          AND(T.OOMCOID= @OOMCOID OR @OOMCOID = '0') AND(T.CardTypeId= @CardType OR @CardType = 0)
          AND(T.MerchantBranchId= @BranchId OR @BranchId = 0) AND(T.CityId= @CityId OR @CityId = 0)
          AND T.AddedOn >= @StartDate AND T.AddedOn <= @EndDate
          AND T.IsHighStreetCustomer= 0


              END

			IF(@TransactionType = @Reversal or @TransactionType = @All)

              BEGIN

              select* into #ReversalTransactions from (	
                      Select TM.CardId, CD.CustomerDataId, CONVERT(VARCHAR(20), TM.ServerDateTime, 100) TransactionDate,  MB.BranchName,
                      CASE
                            WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, @num_hours, TM.AddedOn)
                            ELSE TM.AddedOn
                    END AS AddedOn,

                      CM.OOMCOID, Ct.CardType,
                      TM.TransactionId TransactionMasterId, Term.TerminalId, CM.MerchantId, ISNULL(CM.IsHighStreetCustomer,0) IsHighStreetCustomer,
                      CD.FirstName, CD.LastName,'Reversal' TransactionType,0 RuleId,
                      A.Amount, A.Points, TM.ExpiryDate PointExpiryDate,
                      A.ReferenceNo,A.STAN, MB.MerchantBranchId,C.CityId,''PromotionName,'' PromotionType,
                      TM.PreTxnPoint PerBalance, C.CityName,Term.POSSerialNo,0 IsPromotion,0 PromotionTypeId,
                      TM.PostTxnPoint PostBalance, TM.ServerDateTime,TM.PreTxnPointNonFinancial,TM.PostTxnPointNonFinancial,CM.CardTypeId, 
                      0 DiscountedAmount,0 DiscountPercentage, 0 NetAmountAfterDiscount,0.000 ProductQty, 'No' as IsCostBare, 0 as CostBaring,
                      0 RedemptionTypeId,0 EarningTypeId,
          CASE
            WHEN TM.IsSettled = 1 THEN 'Settled' 
            ELSE 'Non-Settled' 
          END AS SettlementStatus

                      From ReversalMaster A
                      inner join TransactionMaster TM on A.ReversalMasterId = TM.ReferenceId
                      and TM.TransactionCodeId = 5
                      and TM.ReferenceTypeId = 5
                      left join TerminalMaster Term on A.TerminalId = Term.TerminalId
                      left join MerchantBranch MB on Term.MerchantBranchId = MB.MerchantBranchId and Term.MerchantId = MB.MerchantId
                      left join City C on MB.CityId = C.CityId
                      inner join CardMaster CM on TM.CardId = CM.CardId and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
                      inner join CardType CT on CM.CardTypeId = CT.CardTypeId
                      left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId

              )T WHERE
              (T.MerchantId= @MerchantId OR @MerchantId = 0)AND(T.CardTypeId= @CardType OR @CardType = 0)
          AND(T.OOMCOID= @OOMCOID OR @OOMCOID = '0') AND(T.MerchantBranchId= @BranchId OR @BranchId = 0) AND(T.CityId= @CityId OR @CityId = 0)
          AND T.AddedOn >= @StartDate AND T.AddedOn <= @EndDate
          AND T.IsHighStreetCustomer= 0



              END

			IF (@TransactionType = @Adjustment or @TransactionType = @All)
           BEGIN
          select* into #AdjustmentTransaction from (	
          Select TM.CardId, CD.CustomerDataId, CONVERT(VARCHAR(20), TM.ServerDateTime, 100) TransactionDate,  'N/A' BranchName,


          CASE
            WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, @num_hours, TM.AddedOn)
            ELSE TM.AddedOn
        END AS AddedOn,

          CM.OOMCOID, Ct.CardType,
          TM.TransactionId TransactionMasterId, 0 TerminalId, CM.MerchantId, ISNULL(CM.IsHighStreetCustomer,0) IsHighStreetCustomer,
          CD.FirstName, CD.LastName,'Bonus' TransactionType,0 RuleId,
           0 Amount, A.Points, TM.ExpiryDate PointExpiryDate,
          '' ReferenceNo,0 STAN, 0 MerchantBranchId,0 CityId,'' PromotionName,'' PromotionType,
           TM.PreTxnPoint PerBalance, '' CityName,0 POSSerialNo,0 IsPromotion,0 PromotionTypeId,
          TM.PostTxnPoint PostBalance, TM.ServerDateTime,TM.PreTxnPointNonFinancial,TM.PostTxnPointNonFinancial,CM.CardTypeId, 
          0 DiscountedAmount,0 DiscountPercentage, 0 NetAmountAfterDiscount,0.000 ProductQty, 'No' as IsCostBare, 0 as CostBaring,
          0 RedemptionTypeId,0 EarningTypeId,
          CASE
            WHEN TM.IsSettled = 1 THEN 'Settled' 
            ELSE 'Non-Settled' 
          END AS SettlementStatus
          From PointAdjustmentMaster A
          inner join TransactionMaster TM on A.PointAdjustmentMasterId = TM.ReferenceId
          and TM.TransactionCodeId = 3
          and TM.ReferenceTypeId = 3
          left join CardMaster CM on TM.CardId = CM.CardId and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
          left join CardType CT on CM.CardTypeId = CT.CardTypeId
          left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId
          --Where 1=1
          )T WHERE T.STAN not in (select STAN from ReversalMaster where IsSale=0) 
          AND(T.MerchantId= @MerchantId OR @MerchantId = 0)AND(T.CardTypeId= @CardType OR @CardType = 0)
          AND(T.OOMCOID= @OOMCOID OR @OOMCOID = '0') AND(T.MerchantBranchId= @BranchId OR @BranchId = 0) AND(T.CityId= @CityId OR @CityId = 0)
          AND T.AddedOn >= @StartDate AND T.AddedOn <= @EndDate
          AND T.IsHighStreetCustomer= 0

           End

			IF @TransactionType= @All 
		   Begin
          select * into #AllTransaction from (
          select * From #RedeemTransaction
          Union ALL
          select * From #AwardTransaction
          Union ALL
          select * From #NonFinancialTransactions
          Union ALL
          select * From #ReversalTransactions
          Union ALL
          select * From #AdjustmentTransaction
          )T
           End

			IF @TransactionType = @Redeem
          BEGIN

		 --Select * from #RedeemTransaction order by ServerDateTime desc

          Select* from(
          select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #RedeemTransaction a 
          )T --order by T.ServerDateTime desc
          --Where T.RowNum BETWEEN ((@PageIndex-@PageIndex)*@PageSize)+@PageIndex AND @PageSize* (@PageIndex)

           Select  @TotalRecords = COUNT(*) from #RedeemTransaction

		    -- Select  @TotalRecords = COUNT(*)from(
          -- select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from ##RedeemTransaction a 
          --)T

          END

			IF @TransactionType = @All
          BEGIN

          Select* from(
          select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #AllTransaction a 
          )T --order by T.ServerDateTime desc
          --Where T.RowNum BETWEEN ((@PageIndex-@PageIndex)*@PageSize)+@PageIndex AND @PageSize* (@PageIndex)

		  Select  @TotalRecords = COUNT(*) from #AllTransaction

          -- Select  @TotalRecords = COUNT(*)from(
          -- select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #AllTransaction a 
          --)T

          END

			IF @TransactionType = @Award
          BEGIN

          Select* from(
          select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #AwardTransaction a 
          )T --order by T.ServerDateTime desc
          --Where T.RowNum BETWEEN ((@PageIndex-@PageIndex)*@PageSize)+@PageIndex AND @PageSize* (@PageIndex)



		  Select  @TotalRecords = COUNT(*) from #AwardTransaction

          -- Select  @TotalRecords =  COUNT(*) from(
          -- select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #AwardTransaction a 
          --)T


          END

			IF @TransactionType = @NonFinancial
          BEGIN

          Select* from(
          select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #NonFinancialTransactions a 
          )T --order by T.ServerDateTime desc
          --Where T.RowNum BETWEEN ((@PageIndex-@PageIndex)*@PageSize)+@PageIndex AND @PageSize* (@PageIndex)

		  Select  @TotalRecords = COUNT(*) from #NonFinancialTransactions

          -- Select  @TotalRecords =  COUNT(*) from(
          -- select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #NonFinancialTransactions a 
          --)T

          END

			IF @TransactionType = @Reversal
          BEGIN

          Select* from(
          select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #ReversalTransactions a 
          )T --order by T.ServerDateTime desc
          --Where T.RowNum BETWEEN ((@PageIndex-@PageIndex)*@PageSize)+@PageIndex AND @PageSize* (@PageIndex)

		  Select  @TotalRecords = COUNT(*) from #ReversalTransactions


          -- Select  @TotalRecords =  COUNT(*) from(
          -- select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #ReversalTransactions a 
          --)T

          END

			IF @TransactionType = @Adjustment
          BEGIN

          Select* from(
          select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #AdjustmentTransaction a 
          )T --order by T.ServerDateTime desc
          --Where T.RowNum BETWEEN ((@PageIndex-@PageIndex)*@PageSize)+@PageIndex AND @PageSize* (@PageIndex)


		  Select  @TotalRecords = COUNT(*) from #AdjustmentTransaction

          -- Select  @TotalRecords =  COUNT(*) from(
          -- select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #AdjustmentTransaction a 
          --)T

          END
		 
			IF(@OOMCOID <> 0)
          
			BEGIN
		  
			Select @TotalRecords TotalNoOfRecords, a.LoyaltyPoints,a.NonFinancialPoints, a.EndDate as BalanceExpiry from CardMaster a
			inner join CustomerData CD on a.CardId = CD.CardId
			where (a.OOMCOID = @OOMCOID OR @OOMCOID = '0') AND a.IsHighStreetCustomer=0
		  
		  End


          END
GO
