USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[SpecialCustomerMaster]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecialCustomerMaster](
	[SpecialCustomerMasterId] [int] IDENTITY(1,1) NOT NULL,
	[Count] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[AddedBy] [int] NOT NULL,
 CONSTRAINT [PK_SpecialCustomerMaster] PRIMARY KEY CLUSTERED 
(
	[SpecialCustomerMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
