USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAwardPoints]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE  PROCEDURE [dbo].[sp_GetAwardPoints]

           (
           @ProductId int,
           @Quantity decimal(18,3) = 0,
           @Amount decimal(18,3) = 0,
           @EarningTypeId int,
           @CardId int

           )
           AS 
           BEGIN 
           declare @CampaignId int
           declare @CampaignRuleId int
           declare @ExistingQuantity int 
           declare @FixedAmount decimal (18,3)
           declare @StartDate datetime
           declare @EndDate datetime
           declare @ExistingPoints decimal(18,3)
           declare @RewardedPoints decimal(18,3)
           declare @PerAmountRewardPoint decimal (18,3)
           declare @PerUnitRewardPoint decimal(18,3)
           declare @ErrorCode varchar(10)
           declare @TierMultiplyFactor decimal(18,3)

           SELECT @CampaignId = CM.CampaignId, @CampaignRuleId=CM.CampaignRuleId, @ExistingQuantity = ISNULL(CM.Quantity,0),
           @FixedAmount = ISNULL(CM.FixedAmount,0), @ExistingPoints=ISNULL(CM.Points,0), @StartDate=CM.CampaignStartDate, @EndDate=CM.CampaignEndDate
           from CampaignMaster CM where ProductId = @ProductId and EarningTypeId=@EarningTypeId and CM.IsActive=1

           --SELECT @TierMultiplyFactor=CT.Multiplier  FROM CardMaster CM 
           --INNER JOIN CardType CT on CT.CardTypeId=CM.CardTypeId
           --WHERE CM.CardId=@CardId
               IF(@CampaignId>1)
                       BEGIN
                           IF(GETDATE() Between @StartDate and @EndDate)
                               BEGIN
                                   IF(@CampaignRuleId = 1) -- 1 Is for Unit To Points
                                       BEGIN

                                           SET @PerUnitRewardPoint = @ExistingPoints/@ExistingQuantity
                                           SET @RewardedPoints = FLOOR(@PerUnitRewardPoint*@Quantity)
                                       END
                                   IF(@CampaignRuleId = 6) -- 6 is for Amount to Points
                                       BEGIN
                                           SET @PerAmountRewardPoint = @ExistingPoints/@FixedAmount

										    --Mustafa on Huzaifa request to handle 0.100 Baisa = 0 Points (22-November-2019)
                                           SET @RewardedPoints = FLOOR(@PerAmountRewardPoint*FLOOR(@Amount))   
										   --Original
										   --SET @RewardedPoints = FLOOR(@PerAmountRewardPoint*@Amount)
                                       END
                               END
                               ELSE
                                   BEGIN
                                       SET @ErrorCode = '100' -- Error code for expired campaign
                                   END
                       END
               ELSE
                   BEGIN
                       SET @ErrorCode='101'-- Error code for no campaign found
                   END

               SELECT @RewardedPoints RewardedPoints,@CampaignId CampaignId,ISNULL(@ErrorCode,'N/A') ErrorCode

           END
GO
