USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[PrefundedTransaction]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrefundedTransaction](
	[PrefundedTransactionId] [int] IDENTITY(1,1) NOT NULL,
	[MerchantId] [int] NOT NULL,
	[ReferenceNo] [varchar](50) NOT NULL,
	[Amount] [decimal](18, 3) NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[Notes] [varchar](500) NULL,
 CONSTRAINT [PK__Prefunde__72D026AE50B7922E] PRIMARY KEY CLUSTERED 
(
	[PrefundedTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PrefundedTransaction]  WITH CHECK ADD  CONSTRAINT [FK_PrefundedTransaction_MerchantMaster] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[MerchantMaster] ([MerchantId])
GO
ALTER TABLE [dbo].[PrefundedTransaction] CHECK CONSTRAINT [FK_PrefundedTransaction_MerchantMaster]
GO
