USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[Sp_PointsExpire_backup]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Sp_PointsExpire_backup]
	@NeedToExpire bit,
	@TodaysDate datetime = null
AS
BEGIN

Declare @TempCardIds Table
	(
		CardId int Not Null,
		OOMCOID varchar(50) not null,
		LoyaltyPoints decimal (18,2) null,
		TotalEarnedLoyaltyPoints decimal (18,2) null,
		TotalRedeemedPoints decimal (18,2) null,
		PointsToExpire decimal (18,2),
		Email varchar(50) null
		
	)
	declare @CardId int;
	declare @OOMCOId varchar(50);
	declare @Email varchar(50);
	--declare @TodaysDate dateTime;
	--SELECT DATEADD(month, DATEDIFF(month, 0, GETDATE()), 0) 

	--declare @TodaysDate dateTime = dateadd(m, -1, DATEADD(month, DATEDIFF(month, 0, GETDATE()), 0) );
	--declare @TodaysDate dateTime = '1-Oct-2019';
	declare @LoyaltyPoints decimal (18,2);
	declare @TotalEarnedLoyaltyPoints decimal (18,2);
	declare @TotalRedeemedPoints decimal (18,2);
	declare @PointsToExpire decimal (18,2);
	
	declare @CurrentCardLoyaltyPoints decimal (18,2);
	declare @CurrentCardNonFinancialPoints decimal (18,2);
	declare @OutId int;
	IF(@NeedToExpire= 1 AND @TodaysDate IS NULL)
		BEGIN 
		print 'Im Here'
			SET @TodaysDate = dateadd(YY, -1, DATEADD(month, DATEDIFF(month, 0, GETDATE()), 0) )
			print @TodaysDate
			SET @TodaysDate = dateadd(m, -1, DATEADD(month, DATEDIFF(month, 0, @TodaysDate), 0) )
			print @TodaysDate
		END
	ELSE
		BEGIN
			
			--SET @InComingDate = dateadd(YY, -1, DATEADD(month, DATEDIFF(month, 0, @InComingDate), 0) ) 
			SET @TodaysDate = dateadd(YY, -1, DATEADD(month, DATEDIFF(month, 0, @TodaysDate), 0) )
			print @TodaysDate
			SET @TodaysDate= dateadd(m, -1, DATEADD(month, DATEDIFF(month, 0, @TodaysDate), 0) ) 
			print @TodaysDate
		END
	

	insert into @TempCardIds (CardId,OOMCOID,LoyaltyPoints,TotalEarnedLoyaltyPoints,TotalRedeemedPoints,PointsToExpire,Email)
	((select CM.CardId, CM.OOMCOID, CM.LoyaltyPoints,
 --ISNULL(TMMin.PreTxnPoint,0) PreTxnPoint, ISNULL(TMMax.PostTxnPoint,0) PostTxnPoint, 
 ISNULL(TMMax.PostTxnPoint,0) - ISNULL(TMMin.PreTxnPoint,0) as TotalEarnedLoyaltyPoints,
 ISNULL(PRMTotal.TotalRedeemedPoints,0)TotalRedeemedPoints,
 ISNULL(TMMax.PostTxnPoint,0) - ISNULL(TMMin.PreTxnPoint,0) - ISNULL(PRMTotal.TotalRedeemedPoints,0) as PointsToExpire,
 CD.Email
 from CardMaster CM
 left join(select min(transactionId) minimum, CardId from TransactionMaster where ServerDateTime >=@TodaysDate and ServerDateTime <= dateadd(m, 1, @TodaysDate) group by CardId) PreMin on CM.CardId = PreMin.CardId
 left join TransactionMaster TMMin on PreMin.minimum = TMMin.TransactionId
 left join(select max(transactionId) maximun, CardId from TransactionMaster where ServerDateTime >=@TodaysDate and ServerDateTime <= dateadd(m, 1, @TodaysDate) group by CardId) PostMax on CM.CardId = PostMax.CardId
 left join TransactionMaster TMMax on PostMax.maximun = TMMax.TransactionId
 left join(Select Sum(Points) TotalRedeemedPoints, Cardid from PointRedeemMaster where AddedOn >=@TodaysDate and AddedOn <= dateadd(YY, 1, @TodaysDate) group by CardId) PRMTotal on CM.CardId = PRMTotal.CardId
 inner join CustomerData CD on CM.CardId=CD.CardId
 where  ISNULL(TMMax.PostTxnPoint,0) - ISNULL(TMMin.PreTxnPoint,0) >  ISNULL(PRMTotal.TotalRedeemedPoints,0)))
	
	

	IF(@NeedToExpire=1)
	
		BEGIN
		print 'Im In IF'
					DECLARE FETCH_CURSOR CURSOR FOR
				SELECT CardId,OOMCOID,LoyaltyPoints,TotalEarnedLoyaltyPoints,TotalRedeemedPoints,PointsToExpire,Email FROM @TempCardIds
			OPEN FETCH_CURSOR
				FETCH NEXT FROM FETCH_CURSOR INTO @CardId,@OOMCOId,@LoyaltyPoints,@TotalEarnedLoyaltyPoints,@TotalRedeemedPoints,@PointsToExpire,@Email
			
							WHILE (@@FETCH_STATUS=0)
								BEGIN

									SELECT @CurrentCardLoyaltyPoints = LoyaltyPoints, @CurrentCardNonFinancialPoints = NonFinancialPoints FROM CardMaster WHERE CardId = @CardId
									INSERT INTO PointExpiryMaster VALUES (@CardId,@PointsToExpire,GETDATE(),1)
									SET @OutId = SCOPE_IDENTITY();
									INSERT INTO TransactionMaster VALUES (1,@CardId, NULL, NULL,@OutId,7,7, NULL,0,0,@PointsToExpire,@CurrentCardLoyaltyPoints,@CurrentCardLoyaltyPoints-@PointsToExpire,
									@CurrentCardNonFinancialPoints,@CurrentCardNonFinancialPoints, GETDATE(),0,0, NULL,1, GETDATE(), GETDATE(),0,'01-01-1900', NULL)
									UPDATE CardMaster set LoyaltyPoints = @CurrentCardLoyaltyPoints-@PointsToExpire  WHERE CardId = @CardId
									FETCH NEXT FROM FETCH_CURSOR INTO @CardId,@OOMCOId,@LoyaltyPoints,@TotalEarnedLoyaltyPoints,@TotalRedeemedPoints,@PointsToExpire,@Email
						
								END
				
				CLOSE FETCH_CURSOR
				DEALLOCATE FETCH_CURSOR
	END
		select * from @TempCardIds
END
GO
