USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[MerchantConfigLimits]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MerchantConfigLimits](
	[MerchantConfigLimitId] [int] NOT NULL,
	[MerchantConfigurationId] [int] NOT NULL,
	[ProductGrpId] [int] NOT NULL,
	[NumberofTrxnExceedsPerDay] [int] NOT NULL,
	[RedemptionTrxnExceedsPerDay] [int] NULL,
	[NumberOfTrxnExceedsPerWeek] [int] NULL,
	[NumberOfTrxnExceedsPerMonth] [int] NOT NULL,
	[NumberOfTrxnExceedsPerBranch] [int] NOT NULL,
 CONSTRAINT [PK_MerchantConfigLimits] PRIMARY KEY CLUSTERED 
(
	[MerchantConfigLimitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MerchantConfigLimits] ADD  DEFAULT ((-1)) FOR [NumberOfTrxnExceedsPerMonth]
GO
ALTER TABLE [dbo].[MerchantConfigLimits] ADD  DEFAULT ((-1)) FOR [NumberOfTrxnExceedsPerBranch]
GO
