USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[sp_RedemptionPartnersPerformances]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	    CREATE PROCEDURE[dbo].[sp_RedemptionPartnersPerformances]
	    @PerformanceType int
	    AS
	    BEGIN
        SET NOCOUNT ON;
		IF(@PerformanceType = 0)    --Redemption Partners Performance Report
        BEGIN

            SELECT ROW_NUMBER() Over(Order by COUNT(PointRedeemMasterId) ASC) As RowNum,
            MB.BranchName, COUNT(PointRedeemMasterId) AS TotalTransaction,
            SUM(Points) AS Points, SUM(Amount) AS Amount
            FROM PointRedeemMaster PRM
            INNER JOIN MerchantBranch MB ON PRM.MerchantBranchId = MB.MerchantBranchId
            WHERE PRM.MerchantBranchId IS NOT NULL
            GROUP BY MB.BranchName

        END

        IF(@PerformanceType = 1)  -- Least 10 Performing Redemtpion Partners

        BEGIN

            SELECT TOP 10 ROW_NUMBER() Over(Order by COUNT(PointRedeemMasterId) DESC) As RowNum,
            MB.BranchName, COUNT(PointRedeemMasterId) AS TotalTransaction,
            SUM(Points) AS Points, SUM(Amount) AS Amount
            FROM PointRedeemMaster PRM
            INNER JOIN MerchantBranch MB ON PRM.MerchantBranchId = MB.MerchantBranchId
            WHERE PRM.MerchantBranchId IS NOT NULL
            GROUP BY MB.BranchName ORDER BY TotalTransaction ASC

        END

        IF(@PerformanceType = 2)    --Top 10 Performing Redemtpion Partners with out Amazon Cafe and Ahlain

        BEGIN

		--Here display data from all redemption partners EXCEPT Café Amazon (Annie Request on 12-March-2020)
		--Here display data from all redemption partners EXCEPT Ahlain (Huzaifa on 18-March-2020)
		    Select TOP 10
		    ROW_NUMBER() OVER(ORDER BY COUNT(PointRedeemMasterId) DESC) AS RowNum,
		    MB.BranchName,COUNT(PointRedeemMasterId) AS TotalTransaction,  
		    SUM(Points) AS Points, SUM(Amount) AS Amount
		    FROM PointRedeemMaster PRM
		    INNER JOIN MerchantBranch MB ON PRM.MerchantBranchId = MB.MerchantBranchId 
		    INNER JOIN PromotionCampaign PC on PRM.PromotionCampaignMasterId = PC.PromotionCampaignMasterId
		    INNER JOIN PromotionMaster PM on PC.PromotionId = PM.PromotionId
		    INNER JOIN PromotionGroup PG on PM.PromotionGroupId = PG.PromotionGroupId
		    WHERE PRM.MerchantBranchId IS NOT NULL
		    AND PG.PromotionGroupId <> '2' and PG.PromotionGroupId <> '4' and PG.PromotionGroupId <> '5'
		    GROUP BY MB.BranchName
		    ORDER BY TotalTransaction DESC

        END

		IF(@PerformanceType = 3)    --Top 5 Performing Redemption Partners for Cafe Amazon Only
        BEGIN
		--  Here display data from all redemption partners for Café Amazon only (Annie Request on 12-March-2020)
		    Select TOP 5
		    ROW_NUMBER() OVER(ORDER BY COUNT(PointRedeemMasterId) DESC) AS RowNum,
		    MB.BranchName,COUNT(PointRedeemMasterId) AS TotalTransaction,  
		    SUM(Points) AS Points, SUM(Amount) AS Amount
		    FROM PointRedeemMaster PRM
		    INNER JOIN MerchantBranch MB ON PRM.MerchantBranchId = MB.MerchantBranchId 
		    INNER JOIN PromotionCampaign PC on PRM.PromotionCampaignMasterId = PC.PromotionCampaignMasterId
		    INNER JOIN PromotionMaster PM on PC.PromotionId = PM.PromotionId
		    INNER JOIN PromotionGroup PG on PM.PromotionGroupId = PG.PromotionGroupId
		    WHERE PRM.MerchantBranchId IS NOT NULL
		    AND PG.PromotionGroupId = '2'
		    GROUP BY MB.BranchName
		    ORDER BY TotalTransaction DESC

        END

		IF(@PerformanceType = 4)    --Top 5 Performing Redemption Partners for Ahlain Only
        BEGIN
		--Here display data from all redemption partners for Ahlain only (Huzaifa on 18-March-2020)
		--id	Name
		--4		Ahlain C-Store 
		--5		Ahlain Enhance
		    Select TOP 10
		    ROW_NUMBER() OVER(ORDER BY COUNT(PointRedeemMasterId) DESC) AS RowNum,
		    MB.BranchName,COUNT(PointRedeemMasterId) AS TotalTransaction,  
		    SUM(Points) AS Points, SUM(Amount) AS Amount
		    FROM PointRedeemMaster PRM
		    INNER JOIN MerchantBranch MB ON PRM.MerchantBranchId = MB.MerchantBranchId 
		    INNER JOIN PromotionCampaign PC on PRM.PromotionCampaignMasterId = PC.PromotionCampaignMasterId
		    INNER JOIN PromotionMaster PM on PC.PromotionId = PM.PromotionId
		    INNER JOIN PromotionGroup PG on PM.PromotionGroupId = PG.PromotionGroupId
		    WHERE PRM.MerchantBranchId IS NOT NULL
		    AND PG.PromotionGroupId IN (4,5) 
		    GROUP BY MB.BranchName
		    ORDER BY TotalTransaction DESC

        END

	END
GO
