USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[Sp_DowngradeCard]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Faizan Nasir
-- Create date: 10-10-2017
-- Description:	Degrades the card type on reversal
-- =============================================
 CREATE PROCEDURE[dbo].[Sp_DowngradeCard]
     @CardId int,
     @AwardSTAN int
 AS
 BEGIN
	print @CardId
	print @AwardSTAN
     declare @ToCardType int;
     declare @FromCardType int;
     --declare @CardId int
     declare @Status bit = 0;
	
     select @FromCardType =CardTypeID, @ToCardType =ToCardTypeId
     from UpgradeLog where PointAwardSTAN = @AwardSTAN and CardId = @CardId

     IF(@@ROWCOUNT > 0)
         BEGIN
		 print 'Check is here'
             INSERT INTO UpgradeLog (CardId,CardTypeId,AddedOn,ToCardTypeId,PointAwardSTAN,ReversalMasterSTAN,
             IsUpgraded)
              Values (@CardId,@ToCardType,GetDate(),@FromCardType,NULL,@AwardSTAN,0);

              update CardMaster set CardTypeId = @FromCardType where CardId = @CardId
              set @Status = 1
         END
         select @Status as Status
    
	
 END
GO
