USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[CardReplacement]    Script Date: 7/23/2025 10:55:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardReplacement](
	[CardReplaceId] [int] IDENTITY(1,1) NOT NULL,
	[OldCardId] [int] NOT NULL,
	[NewCardId] [int] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_CardReplacement] PRIMARY KEY CLUSTERED 
(
	[CardReplaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CardReplacement]  WITH CHECK ADD  CONSTRAINT [fk_CardReplacement_AddedBy] FOREIGN KEY([AddedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[CardReplacement] CHECK CONSTRAINT [fk_CardReplacement_AddedBy]
GO
ALTER TABLE [dbo].[CardReplacement]  WITH CHECK ADD  CONSTRAINT [fk_CardReplacement_NewCardId] FOREIGN KEY([NewCardId])
REFERENCES [dbo].[CardMaster] ([CardId])
GO
ALTER TABLE [dbo].[CardReplacement] CHECK CONSTRAINT [fk_CardReplacement_NewCardId]
GO
ALTER TABLE [dbo].[CardReplacement]  WITH CHECK ADD  CONSTRAINT [fk_CardReplacement_OldCardId] FOREIGN KEY([OldCardId])
REFERENCES [dbo].[CardMaster] ([CardId])
GO
ALTER TABLE [dbo].[CardReplacement] CHECK CONSTRAINT [fk_CardReplacement_OldCardId]
GO
