USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  UserDefinedTableType [dbo].[SpecialIdsInsertScheme]    Script Date: 7/23/2025 10:55:25 AM ******/
CREATE TYPE [dbo].[SpecialIdsInsertScheme] AS TABLE(
	[SpecialCustomerMasterId] [int] NULL,
	[OOMCOId] [varchar](50) NULL
)
GO
