USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[CardMaster]    Script Date: 7/23/2025 10:55:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardMaster](
	[CardId] [int] IDENTITY(1,1) NOT NULL,
	[CardNumber] [numeric](16, 0) NOT NULL,
	[ExistingCardNumber] [numeric](16, 0) NULL,
	[OOMCOID] [varchar](50) NULL,
	[HighStreetCustomerId] [varchar](50) NULL,
	[IsHighStreetCustomer] [bit] NULL,
	[PinCode] [numeric](4, 0) NOT NULL,
	[CardTypeId] [int] NOT NULL,
	[TagId] [varchar](25) NULL,
	[MerchantId] [int] NOT NULL,
	[MerchantBranchId] [int] NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IsEnrolled] [bit] NOT NULL,
	[EnrollmentDate] [datetime] NULL,
	[IsPersonalized] [bit] NOT NULL,
	[PersonalizationDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[IsBlocked] [bit] NOT NULL,
	[BlockedOn] [datetime] NULL,
	[BlockedBy] [int] NULL,
	[CardBatchId] [int] NULL,
	[LoyaltyPoints] [int] NULL,
	[NonFinancialPoints] [int] NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[IsSpecial] [bit] NULL,
 CONSTRAINT [PK_CardMaster] PRIMARY KEY CLUSTERED 
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_CardMaster_CardNumber] UNIQUE NONCLUSTERED 
(
	[CardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [CardMasterNonClustered]    Script Date: 7/23/2025 10:55:26 AM ******/
CREATE NONCLUSTERED INDEX [CardMasterNonClustered] ON [dbo].[CardMaster]
(
	[IsHighStreetCustomer] ASC
)
INCLUDE([CardId],[OOMCOID],[CardTypeId],[MerchantId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OOMCOID_HighStreetCustomerId]    Script Date: 7/23/2025 10:55:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_OOMCOID_HighStreetCustomerId] ON [dbo].[CardMaster]
(
	[OOMCOID] ASC,
	[HighStreetCustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_CardMaster_ExistingCardNumber]    Script Date: 7/23/2025 10:55:26 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [uq_CardMaster_ExistingCardNumber] ON [dbo].[CardMaster]
(
	[ExistingCardNumber] ASC
)
WHERE ([ExistingCardNumber] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CardMaster]  WITH CHECK ADD  CONSTRAINT [fk_CardMaster_AddedBy] FOREIGN KEY([AddedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[CardMaster] CHECK CONSTRAINT [fk_CardMaster_AddedBy]
GO
ALTER TABLE [dbo].[CardMaster]  WITH CHECK ADD  CONSTRAINT [fk_CardMaster_MerchantBranchId] FOREIGN KEY([MerchantBranchId])
REFERENCES [dbo].[MerchantBranch] ([MerchantBranchId])
GO
ALTER TABLE [dbo].[CardMaster] CHECK CONSTRAINT [fk_CardMaster_MerchantBranchId]
GO
ALTER TABLE [dbo].[CardMaster]  WITH CHECK ADD  CONSTRAINT [fk_CardMaster_MerchantId] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[MerchantMaster] ([MerchantId])
GO
ALTER TABLE [dbo].[CardMaster] CHECK CONSTRAINT [fk_CardMaster_MerchantId]
GO
ALTER TABLE [dbo].[CardMaster]  WITH CHECK ADD  CONSTRAINT [fk_CardMaster_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[CardMaster] CHECK CONSTRAINT [fk_CardMaster_UpdatedBy]
GO
