USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[sp_AwardPoints]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AwardPoints]

        (

        @MerchantId int,

        @Amount decimal(18,3),

        @CardId int

        )

        AS 



        BEGIN 

        declare @Value decimal(18,3)=0

        declare @CalculatedPoints decimal(18,3)

        declare @Priority char

        declare @Points bigint=0

        declare @CampaignId int

        declare @CampaignRangeDetailId int

        declare @CampaignStartDate datetime

        declare @CampaignEndDate datetime 

        declare @FixedAmount decimal(18,3)

        declare @FromAmount decimal(18,3)

        declare @ToAmount decimal(18,3)

        declare @PercentageValue decimal (18,3)

        declare @PointValue decimal(18,3)

        declare @MerchantRuleId int

        declare @IsPointRoundFloor bit

        declare @ModeAmountForRound int

        declare @ModeAmount int

        SELECT @IsPointRoundFloor=IsPointRoundFloor,@ModeAmountforRound=ModeAmountforRound

        FROM MerchantConfiguration WHERE MerchantId=@MerchantId

            IF(@IsPointRoundFloor=1 and @ModeAmountForRound > 0)

                BEGIN 

                    SELECT @ModeAmount=@Amount %  @ModeAmountForRound

                    IF @ModeAmount!=0

                        SET @Amount=@Amount-@ModeAmount

                END	

            IF(@IsPointRoundFloor=0 and @ModeAmountForRound > 0)

                BEGIN 

                    SELECT @ModeAmount=@Amount %  @ModeAmountForRound

                    IF @ModeAmount!=0

                        SET @Amount=@Amount+(@ModeAmountForRound-@ModeAmount)

                END		

        DECLARE  CURSOR_AWARDPOINTS CURSOR FOR

        SELECT a.Priority,a.CampaignId,a.MerchantId,a.MerchantRuleId,a.CampaignStartDate,a.CampaignEndDate,a.FixedAmount,

        a.PercentageValue,a.PointValue,a.Points

        FROM CampaignMaster  a

        WHERE a.MerchantId=@MerchantId and a.IsActive=1

        ORDER BY Priority





        OPEN CURSOR_AWARDPOINTS

        FETCH NEXT FROM CURSOR_AWARDPOINTS  INTO @Priority,@CampaignId,@MerchantId,@MerchantRuleId,@CampaignStartDate,@CampaignEndDate,@FixedAmount,

        @PercentageValue,@PointValue,@Points

            WHILE @@FETCH_STATUS=0

            BEGIN 

             IF(@MerchantRuleId=3)

            BEGIN
			print @MerchantRuleId

                    SELECT @Points=b.Points,@FromAmount=FromAmount,@ToAmount=ToAmount,@CampaignRangeDetailId=CampaignRangeDetailId

                    FROM CampaignMaster  a

                    INNER JOIN CampaignRangeDetail b on b.CampaignId=a.CampaignId

                    WHERE a.MerchantId=@MerchantId AND b.IsActive=1 and @Amount between FromAmount and ToAmount

                    IF(@Amount>=@FromAmount and @Amount<=@ToAmount)

                     BEGIN

                            --SET @Value=Convert(decimal(18,2),@Amount)/Convert(decimal(18,2),@FromAmount)

                            SET @CalculatedPoints=@Points

                            BREAK

                     END

	

                    ELSE 

                    SELECT TOP 1 @Points=b.Points,@FromAmount=FromAmount,@ToAmount=ToAmount,@CampaignRangeDetailId=CampaignRangeDetailId

                    FROM CampaignMaster  a

                    INNER JOIN CampaignRangeDetail b on b.CampaignId=a.CampaignId

                    WHERE a.MerchantId=@MerchantId AND b.IsActive=1 and @Amount > ToAmount		

                     BEGIN

                            --SET @Value=Convert(decimal(18,2),@Amount)/Convert(decimal(18,2),@ToAmount)

                            SET @CalculatedPoints=@Points

                            BREAK

                     END

             END

             IF(@MerchantRuleId=4 and @Amount>=@FixedAmount and  GETDATE() BETWEEN @CampaignStartDate and @CampaignEndDate)

            BEGIN
			print @MerchantRuleId

                  SET @Value=Convert(decimal(18,2),@Amount)/Convert(decimal(18,2),@FixedAmount)

                  SET @CalculatedPoints=Convert(int,@Value)*@Points

                  BREAK

            END 

             IF(@MerchantRuleId=1 and @Amount>=@FixedAmount)

            BEGIN

                  SET @Value=Convert(decimal(18,3),@Amount)/Convert(decimal(18,3),@FixedAmount)

                  --SET @CalculatedPoints=Convert(int,@Value)*@Points
				  SET @CalculatedPoints = ROUND(@Value,0)*@Points

				  print @Value

				  print @CalculatedPoints

                  BREAK

            END

             IF(@MerchantRuleId=2)

                BEGIN
				print @MerchantRuleId
                  SET @Value=Convert(decimal(18,2),@Amount) * Convert(decimal(18,3),@PercentageValue)/100

                  SET @CalculatedPoints=Convert(int,@Value)*@PointValue

                  BREAK

                END

		

            IF(@MerchantRuleId=8)

                BEGIN
				print @MerchantRuleId
                    declare @CardTypeId int

                    select @CardTypeId=CardTypeId from CardMaster where @CardId=CardId

			

                    SELECT @Points=b.Points,@FixedAmount=b.FixedAmount FROM CampaignMaster  a

                    INNER JOIN CampaignCardTypeDetail b on b.CampaignId=a.CampaignId

                    WHERE a.MerchantId=@MerchantId AND a.CampaignId=@CampaignId and b.CardTypeId=@CardTypeId

			

                    SET @Value=Convert(decimal(18,2),@Amount)/Convert(decimal(18,2),@FixedAmount)

                    SET @CalculatedPoints=Convert(int,@Value)*@Points

                    BREAK	

			

                END	

	
            --Mustafa work for WBbyHemani 13 Oct 2017
            IF(@MerchantRuleId=9)

                BEGIN
				print @MerchantRuleId
                    declare @CardTypeIdRule9 int
                    select @CardTypeIdRule9=CardTypeId from CardMaster where @CardId=CardId
					print @CardTypeIdRule9
					print @Amount

                    SELECT TOP 1 @Points=b.Points,@FromAmount=FromAmount,@ToAmount=ToAmount,
                    @CampaignRangeDetailId=CampaignRangeDetailId
                    FROM CampaignMaster  a
                    INNER JOIN CampaignRangeDetail b on b.CampaignId=a.CampaignId
                    WHERE a.MerchantId=@MerchantId AND b.IsActive=1 and @Amount < ToAmount and @Amount > FromAmount
                    --and b.CardTypeID=@CardTypeIdRule9		
                    BEGIN
					SET @CalculatedPoints = @Points;
                    BREAK
                     END
                  BREAK
                END
	







        FETCH NEXT FROM CURSOR_AWARDPOINTS  INTO @Priority,@CampaignId,@MerchantId,@MerchantRuleId,@CampaignStartDate,@CampaignEndDate,@FixedAmount,

        @PercentageValue,@PointValue,@Points

        END

        CLOSE CURSOR_AWARDPOINTS

        DEALLOCATE CURSOR_AWARDPOINTS

        SELECT isnull(@CampaignId,0) CampaignId,isnull(@CampaignRangeDetailId,0) CampaignRangeDetailId,isnull(@CalculatedPoints,0) RewardPoints

        END
        
GO
