USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[FlashRewardMaster]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlashRewardMaster](
	[FlashRewardMasterId] [int] IDENTITY(1,1) NOT NULL,
	[MasterRewardId] [int] NOT NULL,
	[PointAwardMasterId] [int] NULL,
	[PartitionTypeId] [int] NULL,
	[GameTypeId] [int] NOT NULL,
	[IsGame] [bit] NULL,
	[IsFlash] [bit] NULL,
	[Reward] [varchar](50) NOT NULL,
	[STAN] [int] NOT NULL,
	[CardId] [int] NOT NULL,
	[GameId] [int] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_FlashRewardMaster] PRIMARY KEY CLUSTERED 
(
	[FlashRewardMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FlashRewardMaster]  WITH CHECK ADD  CONSTRAINT [FK_FlashRewardMaster_CardMaster] FOREIGN KEY([CardId])
REFERENCES [dbo].[CardMaster] ([CardId])
GO
ALTER TABLE [dbo].[FlashRewardMaster] CHECK CONSTRAINT [FK_FlashRewardMaster_CardMaster]
GO
ALTER TABLE [dbo].[FlashRewardMaster]  WITH CHECK ADD  CONSTRAINT [FK_FlashRewardMaster_GameType] FOREIGN KEY([GameTypeId])
REFERENCES [dbo].[GameType] ([GameTypeId])
GO
ALTER TABLE [dbo].[FlashRewardMaster] CHECK CONSTRAINT [FK_FlashRewardMaster_GameType]
GO
ALTER TABLE [dbo].[FlashRewardMaster]  WITH CHECK ADD  CONSTRAINT [FK_FlashRewardMaster_PartitionType] FOREIGN KEY([PartitionTypeId])
REFERENCES [dbo].[PartitionType] ([PartitionTypeId])
GO
ALTER TABLE [dbo].[FlashRewardMaster] CHECK CONSTRAINT [FK_FlashRewardMaster_PartitionType]
GO
