USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[PoolSummary]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PoolSummary](
	[PoolSummaryId] [int] NOT NULL,
	[PrefundedAmount] [decimal](18, 3) NOT NULL,
	[HighStreetRedeemedAmount] [decimal](18, 3) NOT NULL,
	[MGMRedeemedAmount] [decimal](18, 3) NOT NULL,
	[TopUpRedeemedAmount] [decimal](18, 3) NOT NULL,
	[PromotionsRedeemedAmount] [decimal](18, 3) NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK__PoolSumm__2F19DF86FC837109] PRIMARY KEY CLUSTERED 
(
	[PoolSummaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
