USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[MerRedemptionCamp]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MerRedemptionCamp](
	[MerRedemptionCampId] [int] NOT NULL,
	[RedemptionCampaignName] [varchar](50) NOT NULL,
	[MerchantId] [int] NOT NULL,
	[PointValue] [decimal](6, 3) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[PointValueHighStreet] [decimal](6, 3) NULL,
 CONSTRAINT [PK_MerRedemptionCamp] PRIMARY KEY CLUSTERED 
(
	[MerRedemptionCampId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MerRedemptionCamp]  WITH CHECK ADD  CONSTRAINT [fk_MerRedemptionCamp_AddedBy] FOREIGN KEY([AddedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[MerRedemptionCamp] CHECK CONSTRAINT [fk_MerRedemptionCamp_AddedBy]
GO
ALTER TABLE [dbo].[MerRedemptionCamp]  WITH CHECK ADD  CONSTRAINT [fk_MerRedemptionCamp_MerchantId] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[MerchantMaster] ([MerchantId])
GO
ALTER TABLE [dbo].[MerRedemptionCamp] CHECK CONSTRAINT [fk_MerRedemptionCamp_MerchantId]
GO
ALTER TABLE [dbo].[MerRedemptionCamp]  WITH CHECK ADD  CONSTRAINT [fk_MerRedemptionCamp_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[MerRedemptionCamp] CHECK CONSTRAINT [fk_MerRedemptionCamp_UpdatedBy]
GO
