USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[SP_MonthlyExternalPartnersSummaryReport]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
      CREATE  PROCEDURE [dbo].[SP_MonthlyExternalPartnersSummaryReport]
              (
                  @Brandid int,
      			  @Promotionid int,
      			  @StartDate DateTime,
                    @EndDate DateTime
      
                )
                     AS
      
      
                     BEGIN
                        SET NOCOUNT ON;
      
                    select
                    format(convert(date, @StartDate),'MMM-yyyy') MTH,
                    --PM.PromotionId,
                    PM.PromotionName,
                    PG.PromotionGroupName "Brand Name",
                    sum(case when Det.TerminalId is null then 0
                        else 1
                    end) "No of Branches",
                    sum(isnull(Det.NumTxn,0)) "Transaction Count",
                    PM.CostBaring "Offer Cost",
                    sum(isnull(Det.PayableAmount,0)) "Payable Amount",
                    sum(isnull(Det.totPoints,0)) "Point Redemmed"
                    from PromotionMaster PM
                    left join PromotionGroup PG on PM.PromotionGroupId = PG.PromotionGroupId
                    left join(
                                select R.CampaignId PromotionMasterId,
                                R.terminalId,
                                count(isnull(R.PointRedeemMasterId, 0)) NumTxn,
                                Sum(isnull(R.Points,0)) totPoints,
                                sum(isnull(R.CostBaring,0)) PayableAmount
                                from PointRedeemMaster R
                                inner join TransactionMaster T on R.PointRedeemMasterId = T.ReferenceId
                                        and T.ReferenceTypeId = 2 and T.TransactionCodeId = 2
                                left join TerminalMaster term on R.TerminalId = term.TerminalId
                                where R.PromotionUsed = 1
                                and R.PromotionUsedOn >= @StartDate
                                and R.PromotionUsedOn<@EndDate
                                group by R.CampaignId, R.TerminalId
      
      
      
                          ) Det on PM.PromotionId = Det.PromotionMasterId
                          where PM.EndDate >= @StartDate
                          and pm.IsActive = 1
                          and pm.PromotionTypeId = 1
      					and (pg.PromotionGroupId= @Brandid or @Brandid = 0)
      
                          and(pm.PromotionId = @Promotionid or @Promotionid = 0)
      
                          group by  PM.PromotionName, PG.PromotionGroupName, PM.CostBaring
                          order by 1 asc, 6 desc
      
                     END
        
        
GO
