USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[TransactionMaster]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionMaster](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[MerchantId] [int] NULL,
	[CardId] [int] NOT NULL,
	[OldCardIds] [int] NULL,
	[PointExpiryYearId] [int] NULL,
	[ReferenceId] [int] NOT NULL,
	[ReferenceTypeId] [int] NOT NULL,
	[TransactionCodeId] [int] NOT NULL,
	[MerRedemptionCampDetailId] [int] NULL,
	[Amount] [decimal](18, 3) NOT NULL,
	[PointAward] [int] NULL,
	[PointRedeem] [int] NULL,
	[PreTxnPoint] [int] NULL,
	[PostTxnPoint] [int] NULL,
	[PreTxnPointNonFinancial] [int] NULL,
	[PostTxnPointNonFinancial] [int] NULL,
	[ExpiryDate] [datetime] NULL,
	[PointsCarryForward] [decimal](18, 3) NULL,
	[PointsExpire] [decimal](18, 3) NULL,
	[ActualExpiredOn] [datetime] NULL,
	[AddedBy] [int] NULL,
	[AddedOn] [datetime] NOT NULL,
	[ServerDateTime] [datetime] NULL,
	[IsSettled] [bit] NULL,
	[SettledOn] [datetime] NULL,
	[SettledReference] [varchar](50) NULL,
 CONSTRAINT [PK_TransactionMaster] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-20240108-094730]    Script Date: 7/23/2025 10:55:26 AM ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20240108-094730] ON [dbo].[TransactionMaster]
(
	[ServerDateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-20240108-094818]    Script Date: 7/23/2025 10:55:26 AM ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20240108-094818] ON [dbo].[TransactionMaster]
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TransactionMasterNonClusteredIndex]    Script Date: 7/23/2025 10:55:26 AM ******/
CREATE NONCLUSTERED INDEX [TransactionMasterNonClusteredIndex] ON [dbo].[TransactionMaster]
(
	[ReferenceTypeId] ASC,
	[TransactionCodeId] ASC
)
INCLUDE([TransactionId],[CardId],[ReferenceId],[PreTxnPoint],[PostTxnPoint],[PreTxnPointNonFinancial],[PostTxnPointNonFinancial],[ExpiryDate],[AddedBy],[AddedOn],[ServerDateTime],[IsSettled]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TransactionMaster] ADD  CONSTRAINT [DF__Transacti__Carry__5DCBBABB]  DEFAULT ((0)) FOR [PointsCarryForward]
GO
ALTER TABLE [dbo].[TransactionMaster] ADD  CONSTRAINT [DF__Transacti__Point__5EBFDEF4]  DEFAULT ((0)) FOR [PointsExpire]
GO
ALTER TABLE [dbo].[TransactionMaster]  WITH CHECK ADD  CONSTRAINT [fk_TransactionMaster_CardId] FOREIGN KEY([CardId])
REFERENCES [dbo].[CardMaster] ([CardId])
GO
ALTER TABLE [dbo].[TransactionMaster] CHECK CONSTRAINT [fk_TransactionMaster_CardId]
GO
ALTER TABLE [dbo].[TransactionMaster]  WITH CHECK ADD  CONSTRAINT [fk_TransactionMaster_MerchantId] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[MerchantMaster] ([MerchantId])
GO
ALTER TABLE [dbo].[TransactionMaster] CHECK CONSTRAINT [fk_TransactionMaster_MerchantId]
GO
ALTER TABLE [dbo].[TransactionMaster]  WITH CHECK ADD  CONSTRAINT [fk_TransactionMaster_PointExpiryYearId] FOREIGN KEY([PointExpiryYearId])
REFERENCES [dbo].[PointExpiryYear] ([PointExpiryYearId])
GO
ALTER TABLE [dbo].[TransactionMaster] CHECK CONSTRAINT [fk_TransactionMaster_PointExpiryYearId]
GO
ALTER TABLE [dbo].[TransactionMaster]  WITH CHECK ADD  CONSTRAINT [fk_TransactionMaster_ReferenceTypeId] FOREIGN KEY([ReferenceTypeId])
REFERENCES [dbo].[TransactionReferenceType] ([ReferenceTypeId])
GO
ALTER TABLE [dbo].[TransactionMaster] CHECK CONSTRAINT [fk_TransactionMaster_ReferenceTypeId]
GO
ALTER TABLE [dbo].[TransactionMaster]  WITH CHECK ADD  CONSTRAINT [fk_TransactionMaster_TransactionCodeId] FOREIGN KEY([TransactionCodeId])
REFERENCES [dbo].[TransactionCode] ([TransactionCodeId])
GO
ALTER TABLE [dbo].[TransactionMaster] CHECK CONSTRAINT [fk_TransactionMaster_TransactionCodeId]
GO
