USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[sp_RedeemPoints]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   CREATE PROCEDURE [dbo].[sp_RedeemPoints]

        (

        @MerchantId int,

        @OtherMerchantId int,

        @Amount decimal(18,3),

        --WBbyHemani
        @CardTypeId int


        )

        AS
        BEGIN 
        declare @PointValue  decimal(18,3)
        declare @MerRedemptionCampDetailId int
        declare @MerRedemptionCampId int
        --WBbyHemani
        declare @CampaignCriteria int


        IF(@MerchantId=@OtherMerchantId)
            BEGIN 
                SELECT @CampaignCriteria=CampaignCriteria,
                @PointValue=PointValue,@MerRedemptionCampId=MerRedemptionCampId FROM MerRedemptionCamp a
                WHERE MerchantId=@MerchantId and a.IsActive=1
                print @CampaignCriteria
                -- CampaignCriteria = 1 means this is Tier / Card Type based (Silver, Gold, Platinum etc)
            IF (@CampaignCriteria=1)
                BEGIN
                    SELECT @PointValue=b.PointValue,@MerRedemptionCampDetailId=b.MerRedemptionCampDetailId,
                    @MerRedemptionCampId=b.MerRedemptionCampId
                    FROM MerRedemptionCampDetail b 
                    INNER JOIN MerRedemptionCamp a on a.MerRedemptionCampId =b.MerRedemptionCampId
                    WHERE a.MerchantId=@MerchantId and b.AnotherMerchantId=@OtherMerchantId
                    and a.IsActive=1 and b.IsActive=1
                    and a.CampaignCriteria=1 and b.CardTypeID=@CardTypeId
                END
            ELSE
                BEGIN
                    SELECT @PointValue=PointValue,@MerRedemptionCampId=MerRedemptionCampId FROM MerRedemptionCamp a
                    WHERE MerchantId=@MerchantId and a.IsActive=1
                END
            END
        ELSE
            BEGIN
                SELECT @PointValue=b.PointValue,@MerRedemptionCampDetailId=b.MerRedemptionCampDetailId,@MerRedemptionCampId=b.MerRedemptionCampId
                FROM MerRedemptionCampDetail b 
                INNER JOIN MerRedemptionCamp a on a.MerRedemptionCampId =b.MerRedemptionCampId
                WHERE a.MerchantId=@MerchantId and b.AnotherMerchantId=@OtherMerchantId
                and a.IsActive=1 and b.IsActive=1
            END
        if(isnull(@PointValue,0)=0)
            SELECT 0 MerRedemptionCampDetailId,0 MerRedemptionCampId,0 Points
        else
            begin
                declare @Points decimal(18,3);
                set @Points=@Amount/@PointValue;
                SELECT isnull(@MerRedemptionCampDetailId,0) MerRedemptionCampDetailId,@MerRedemptionCampId MerRedemptionCampId,@Points Points
            end

        END

   
GO
