USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[PointExpiryYear]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointExpiryYear](
	[PointExpiryYearId] [int] NOT NULL,
	[ExpiryYear] [varchar](10) NOT NULL,
	[Days] [int] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_PointExpiryYear] PRIMARY KEY CLUSTERED 
(
	[PointExpiryYearId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PointExpiryYear]  WITH CHECK ADD  CONSTRAINT [fk_PointExpiryYear_AddedBy] FOREIGN KEY([AddedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[PointExpiryYear] CHECK CONSTRAINT [fk_PointExpiryYear_AddedBy]
GO
ALTER TABLE [dbo].[PointExpiryYear]  WITH CHECK ADD  CONSTRAINT [fk_PointExpiryYear_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[PointExpiryYear] CHECK CONSTRAINT [fk_PointExpiryYear_UpdatedBy]
GO
