USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[MonthlySummary]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlySummary](
	[MonthlySummaryId] [int] IDENTITY(1,1) NOT NULL,
	[Month] [date] NOT NULL,
	[PointsAwarded] [decimal](18, 3) NOT NULL,
	[PointsRedeemed] [decimal](18, 3) NOT NULL,
	[RedeemedPointValue] [decimal](18, 3) NOT NULL,
	[RedeemedPointsVoided] [decimal](18, 3) NOT NULL,
	[AwardPointsVoided] [decimal](18, 3) NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[BonusLoyalty] [bigint] NULL,
	[NonFinancialAward] [bigint] NULL,
	[BonusNonFinancial] [decimal](18, 3) NULL,
	[NonFinancialLoyalty] [decimal](18, 3) NULL,
	[AwardedLoyaltyGamePoints] [decimal](18, 3) NULL,
	[NonFinancialGamePoints] [decimal](18, 3) NULL,
	[AwardedFlashLoyaltyPoints] [decimal](18, 3) NULL,
	[NonFinancialFlashLoyaltyPoints] [decimal](18, 3) NULL,
	[TotalAwardedPoints] [bigint] NULL,
	[ExpiredPoints] [bigint] NULL,
	[TotalTransactionCount] [bigint] NULL,
 CONSTRAINT [PK_MonthlySummary] PRIMARY KEY CLUSTERED 
(
	[MonthlySummaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
