USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[GameDetail]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameDetail](
	[GameDetailId] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NOT NULL,
	[PartitionNo] [int] NOT NULL,
	[PartitionTypeId] [int] NOT NULL,
	[PartitionValue] [varchar](50) NOT NULL,
	[IsLocked] [bit] NULL,
	[GameImage] [varchar](50) NULL,
	[Probability] [int] NULL,
	[Quantity] [int] NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_SpinDetail] PRIMARY KEY CLUSTERED 
(
	[GameDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GameDetail]  WITH CHECK ADD  CONSTRAINT [FK_GameDetail_GameMaster] FOREIGN KEY([PartitionTypeId])
REFERENCES [dbo].[PartitionType] ([PartitionTypeId])
GO
ALTER TABLE [dbo].[GameDetail] CHECK CONSTRAINT [FK_GameDetail_GameMaster]
GO
