USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[TerminalHistoryNonTransaction]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TerminalHistoryNonTransaction](
	[TerminalHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [varchar](50) NOT NULL,
	[POSSerialNo] [varchar](50) NOT NULL,
	[ReceiveData] [varchar](max) NOT NULL,
	[ReturnData] [varchar](max) NULL,
	[ErrorDetails] [varchar](max) NULL,
	[IsSuccess] [bit] NULL,
	[ReceivedOn] [datetime] NOT NULL,
	[ReturnedOn] [datetime] NULL,
	[ServiceUserId] [int] NULL,
 CONSTRAINT [PK_TerminalHistoryNonTransaction] PRIMARY KEY CLUSTERED 
(
	[TerminalHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
