USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[MerchantBusinessDetail]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MerchantBusinessDetail](
	[MerchantBusinessDetailId] [int] IDENTITY(1,1) NOT NULL,
	[MerchantId] [int] NOT NULL,
	[BusinessTypeId] [int] NOT NULL,
 CONSTRAINT [PK_MurchantBusinessDetail] PRIMARY KEY CLUSTERED 
(
	[MerchantBusinessDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MerchantBusinessDetail]  WITH CHECK ADD  CONSTRAINT [fk_MerchantBusinessDetail_BusinessTypeId] FOREIGN KEY([BusinessTypeId])
REFERENCES [dbo].[BusinessType] ([BusinessTypeId])
GO
ALTER TABLE [dbo].[MerchantBusinessDetail] CHECK CONSTRAINT [fk_MerchantBusinessDetail_BusinessTypeId]
GO
ALTER TABLE [dbo].[MerchantBusinessDetail]  WITH CHECK ADD  CONSTRAINT [fk_MerchantBusinessDetail_MerchantId] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[MerchantMaster] ([MerchantId])
GO
ALTER TABLE [dbo].[MerchantBusinessDetail] CHECK CONSTRAINT [fk_MerchantBusinessDetail_MerchantId]
GO
