USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[PromotionDetail]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionDetail](
	[PromotionDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OOMCOPromotionCode] [varchar](50) NOT NULL,
	[PromotionId] [int] NOT NULL,
	[IsAvailable] [bit] NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_PromotionMasterDetail] PRIMARY KEY CLUSTERED 
(
	[PromotionDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PromotionDetail]  WITH CHECK ADD  CONSTRAINT [FK_PromotionMasterDetail_PromotionMasterDetail] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[PromotionMaster] ([PromotionId])
GO
ALTER TABLE [dbo].[PromotionDetail] CHECK CONSTRAINT [FK_PromotionMasterDetail_PromotionMasterDetail]
GO
