USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllTransactionsHighStreet]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE[dbo].[SP_GetAllTransactionsHighStreet]
                      (
                 @HighStreetCustomerId varchar(50) = '', 
                  @TransactionType int = 0,
                  @BranchId int = 0,
                  @MerchantId int = 0,
                  @CityId int = 0,
                  @StartDate DateTime,
                  @EndDate DateTime

                  --@PageIndex int, 
                  --@PageSize int
              )
              AS


              BEGIN


                  SET NOCOUNT ON;

                  -------TransactionTypeIds--------

                  DECLARE @All int = 0;
                  DECLARE @Award int = 1;
                  DECLARE @Redeem int = 2;
                  DECLARE @Reversal int = 3;
				  DECLARE @Adjustment int = 4;

                  DECLARE @TotalRecords int = 0;

                  --------------------------------------------
              IF(@HighStreetCustomerId = '')

                  BEGIN
                      set @HighStreetCustomerId='0'
                  END
             
			  IF(@TransactionType = @Award or @TransactionType = @All)

                  BEGIN
              select * into #AwardTransaction from (	
              Select TM.CardId, CD.CustomerDataId, CONVERT(VARCHAR(20), TM.ServerDateTime, 100) TransactionDate,  CM.HighStreetCustomerId, Ct.CardType,
              TM.TransactionId TransactionMasterId,  CM.MerchantId, CM.IsHighStreetCustomer IsHighStreetCustomer,
              CD.FirstName,'Award' TransactionType,
             A.Amount, A.Points, 
              A.ReferenceNo,A.STAN, MB.MerchantBranchId, C.CityId,
              TM.PreTxnPoint PerBalance, C.CityName,
              TM.PostTxnPoint PostBalance,TM.ServerDateTime, '' BrandName
              From PointAwardMaster A
              inner join TransactionMaster TM on A.PointAwardMasterId = TM.ReferenceId
              and TM.TransactionCodeId = 1
              and TM.ReferenceTypeId = 1
              left join TerminalMaster Term on A.TerminalId = Term.TerminalId
              left join MerchantBranch MB on Term.MerchantBranchId = MB.MerchantBranchId
              left join City C on MB.CityId = C.CityId
              inner join CardMaster CM on TM.CardId = CM.CardId and CM.IsHighStreetCustomer = 1
              left join CardType CT on CM.CardTypeId = CT.CardTypeId
              left join CustomerData CD on TM.CardId = CD.CardId
              )T WHERE T.STAN not in (select STAN from ReversalMaster where IsSale=1) AND(T.MerchantId= @MerchantId OR @MerchantId = 0)
              AND(T.HighStreetCustomerId= @HighStreetCustomerId OR @HighStreetCustomerId = '0') AND(T.MerchantBranchId= @BranchId OR @BranchId = 0) AND(T.CityId= @CityId OR @CityId = 0)
              AND T.ServerDateTime >= @StartDate AND T.ServerDateTime <= @EndDate 
              End

             
			  IF (@TransactionType = @Redeem or @TransactionType = @All)
               BEGIN
              select* into #RedeemTransaction from (	
              Select TM.CardId, CD.CustomerDataId, CONVERT(VARCHAR(20), TM.ServerDateTime, 100) TransactionDate,  CM.HighStreetCustomerId, Ct.CardType,
              TM.TransactionId TransactionMasterId,  CM.MerchantId,CM.IsHighStreetCustomer IsHighStreetCustomer,
              CD.FirstName,RT.RedemtionTypeName TransactionType,
               A.Amount, A.Points,
              A.ReferenceNo,A.STAN, MB.MerchantBranchId,C.CityId,
               TM.PreTxnPoint PerBalance, C.CityName,
              TM.PostTxnPoint PostBalance,TM.ServerDateTime,BM.BrandName
              From PointRedeemMaster A
              left join TransactionMaster TM on A.PointRedeemMasterId = TM.ReferenceId
              and TM.TransactionCodeId = 2
              and TM.ReferenceTypeId = 2 
              left join TerminalMaster Term on A.TerminalId = Term.TerminalId
              left join MerchantBranch MB on Term.MerchantBranchId = MB.MerchantBranchId
              left join City C on MB.CityId = C.CityId
              inner join CardMaster CM on TM.CardId = CM.CardId and CM.IsHighStreetCustomer = 1
              left join CardType CT on CM.CardTypeId = CT.CardTypeId
              left join CustomerData CD on TM.CardId = CD.CardId
              left join RedemptionType RT on RT.RedemptionTypeId = A.RedemptionTypeId
              left join PromotionMaster PM on A.CampaignId= PM.PromotionId
              left join PromotionType PT on PM.PromotionTypeId= PT.PromotionTypeId
              left join BrandMaster BM on A.BrandId = BM.BrandId
              --Where 1=1
              )T WHERE T.STAN not in (select STAN from ReversalMaster where IsSale=0) AND(T.MerchantId= @MerchantId OR @MerchantId = 0)
              AND(T.HighStreetCustomerId= @HighStreetCustomerId OR @HighStreetCustomerId = '0') AND(T.MerchantBranchId= @BranchId OR @BranchId = 0) AND(T.CityId= @CityId OR @CityId = 0)
              AND T.ServerDateTime >= @StartDate AND T.ServerDateTime <= @EndDate 

               End


              IF(@TransactionType = @Reversal or @TransactionType = @All)

                  BEGIN

                  select* into #ReversalTransactions from (	
                          Select TM.CardId, CD.CustomerDataId, CONVERT(VARCHAR(20), TM.ServerDateTime, 100) TransactionDate, CM.HighStreetCustomerId, Ct.CardType,
                          TM.TransactionId TransactionMasterId,  CM.MerchantId,CM.IsHighStreetCustomer IsHighStreetCustomer,
                          CD.FirstName,'Reversal' TransactionType,
                          A.Amount, A.Points, 
                          A.ReferenceNo,A.STAN, MB.MerchantBranchId,C.CityId,
                          TM.PreTxnPoint PerBalance, C.CityName,
                          TM.PostTxnPoint PostBalance,TM.ServerDateTime, '' BrandName

                          From ReversalMaster A
                          inner join TransactionMaster TM on A.ReversalMasterId = TM.ReferenceId
                          and TM.TransactionCodeId = 5
                          and TM.ReferenceTypeId = 5 
                          left join TerminalMaster Term on A.TerminalId = Term.TerminalId
                          left join MerchantBranch MB on Term.MerchantBranchId = MB.MerchantBranchId
                          left join City C on MB.CityId = C.CityId
                          inner join CardMaster CM on TM.CardId = CM.CardId and CM.IsHighStreetCustomer = 1
                          inner join CardType CT on CM.CardTypeId = CT.CardTypeId
                          left join CustomerData CD on TM.CardId = CD.CardId

                  )T WHERE
                  (T.MerchantId= @MerchantId OR @MerchantId = 0)
              AND(T.HighStreetCustomerId= @HighStreetCustomerId OR @HighStreetCustomerId = '0') AND(T.MerchantBranchId= @BranchId OR @BranchId = 0) AND(T.CityId= @CityId OR @CityId = 0)
              AND T.ServerDateTime >= @StartDate AND T.ServerDateTime <= @EndDate 
			  End

			   IF(@TransactionType = @Adjustment or @TransactionType = @All)
			   BEGIN
              select* into #AdjustmentTransaction from (	
              Select TM.CardId, CD.CustomerDataId, CONVERT(VARCHAR(20), TM.ServerDateTime, 100) TransactionDate,  CM.HighStreetCustomerId, Ct.CardType,
              TM.TransactionId TransactionMasterId,  CM.MerchantId, CM.IsHighStreetCustomer IsHighStreetCustomer,
              CD.FirstName,
			  CASE
                                        WHEN A.IsAward = 1 AND A.IsLoyalty = 1  THEN 'Positive-Loyalty'
                                        WHEN A.IsAward = 0 AND A.IsLoyalty = 0  THEN 'Negative-Tier'
                                        WHEN A.IsAward = 0 AND A.IsLoyalty = 1  THEN 'Negative-Loyalty'
                                        WHEN A.IsAward = 1 AND A.IsLoyalty = 0  THEN 'Positive-Tier'
                                      END TransactionType,
              TM.Amount, A.Points, 
              '' as ReferenceNo,'' as STAN, null as MerchantBranchId, null as CityId,
              TM.PreTxnPoint PerBalance, null as CityName,
              TM.PostTxnPoint PostBalance,TM.ServerDateTime, '' BrandName
              From PointAdjustmentMaster A
              inner join TransactionMaster TM on A.PointAdjustmentMasterId = TM.ReferenceId
              and TM.TransactionCodeId = 3
              and TM.ReferenceTypeId = 3
              inner join CardMaster CM on TM.CardId = CM.CardId and CM.IsHighStreetCustomer = 1
              left join CardType CT on CM.CardTypeId = CT.CardTypeId
              left join CustomerData CD on TM.CardId = CD.CardId
              )T WHERE T.STAN not in (select STAN from ReversalMaster where IsSale=1) AND(T.MerchantId= @MerchantId OR @MerchantId = 0)
              AND(T.HighStreetCustomerId= @HighStreetCustomerId OR @HighStreetCustomerId = '0') AND(T.MerchantBranchId= @BranchId OR @BranchId = 0) AND(T.CityId= @CityId OR @CityId = 0)
              AND T.ServerDateTime >= @StartDate AND T.ServerDateTime <= @EndDate 
              End


                

               IF @TransactionType= @All BEgin
              select * into #AllTransaction from (
              select * From #RedeemTransaction
              Union ALL
              select * From #AwardTransaction
              Union ALL
              select * From #ReversalTransactions
			  Union ALL
              select * From #AdjustmentTransaction
              )T
               End



              IF @TransactionType = @Redeem
              BEGIN

              Select* from(
              select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #RedeemTransaction a 
              )T order by T.ServerDateTime desc
              --Where T.RowNum BETWEEN ((@PageIndex-@PageIndex)*@PageSize)+@PageIndex AND @PageSize* (@PageIndex)

               Select  @TotalRecords = COUNT(*) from(
               select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #RedeemTransaction a 
              )T

              END

              IF @TransactionType = @All
              BEGIN

              Select* from(
              select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #AllTransaction a 
              )T order by T.ServerDateTime desc
              --Where T.RowNum BETWEEN ((@PageIndex-@PageIndex)*@PageSize)+@PageIndex AND @PageSize* (@PageIndex)

               Select  @TotalRecords = COUNT(*)from(
               select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #AllTransaction a 
              )T

              END

               IF @TransactionType = @Award
              BEGIN

              Select* from(
              select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #AwardTransaction a 
              )T order by T.ServerDateTime desc
              --Where T.RowNum BETWEEN ((@PageIndex-@PageIndex)*@PageSize)+@PageIndex AND @PageSize* (@PageIndex)


               Select  @TotalRecords =  COUNT(*) from(
               select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #AwardTransaction a 
              )T


              END

			  IF @TransactionType = @Adjustment
              BEGIN

              Select* from(
              select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #AdjustmentTransaction a 
              )T order by T.ServerDateTime desc
              --Where T.RowNum BETWEEN ((@PageIndex-@PageIndex)*@PageSize)+@PageIndex AND @PageSize* (@PageIndex)


               Select  @TotalRecords =  COUNT(*) from(
               select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #AdjustmentTransaction a 
              )T


              END


               IF @TransactionType = @Reversal
              BEGIN

              Select* from(
              select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #ReversalTransactions a 
              )T order by T.ServerDateTime desc
              --Where T.RowNum BETWEEN ((@PageIndex-@PageIndex)*@PageSize)+@PageIndex AND @PageSize* (@PageIndex)


               Select  @TotalRecords =  COUNT(*) from(
               select ROW_NUMBER() over(order by ServerDateTime desc)RowNum,* from #ReversalTransactions a 
              )T

              END
              Select @TotalRecords TotalNoOfRecords, a.LoyaltyPoints,a.NonFinancialPoints, CONVERT(varchar, DATEADD(day, -1, a.EndDate), 106) BalanceExpiry from CardMaster a
              inner join CustomerData CD on a.CardId = CD.CardId
              where (a.OOMCOID = @HighStreetCustomerId OR @HighStreetCustomerId = '0') AND a.IsHighStreetCustomer=1



              END
GO
