USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MenuId] [int] NOT NULL,
	[MenuSubId] [int] NULL,
	[MenuName] [nvarchar](100) NULL,
	[MenuUrl] [varchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NULL,
	[IconClass] [varchar](20) NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Menu]    Script Date: 7/23/2025 10:55:26 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Menu] ON [dbo].[Menu]
(
	[MenuSubId] ASC,
	[SortOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [fk_Menu_MenuSubId] FOREIGN KEY([MenuSubId])
REFERENCES [dbo].[Menu] ([MenuId])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [fk_Menu_MenuSubId]
GO
