USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[PointAdjustmentMaster]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointAdjustmentMaster](
	[PointAdjustmentMasterId] [int] IDENTITY(1,1) NOT NULL,
	[PointAdjustmentCode] [varchar](50) NOT NULL,
	[MerchantId] [int] NOT NULL,
	[CardId] [int] NOT NULL,
	[IsAward] [bit] NOT NULL,
	[IsPost] [bit] NOT NULL,
	[Points] [int] NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[PostedBy] [int] NOT NULL,
	[PostedOn] [datetime] NOT NULL,
	[Comments] [varchar](100) NULL,
	[IsLoyalty] [bit] NULL,
	[SchemeId] [int] NULL,
 CONSTRAINT [PK_PointAdjustmentMaster] PRIMARY KEY CLUSTERED 
(
	[PointAdjustmentMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_PointAdjustmentMaster] UNIQUE NONCLUSTERED 
(
	[CardId] ASC,
	[SchemeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDxPointAdjustMaster_CardId]    Script Date: 7/23/2025 10:55:26 AM ******/
CREATE NONCLUSTERED INDEX [IDxPointAdjustMaster_CardId] ON [dbo].[PointAdjustmentMaster]
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-20240108-094136]    Script Date: 7/23/2025 10:55:26 AM ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20240108-094136] ON [dbo].[PointAdjustmentMaster]
(
	[PostedOn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PointAdjustmentMaster]  WITH CHECK ADD  CONSTRAINT [fk_PointAdjustmentMaster_AddedBy] FOREIGN KEY([AddedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[PointAdjustmentMaster] CHECK CONSTRAINT [fk_PointAdjustmentMaster_AddedBy]
GO
ALTER TABLE [dbo].[PointAdjustmentMaster]  WITH CHECK ADD  CONSTRAINT [FK_PointAdjustmentMaster_CardMaster] FOREIGN KEY([CardId])
REFERENCES [dbo].[CardMaster] ([CardId])
GO
ALTER TABLE [dbo].[PointAdjustmentMaster] CHECK CONSTRAINT [FK_PointAdjustmentMaster_CardMaster]
GO
ALTER TABLE [dbo].[PointAdjustmentMaster]  WITH CHECK ADD  CONSTRAINT [fk_PointAdjustmentMaster_MerchantId] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[MerchantMaster] ([MerchantId])
GO
ALTER TABLE [dbo].[PointAdjustmentMaster] CHECK CONSTRAINT [fk_PointAdjustmentMaster_MerchantId]
GO
ALTER TABLE [dbo].[PointAdjustmentMaster]  WITH CHECK ADD  CONSTRAINT [fk_PointAdjustmentMaster_PostedBy] FOREIGN KEY([PostedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[PointAdjustmentMaster] CHECK CONSTRAINT [fk_PointAdjustmentMaster_PostedBy]
GO
