USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPushYgagVoucher]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

   create PROCEDURE[dbo].[sp_InsertPushYgagVoucher]
	@TblPushVoucher BulkPushVoucherInsertScheme  READONLY,@AddedBy Int=0

    AS
        BEGIN

			MERGE PushVoucher AS T
			USING @TblPushVoucher AS S
			ON (T.OOMCOID=S.OOMCOID AND T.BrandName=S.BrandName AND T.Amount=S.Amount AND 
				T.ExpiryDate=S.ExpiryDate AND T.VoucherLink=S.VoucherLink)
			WHEN MATCHED 
				THEN UPDATE SET  T.UpdateBy=@AddedBy,T.UpdateOn=GETDATE()
			WHEN NOT MATCHED
				THEN INSERT (OOMCOID,BrandName,Amount,ExpiryDate,VoucherLink,AddedBy)
				VALUES (S.OOMCOID,S.BrandName,S.Amount,S.ExpiryDate,S.VoucherLink,@AddedBy);
        END
   
GO
