USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[Sp_NextPointExpiry]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Sp_NextPointExpiry]
	@ParamNextExpiryDate datetime 
AS
BEGIN

declare @NextExpiryDate datetime = @ParamNextExpiryDate

	 -- [dbo].[TblNextPointExpiry]

	declare @OutId int;
	
			SET @ParamNextExpiryDate = dateadd(YY, -2, DATEADD(month, DATEDIFF(month, 0, @ParamNextExpiryDate), 0) )
			SET @ParamNextExpiryDate= dateadd(m, -1, DATEADD(month, DATEDIFF(month, 0, @ParamNextExpiryDate), 0) ) 
			--print 'Will calculate dates based on ' + cast(@ParamNextExpiryDate as varchar)
			--print 'transaction >= ' + cast(dateadd(m, 1, @ParamNextExpiryDate) as varchar) 
			--print 'transaction < ' + cast(dateadd(YY, 2, dateadd(m, 1, @ParamNextExpiryDate)) as varchar) 

	-- Get intermediary data into Temporary Tables
	SELECT MinMaxTran.* into #MinMaxTransactions 
	from (
				select min(transactionId) minimum, max(transactionId) maximum, CardId 
				from TransactionMaster 
				where ServerDateTime >=@ParamNextExpiryDate and ServerDateTime < dateadd(m, 1, @ParamNextExpiryDate) 
				group by CardId
			) as MinMaxTran

	-- select * from #MinMaxTransactions;

	-- Empty TblNextPointExpiry before inserting new data 
	Truncate table TblNextPointExpiry;

	insert into TblNextPointExpiry (OOMCOID,NextExpiryDate, PointsToExpire, createdate)
	(
		(
			select CM.OOMCOID, @NextExpiryDate, 
				CASE
					WHEN ( ISNULL(TMMax.PostTxnPoint,0) - ISNULL(TMMin.PreTxnPoint,0) - ( ISNULL(PRMTotal.TotalRedeemedPoints,0) + Isnull(PNLTotal.TotalNegLoyaltyPoints, 0) - IsNull(PRRTotal.TotalReversedPoints,0) )) >= CM.LoyaltyPoints THEN CM.LoyaltyPoints
					else ISNULL(TMMax.PostTxnPoint,0) - ISNULL(TMMin.PreTxnPoint,0) - ( ISNULL(PRMTotal.TotalRedeemedPoints,0) + Isnull(PNLTotal.TotalNegLoyaltyPoints, 0) - IsNull(PRRTotal.TotalReversedPoints,0) )
				END as PointsToExpire,GETDATE()
			from #MinMaxTransactions TEMP
			 INNER JOIN CardMaster CM on TEMP.CardId = CM.CardId
			 left join #MinMaxTransactions TMinMax on CM.CardId = TMinMax.CardId
			 left join TransactionMaster TMMin on TMinMax.minimum = TMMin.TransactionId
			 left join TransactionMaster TMMax on TMinMax.maximum = TMMax.TransactionId
			 left join(
						Select Sum(PointRedeem) TotalRedeemedPoints, Cardid 
						from TransactionMaster 
						where TransactionCodeid = 2 
						and ServerDateTime >=dateadd(m, 1, @ParamNextExpiryDate) 
						and ServerDateTime < dateadd(YY, 2, dateadd(m, 1, @ParamNextExpiryDate)) 
						group by CardId
					) PRMTotal on CM.CardId = PRMTotal.CardId

				left join(
						Select IsNull(Sum(Points),0) TotalNegLoyaltyPoints, Cardid 
						from PointAdjustmentMaster 
						where IsAward = 0 and IsLoyalty = 1 and IsPost = 1
						and PostedOn >=dateadd(m, 1, @ParamNextExpiryDate) 
						and PostedOn < dateadd(YY, 2, dateadd(m, 1, @ParamNextExpiryDate)) 
						group by CardId
					) PNLTotal on CM.CardId = PNLTotal.CardId

				left join(
            			Select IsNull(Sum(Points),0) TotalReversedPoints, Cardid 
            			from ReversalMaster 
            			where IsSale = 0 
            			and AddedOn >=dateadd(m, 1, @ParamNextExpiryDate) 
            			and AddedOn < dateadd(YY, 2, dateadd(m, 1, @ParamNextExpiryDate)) 
            			group by CardId
            		) PRRTotal on CM.CardId = PRRTotal.CardId
            
				where ISNULL(TMMax.PostTxnPoint,0) - ISNULL(TMMin.PreTxnPoint,0) > (ISNULL(PRMTotal.TotalRedeemedPoints,0) + Isnull(PNLTotal.TotalNegLoyaltyPoints, 0) - IsNull(PRRTotal.TotalReversedPoints,0) ) 
					and CM.LoyaltyPoints > 0 
			)
		)

		drop table #MinMaxTransactions;
		
END
GO
