USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  UserDefinedTableType [dbo].[DigitalVouchersInsertScheme]    Script Date: 7/23/2025 10:55:25 AM ******/
CREATE TYPE [dbo].[DigitalVouchersInsertScheme] AS TABLE(
	[SNo] [int] NULL,
	[EVoucherNumber] [varchar](500) NULL,
	[Denomination] [int] NULL,
	[Points] [int] NULL,
	[ExpiryDate] [date] NULL,
	[Available] [bit] NULL,
	[EVoucherCompanyId] [int] NULL,
	[AddedBy] [int] NULL,
	[AddedOn] [datetime] NULL,
	[FileName] [varchar](500) NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL
)
GO
