USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[UserMasterHist]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMasterHist](
	[UserId] [int] NOT NULL,
	[UserName] [varchar](50) NULL,
	[UserSubId] [int] NULL,
	[MerchantId] [int] NULL,
	[MerchantBranchId] [int] NULL,
	[CNIC] [numeric](13, 0) NULL,
	[Email] [varchar](100) NULL,
	[LoginId] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[RoleId] [int] NULL,
	[IsActive] [bit] NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[Status] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
