USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[MerRedemptionCampDetail]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MerRedemptionCampDetail](
	[MerRedemptionCampDetailId] [int] IDENTITY(1,1) NOT NULL,
	[MerRedemptionCampId] [int] NOT NULL,
	[AnotherMerchantId] [int] NOT NULL,
	[PointValue] [decimal](6, 3) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsFixed] [bit] NOT NULL,
	[FixedAmount] [decimal](10, 2) NOT NULL,
	[Percentage] [decimal](5, 2) NOT NULL,
	[CardTypeID] [int] NULL,
 CONSTRAINT [PK_MerRedemptionCampDetail] PRIMARY KEY CLUSTERED 
(
	[MerRedemptionCampDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MerRedemptionCampDetail] ADD  DEFAULT ((0)) FOR [CardTypeID]
GO
