USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[Sp_CheckPointExpiry]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Sp_CheckPointExpiry]
	@ParamNextExpiryDate datetime = null,
	@OOMCOID varchar(50) = null
AS
BEGIN

	SELECT CM.CardId AS CardId, @OOMCOID AS OOMCOID, t.NextExpiryDate AS ExpiryDate, t.PointsToExpire AS PointsToExpire 
	from TblNextPointExpiry t
	inner join cardmaster CM on t.oomcoid = cm.OOMCOID
	where t.oomcoid = @OOMCOID and t.nextExpiryDate = cast(@ParamNextExpiryDate as Date);
END
GO
