USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[MerchantBranch]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MerchantBranch](
	[MerchantBranchId] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [varchar](50) NOT NULL,
	[MerchantId] [int] NOT NULL,
	[IsMainBranch] [bit] NOT NULL,
	[CityId] [int] NULL,
	[Address] [varchar](200) NULL,
	[ContactNo] [numeric](11, 0) NULL,
	[Longitude] [varchar](50) NULL,
	[Latitude] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_MerchantBranch] PRIMARY KEY CLUSTERED 
(
	[MerchantBranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MerchantBranch]  WITH CHECK ADD  CONSTRAINT [fk_MerchantBranch_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([CityId])
GO
ALTER TABLE [dbo].[MerchantBranch] CHECK CONSTRAINT [fk_MerchantBranch_CityId]
GO
ALTER TABLE [dbo].[MerchantBranch]  WITH CHECK ADD  CONSTRAINT [FK_MerchantBranch_MerchantMaster] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[MerchantMaster] ([MerchantId])
GO
ALTER TABLE [dbo].[MerchantBranch] CHECK CONSTRAINT [FK_MerchantBranch_MerchantMaster]
GO
