USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[Sp_InsertSpecialIds]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
         -- =============================================
         -- Author:		Faizan Nasir
         -- Create date: 9-Jul-2020
         -- Description:	Insert Special Id's
         -- =============================================
         CREATE PROCEDURE[dbo].[Sp_InsertSpecialIds]

                 @Details SpecialIdsInsertScheme READONLY
             AS
         BEGIN
             INSERT INTO SpecialCustomerDetail(SpecialCustomerMasterId, OOMCOId)

             SELECT SpecialCustomerMasterId, OOMCOId FROM @Details
         END
GO
