USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMonthlySummary]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc[dbo].[sp_UpdateMonthlySummary]
          AS
                     BEGIN

                      SET NOCOUNT ON;

                  		declare @PointRedeem BIGINT
                          declare @PointAward BIGINT
                          declare @BounusLoyaltyPoints BIGINT
                          declare @NonFinancialAwardPoints BIGINT
                          declare @RedeemPointValue BIGINT
                          declare @RedeemedPointsVoided BIGINT
                          declare @AwardPointsVoided BIGINT

                          declare @AwardedFlashLoyaltyPoints BIGINT
                          declare @NonFinancialFlashPoints BIGINT
                          declare @AwardedLoyaltyGamePoints BIGINT
                          declare @NonFinancialGamePoints BIGINT

                          declare @NonFinancialLoyaltyPoints BIGINT

                          declare @CommulativeAwardPoint BIGINT

                          declare @UpdateMonth datetime


                          declare @Month int
        -- Added Below Variable for BonusNonFinancial -> 5 Aug 2020 - Faizan
                          declare @BounusNonFinancial BIGINT

                          DECLARE @CSummaryId INT


                          DECLARE cursor_SummaryId CURSOR
                              FOR SELECT MonthlySummaryId FROM MonthlySummary

                              OPEN cursor_SummaryId;

          FETCH NEXT FROM cursor_SummaryId INTO @CSummaryId;

          WHILE(@@FETCH_STATUS = 0)

                                  BEGIN

                                      select 'Before Updation' Status , * from MonthlySummary where MonthlySummaryId = @CSummaryId


                                      select @UpdateMonth = Month(Month) from MonthlySummary where MonthlySummaryId = @CSummaryId



                                      SELECT @PointRedeem = SUM(CAST(PointRedeem AS BIGINT)),
                                      @RedeemPointValue = @PointRedeem * 0.001,
                                      @Month = MONTH(TM.ServerDateTime)
                                      FROM TransactionMaster TM
                                      LEFT JOIN PointRedeemMaster PRM on TM.ReferenceId = PRM.PointRedeemMasterId
                                      AND TM.TransactionCodeId = 2
                  					AND TM.ReferenceTypeId = 2
                  					where PRM.STAN NOT IN (select STAN from ReversalMaster)
                                      and MONTH(TM.ServerDateTime)= @UpdateMonth
                                      GROUP BY MONTH(TM.ServerDateTime)


                                      SELECT @PointAward = SUM(CAST(PointAward AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                                      FROM TransactionMaster TM
                                      LEFT JOIN PointAwardMaster PAM on TM.ReferenceId = PAM.PointAwardMasterId
                                      AND TM.TransactionCodeId = 1
                  					AND TM.ReferenceTypeId = 1
                  					where PAM.STAN NOT IN (select STAN from ReversalMaster)
                                      and MONTH(TM.ServerDateTime)= @UpdateMonth
                                      GROUP BY MONTH(TM.ServerDateTime)

                  					-- NEW SECTION ADDED FOR BONUS LOYALTY


                                      SELECT @BounusLoyaltyPoints = SUM(CAST(PointAward AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                                      FROM TransactionMaster TM
                                      LEFT JOIN PointAdjustmentMaster PJ on TM.ReferenceId = PJ.PointAdjustmentMasterId
                                      where MONTH(TM.ServerDateTime) = @UpdateMonth and PJ.IsLoyalty = 1 and PJ.IsPost=1 and PJ.IsAward= 1
                                      AND TM.TransactionCodeId = 3 AND TM.ReferenceTypeId = 3
                                      GROUP BY MONTH(TM.ServerDateTime)


        				-- NEW SECTION ADDED FOR BONUS NON FINANCIAL -> 5 Aug 2020 - Faizan


                                      SELECT @BounusNonFinancial = SUM(CAST(PointAward AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                                      FROM TransactionMaster TM
                                      LEFT JOIN PointAdjustmentMaster PJ on TM.ReferenceId = PJ.PointAdjustmentMasterId
                                      where MONTH(TM.ServerDateTime) = @UpdateMonth and PJ.IsLoyalty = 0 and PJ.IsPost= 1 and PJ.IsAward= 1
                                      AND TM.TransactionCodeId = 3 AND TM.ReferenceTypeId = 3
                                      GROUP BY MONTH(TM.ServerDateTime)

                  					-- NEW SECTION ADDED FOR NON FINANCIAL AWARD POINTS


                                      SELECT @NonFinancialAwardPoints = SUM(CAST(PointAward AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                                      FROM TransactionMaster TM
                                      LEFT JOIN NonFinancialAwardMaster NFAM on TM.ReferenceId = NFAM.NonFinancialAwardMasterId
                                      AND TM.TransactionCodeId = 4
                                      AND TM.ReferenceTypeId = 4
                                      where NFAM.STAN NOT IN (select STAN from ReversalMaster)
                                      and MONTH(TM.ServerDateTime)= @UpdateMonth
                                      GROUP BY MONTH(TM.ServerDateTime)


                                      SELECT @NonFinancialLoyaltyPoints = SUM(CAST(NFAM.LoyaltyPoints AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                                      FROM TransactionMaster TM
                                      LEFT JOIN NonFinancialAwardMaster NFAM on TM.ReferenceId = NFAM.NonFinancialAwardMasterId
                                      AND TM.TransactionCodeId = 4 AND TM.ReferenceTypeId = 4
                  					where NFAM.STAN NOT IN (select STAN from ReversalMaster)
                                      and MONTH(TM.ServerDateTime)= @UpdateMonth
                                      GROUP BY MONTH(TM.ServerDateTime)


                                      SELECT @RedeemedPointsVoided = SUM(CAST(Points AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                                      FROM TransactionMaster TM
                                      LEFT JOIN ReversalMaster RM on TM.ReferenceId = RM.ReversalMasterId
                                      AND TM.TransactionCodeId = 5
                  					AND TM.ReferenceTypeId = 5
                  					where RM.IsSale = 0
                                      and MONTH(TM.ServerDateTime)= @UpdateMonth
                                      GROUP BY MONTH(TM.ServerDateTime)


                                      SELECT @AwardPointsVoided = SUM(CAST(Points AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                                      FROM TransactionMaster TM
                                      LEFT JOIN ReversalMaster RM on TM.ReferenceId = RM.ReversalMasterId
                                      AND TM.TransactionCodeId = 5  AND TM.ReferenceTypeId = 5
                                      where RM.IsSale = 1
                                      and MONTH(TM.ServerDateTime)= @UpdateMonth
                                      GROUP BY MONTH(TM.ServerDateTime)

                                      SELECT @AwardedFlashLoyaltyPoints = SUM(CAST(PointAward AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                                      from TransactionMaster TM
                                      INNER JOIN FlashRewardMaster FRM on TM.ReferenceId = FRM.FlashRewardMasterId
                                      and TM.TransactionCodeId = 6
                                      AND TM.ReferenceTypeId = 6
                                      and FRM.IsFlash = 1 and FRM.IsGame = 0 AND PartitionTypeId = 2
                                      and MONTH(TM.ServerDateTime) = @UpdateMonth
                                     GROUP BY MONTH(TM.ServerDateTime)

                                      SELECT @NonFinancialFlashPoints = SUM(CAST(PointAward AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                                      from TransactionMaster TM
                                      INNER JOIN FlashRewardMaster FRM on TM.ReferenceId = FRM.FlashRewardMasterId
                                      and TM.TransactionCodeId = 6
                                      AND TM.ReferenceTypeId = 6
                                      and FRM.IsFlash = 1 and FRM.IsGame = 0 AND PartitionTypeId = 3
                                      and MONTH(TM.ServerDateTime) = @UpdateMonth
                                      GROUP BY MONTH(TM.ServerDateTime)

                                      SELECT @AwardedLoyaltyGamePoints = SUM(CAST(PointAward AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                                      from TransactionMaster TM
                                      INNER JOIN FlashRewardMaster FRM on TM.ReferenceId = FRM.FlashRewardMasterId
                                      and TM.TransactionCodeId = 6
                                      AND TM.ReferenceTypeId = 6
                                      and FRM.IsFlash = 0 and FRM.IsGame = 1 AND PartitionTypeId = 2
                                      and MONTH(TM.ServerDateTime) = @UpdateMonth
                                      GROUP BY MONTH(TM.ServerDateTime)

                                      SELECT @NonFinancialGamePoints = SUM(CAST(PointAward AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                                      from TransactionMaster TM
                                      INNER JOIN FlashRewardMaster FRM on TM.ReferenceId = FRM.FlashRewardMasterId
                                      and TM.TransactionCodeId = 6
                                      AND TM.ReferenceTypeId = 6
                                      and FRM.IsFlash = 0 and FRM.IsGame = 1 AND PartitionTypeId = 3
                                      and MONTH(TM.ServerDateTime) = @UpdateMonth
                                      GROUP BY MONTH(TM.ServerDateTime)

                                      Update MonthlySummary set
                                      PointsAwarded = ISNULL(@PointAward, 0),
                                      PointsRedeemed = ISNULL(@PointRedeem, 0),
                                      RedeemedPointValue = ISNULL(@RedeemPointValue, 0),
                                      RedeemedPointsVoided = ISNULL(@RedeemedPointsVoided, 0),
                                      AwardPointsVoided = ISNULL(@AwardPointsVoided, 0),
                                      BonusLoyalty = ISNULL(@BounusLoyaltyPoints, 0),
                                      NonFinancialAward = ISNULL(@NonFinancialAwardPoints, 0),
                                      AwardedLoyaltyGamePoints = ISNULL(@AwardedLoyaltyGamePoints, 0),
                                      NonFinancialGamePoints = ISNULL(@NonFinancialGamePoints, 0),
                                      AwardedFlashLoyaltyPoints = ISNULL(@AwardedFlashLoyaltyPoints, 0),
                                      NonFinancialFlashLoyaltyPoints = ISNULL(@NonFinancialFlashPoints, 0),
                                      BonusNonFinancial = ISNULL(@BounusNonFinancial, 0),
                                      NonFinancialLoyalty = ISNULL(@NonFinancialLoyaltyPoints, 0)
                                      where
                                      MonthlySummaryId = @CSummaryId


                                      select 'After Updation' Status, * from MonthlySummary where MonthlySummaryId = @CSummaryId

                                      print 'Updated'


                                      SET @PointRedeem = 0
                                      SET @PointAward = 0
                                      SET @BounusLoyaltyPoints = 0
                                      SET @NonFinancialAwardPoints = 0
                                      SET @RedeemPointValue = 0
                                      SET @RedeemedPointsVoided = 0
                                      SET @AwardPointsVoided = 0
                                      SET @AwardedFlashLoyaltyPoints = 0
                                      SET @NonFinancialFlashPoints = 0
                                      SET @AwardedLoyaltyGamePoints = 0
                                      SET @NonFinancialGamePoints = 0
                                      SET @NonFinancialLoyaltyPoints = 0
                                      SET @BounusNonFinancial = 0



                                      FETCH NEXT FROM cursor_SummaryId INTO @CSummaryId


                                      END

                                      CLOSE cursor_SummaryId;

          DEALLOCATE cursor_SummaryId;

          END
GO
