USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[PromotionAssignee]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionAssignee](
	[AssigneeId] [int] IDENTITY(1,1) NOT NULL,
	[PromotionId] [int] NOT NULL,
	[IsAll] [bit] NULL,
	[CardTypeId] [int] NULL,
	[CityId] [int] NULL,
	[IsMale] [bit] NULL,
 CONSTRAINT [PK_PromotionAssignee] PRIMARY KEY CLUSTERED 
(
	[AssigneeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UNQ_PromotionId] UNIQUE NONCLUSTERED 
(
	[PromotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PromotionAssignee]  WITH CHECK ADD  CONSTRAINT [fk_PromotionAssignee_CardTypeId] FOREIGN KEY([CardTypeId])
REFERENCES [dbo].[CardType] ([CardTypeId])
GO
ALTER TABLE [dbo].[PromotionAssignee] CHECK CONSTRAINT [fk_PromotionAssignee_CardTypeId]
GO
ALTER TABLE [dbo].[PromotionAssignee]  WITH CHECK ADD  CONSTRAINT [fk_PromotionAssignee_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([CityId])
GO
ALTER TABLE [dbo].[PromotionAssignee] CHECK CONSTRAINT [fk_PromotionAssignee_CityId]
GO
ALTER TABLE [dbo].[PromotionAssignee]  WITH CHECK ADD  CONSTRAINT [FK_PromotionAssignee_PromotionMaster] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[PromotionMaster] ([PromotionId])
GO
ALTER TABLE [dbo].[PromotionAssignee] CHECK CONSTRAINT [FK_PromotionAssignee_PromotionMaster]
GO
