USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[ExceptionMaster]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExceptionMaster](
	[ExceptionMasterId] [int] IDENTITY(1,1) NOT NULL,
	[CardId] [int] NOT NULL,
	[BypassPerWeekTransaction] [bit] NOT NULL,
	[BypassPerDayTransaction] [bit] NOT NULL,
	[BypassPerDayRedemption] [bit] NOT NULL,
	[BypassPointEarned] [bit] NOT NULL,
	[BypassMinimumPointRedeem] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_ExceptionMaster] PRIMARY KEY CLUSTERED 
(
	[ExceptionMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_ExceptionMaster] UNIQUE NONCLUSTERED 
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExceptionMaster]  WITH CHECK ADD  CONSTRAINT [FK_ExceptionMaster_CardMaster] FOREIGN KEY([CardId])
REFERENCES [dbo].[CardMaster] ([CardId])
GO
ALTER TABLE [dbo].[ExceptionMaster] CHECK CONSTRAINT [FK_ExceptionMaster_CardMaster]
GO
