USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[DigitalVoucherCampaign]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitalVoucherCampaign](
	[DigitalVoucherCampaignId] [int] IDENTITY(1,1) NOT NULL,
	[CardId] [int] NOT NULL,
	[EVoucherId] [int] NULL,
	[BrandVoucherId] [int] NULL,
	[IsEVoucher] [bit] NULL,
	[IsBrand] [bit] NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[PDFPath] [varchar](max) NULL,
 CONSTRAINT [PK_DigitalVoucherCampaign] PRIMARY KEY CLUSTERED 
(
	[DigitalVoucherCampaignId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
