USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidateVoucher]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


   CREATE PROCEDURE[dbo].[sp_ValidateVoucher]

              @CardId int,
                       @VoucherCode varchar(50)--,
                       --@OOMCOId varchar(50)

                   AS
                   BEGIN

                   declare @ErrorCode varchar(2)
                   declare @Todaydate datetime = getdate()
                   declare @Today datetime =  CONVERT(VARCHAR(10), getdate(), 111)
                   declare @IsCapping bit
                   declare @CapQty int
                   declare @OomcoPromotionCode varchar(30)
                   declare @PromotionDetailId int
                   declare @PromotionId int
                   declare @PromotionTypeId int
                   declare @IsPointValued bit
                   declare @PointValue decimal (18,3)
                   declare @StartDate datetime
                   declare @EndDate datetime
                   declare @FrequencyId int
                   declare @TotalTransaction int
                   declare @IsBulkUploaded bit
                   declare @PromotionCampaignMasterId int
				   -- Mubashir 06 Aug 2021 - for Clevertap integration
				   declare @VoucherCat varchar(100)
				   declare @PromoGrpName varchar(300);
				   
                   SET NOCOUNT ON;

              set @PromotionDetailId = 0

                   set @OomcoPromotionCode = 0

               select @PromotionCampaignMasterId = PC.PromotionCampaignMasterId, @PromotionId = PM.PromotionId, @PromotionTypeId = PM.PromotionTypeId,
               @IsPointValued = PM.IsPointValued, @PointValue = PM.PointValue, @StartDate = PM.StartDate,
               @EndDate = PM.EndDate, @FrequencyId = PM.FrequencyId, @IsCapping = PM.IsCapped,
               @CapQty = PM.CapQty, @IsBulkUploaded = PM.IsBulkUploaded, @VoucherCat = CAT.CategoryNameEng, @PromoGrpName = PG.PromotionGroupName
			   from PromotionMaster PM
               inner join PromotionCampaign PC on PM.PromotionId = PC.PromotionId and PC.CardId = @CardId
			   left join PointRedeemMaster PRM on PM.PromotionId = PRM.CampaignId and PRM.IsPromotion = 1 and PC.PromotionCampaignMasterId = PRM.PromotionCampaignMasterId
			   left join PromotionGroup PG on PM.PromotionGroupId = PG.PromotionGroupId
			   left join Category CAT on PG.CategoryId = CAT.CategoryId
			   left join PromotionDetail PD on PM.PromotionId = PD.PromotionId and PRM.IsPromotion = 1 and PRM.CampaignId= PD.PromotionId and PC.PromotionDetailId = PD.PromotionDetailId
               where (PM.PromotionCode = @VoucherCode OR PD.OOMCOPromotionCode=@VoucherCode)
			   and @Todaydate >= PM.StartDate and @Todaydate <= PM.EndDate
               and PM.IsActive = 1
			   --and PC.PromotionDetailId is null
			   --and PRM.PromotionCampaignMasterId is  null
			   --and ((PM.FrequencyId <> 5 and PRM.PromotionCampaignMasterId is not null) OR (PM.FrequencyId = 5 and PRM.PromotionCampaignMasterId is null) OR PM.FrequencyId in (1,2,3,4,6))


                   IF @PromotionId IS NULL


               BEGIN
                   set @ErrorCode = '1'--vouhcer code not Present

               END

               ELSE


               BEGIN


                   EXEC @ErrorCode = dbo.VocuherValidation  @IsCapping, @PromotionId, @CapQty, @FrequencyId,
                        @CardId, @PromotionCampaignMasterId

                       if (@ErrorCode = 0)


                       begin
                           set  @ErrorCode = null
                       End

                       IF(@IsBulkUploaded = 1)

                       BEGIN
                           select top 1 @PromotionDetailId = PromotionDetailId , @OomcoPromotionCode = OOMCOPromotionCode
                           from PromotionDetail where PromotionId = @PromotionId and IsAvailable is null

            if (@PromotionDetailId = 0)
            	begin
                                      set  @ErrorCode = '4'-- All Voucher Consumed
                                  End

                       END

                   END

                       select @PromotionCampaignMasterId as PromotionCampaignMasterId, @PromotionDetailId as PromotionDetailId, @OomcoPromotionCode as OomcoPromotionCode,
                       @IsBulkUploaded as IsBulkUploaded,@PromotionId as PromotionId, @PromotionTypeId as PromotionTypeId,@IsPointValued as IsPointValued ,
                       @PointValue as PointValue,@ErrorCode as ErrorCode,@VoucherCat as VoucherCat, @PromoGrpName as PromoGrpName

                   END
GO
