USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetFlashPromotion]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

   CREATE PROCEDURE[dbo].[SP_GetFlashPromotion]
       (
			  @StartDate DateTime,
			  @EndDate DateTime,
			  @OOMCOId varchar(50)
          )
               AS
               BEGIN
			   IF(@OOMCOId = '')
			   BEGIN
				set @OOMCOId = '0'
			   END

                   SET NOCOUNT ON;

				select FP.FlashPromotionName, PAM.STAN as 'Point Award STAN', CM.OOMCOID,
				CASE 
				WHEN IsFlash = 1 THEN 'Flash'
				ELSE 'Game'
				END as PromoType,
				PT.PartitionTypeName,
				CASE
				WHEN FRM.PartitionTypeId = 4 THEN PG.PromotionGroupName + '(' + PM.PromotionName + ')'
				ELSE FRM.Reward
				End as RewardValue, 
				FRM.STAN as 'Flash TXN STAN',
				Ad.UserName,
				FRM.AddedOn
				from FlashRewardMaster FRM 
				left join FlashPromotions FP on FRM.MasterRewardId = FP.FlashPromotionId
				left join PointAwardMaster PAM on FRM.PointAwardMasterId = PAM.PointAwardMasterId
				inner join UserMaster Ad on FRM.AddedBy = Ad.UserId
				inner join CardMaster CM on FRM.CardId = CM.CardId
				inner join PartitionType PT on FRM.PartitionTypeId = PT.PartitionTypeId
				left join PromotionMaster PM on FRM.Reward = PM.PromotionCode
				left join PromotionGroup PG on PM.PromotionGroupId = PG.PromotionGroupId
				where (CM.OOMCOID = @OOMCOId OR @OOMCOId = 0) 
				and FRM.AddedOn >= @StartDate and FRM.AddedOn <= @EndDate
				order by FRM.AddedOn desc
               END
GO
