USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[SpecialCustomerDetail]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecialCustomerDetail](
	[SpecialCustomerDetailId] [int] IDENTITY(1,1) NOT NULL,
	[SpecialCustomerMasterId] [int] NOT NULL,
	[OOMCOId] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SpecialCustomerDetail] PRIMARY KEY CLUSTERED 
(
	[SpecialCustomerDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SpecialCustomerDetail]  WITH CHECK ADD  CONSTRAINT [FK_SpecialCustomerDetail_SpecialCustomerMaster] FOREIGN KEY([SpecialCustomerMasterId])
REFERENCES [dbo].[SpecialCustomerMaster] ([SpecialCustomerMasterId])
GO
ALTER TABLE [dbo].[SpecialCustomerDetail] CHECK CONSTRAINT [FK_SpecialCustomerDetail_SpecialCustomerMaster]
GO
