USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[PromoUserRelation]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromoUserRelation](
	[PromoUserRelationId] [int] IDENTITY(1,1) NOT NULL,
	[PromotionGroupId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_PromoUserRelation] PRIMARY KEY CLUSTERED 
(
	[PromoUserRelationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PromoUserRelation]  WITH CHECK ADD  CONSTRAINT [FK_PromoUserRelation_PromotionGroup] FOREIGN KEY([PromotionGroupId])
REFERENCES [dbo].[PromotionGroup] ([PromotionGroupId])
GO
ALTER TABLE [dbo].[PromoUserRelation] CHECK CONSTRAINT [FK_PromoUserRelation_PromotionGroup]
GO
ALTER TABLE [dbo].[PromoUserRelation]  WITH CHECK ADD  CONSTRAINT [FK_PromoUserRelation_UserMaster] FOREIGN KEY([AddedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[PromoUserRelation] CHECK CONSTRAINT [FK_PromoUserRelation_UserMaster]
GO
ALTER TABLE [dbo].[PromoUserRelation]  WITH CHECK ADD  CONSTRAINT [FK_PromoUserRelation_UserMaster1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[PromoUserRelation] CHECK CONSTRAINT [FK_PromoUserRelation_UserMaster1]
GO
ALTER TABLE [dbo].[PromoUserRelation]  WITH CHECK ADD  CONSTRAINT [FK_PromoUserRelation_UserMaster2] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[PromoUserRelation] CHECK CONSTRAINT [FK_PromoUserRelation_UserMaster2]
GO
