USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[EVouchers]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVouchers](
	[EVoucherId] [int] IDENTITY(1,1) NOT NULL,
	[EVoucherCompanyId] [int] NOT NULL,
	[FileName] [varchar](100) NOT NULL,
	[SNo] [int] NOT NULL,
	[EVoucherNumber] [varchar](50) NOT NULL,
	[Denomination] [int] NOT NULL,
	[Points] [int] NULL,
	[ExpiryDate] [date] NOT NULL,
	[Available] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[isUsed] [bit] NULL,
 CONSTRAINT [PK_EVouchers] PRIMARY KEY CLUSTERED 
(
	[EVoucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EVouchers] ADD  DEFAULT ((0)) FOR [isUsed]
GO
