USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPromotionSettlement]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                              CREATE PROCEDURE[dbo].[SP_GetPromotionSettlement]
        (
              @BranchId int,
              @StartDate DateTime,
              @EndDate DateTime,
              @OOMCOId varchar(50),
			  @UserId int

          )
               AS


               BEGIN
               IF(@OOMCOId = '')
               BEGIN
                set @OOMCOId = '0'
               END

                   SET NOCOUNT ON;

               Select Convert(varchar(20), TM.ServerDateTime, 13) as  'Transaction Initiated On',
				Convert(varchar(20), A.PromotionUsedOn, 13) as 'Promotion Used On POS', MB.BranchName as 'Branch', C.CityName as 'City',
                CM.OOMCOID as 'OOMCO ID', Ct.CardType as 'Card Type',
                TM.TransactionId SeqNo,
                CD.FirstName as 'Customer Name',RT.RedemtionTypeName + ' ' + IsNull(PM.PromotionName,'') as 'Transaction Type',
                A.Amount, A.Points, 
                A.ReferenceNo,PM.PromotionName as'Promotion Name',PT.PromotionName as 'Promotion Type',
                TM.PreTxnPoint 'Pre Balance',Term.TerminalId as 'Terminal Id',Term.POSSerialNo as 'POS Serial No',
                TM.PostTxnPoint 'Post Balance',
                A.DiscountedAmount as 'Discounted Amount',A.DiscountPercentage as 'Discount Percentage',A.NetAmountAfterDiscount as 'Net Amount After Discount',
                CASE
                WHEN PM.IsCostBare  = 1 THEN 'Yes' 
                ELSE 'No' 
                END AS 'Payable To Retailer' ,
                A.CostBaring as 'Payable Amount',
                CASE
                WHEN TM.IsSettled = 1 THEN 'Settled' 
                ELSE 'Non-Settled' 
                END AS 'Settlement Status',
				CASE
                WHEN TM.IsSettled = 1 THEN Convert(varchar(20), TM.SettledOn, 100)
                ELSE '' 
                END AS 'Settled On'
                From PointRedeemMaster A
                inner join TransactionMaster TM on A.PointRedeemMasterId = TM.ReferenceId
                and TM.TransactionCodeId = 2
                and TM.ReferenceTypeId = 2
                left join TerminalMaster Term on A.TerminalId = Term.TerminalId 
                left join MerchantBranch MB on Term.MerchantBranchId = MB.MerchantBranchId and Term.MerchantId = MB.MerchantId
                left join City C on MB.CityId = C.CityId
                left join CardMaster CM on TM.CardId = CM.CardId  and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
                left join CardType CT on CM.CardTypeId = CT.CardTypeId
                left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId
                left join RedemptionType RT on RT.RedemptionTypeId = A.RedemptionTypeId
                left join PromotionMaster PM on A.CampaignId= PM.PromotionId
                left join PromotionType PT on PM.PromotionTypeId= PT.PromotionTypeId
                left join PromotionGroup PG on PM.PromotionGroupId= PG.PromotionGroupId
				left join PromoUserRelation PUR on PM.PromotionGroupId = PUR.PromotionGroupId 
                where A.PromotionUsed = 1 and (CM.OOMCOID = @OOMCOId OR @OOMCOId = 0) and 
                (MB.MerchantBranchId=@BranchId OR @BranchId = 0)
                and A.PromotionUsedOn >= @StartDate and A.PromotionUsedOn <= @EndDate
				and PUR.UserId = @UserId
                order by PromotionUsedOn desc 


               END
GO
