USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[MerchantMaster]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MerchantMaster](
	[MerchantId] [int] IDENTITY(1,1) NOT NULL,
	[InstitutionId] [int] NOT NULL,
	[MerchantCode] [varchar](20) NOT NULL,
	[MerchantBusinessName] [varchar](50) NOT NULL,
	[MerchantLegalName] [varchar](50) NOT NULL,
	[ProgramName] [varchar](50) NULL,
	[POSDisplayName] [varchar](50) NOT NULL,
	[BusinessEmail] [varchar](100) NOT NULL,
	[BusinessContactName] [varchar](50) NOT NULL,
	[BusinessContactNo] [varchar](50) NOT NULL,
	[NTN] [varchar](50) NOT NULL,
	[Status] [int] NOT NULL,
	[MerchantLogo] [varchar](200) NULL,
	[POSLogoName] [varchar](50) NOT NULL,
	[PointExpiryYearId] [int] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_MerchantMaster] PRIMARY KEY CLUSTERED 
(
	[MerchantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MerchantMaster] ADD  CONSTRAINT [DF__MerchantM__Progr__4F138710]  DEFAULT ('Loyalty Program') FOR [ProgramName]
GO
ALTER TABLE [dbo].[MerchantMaster]  WITH CHECK ADD  CONSTRAINT [fk_MerchantMaster_AddedBy] FOREIGN KEY([AddedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[MerchantMaster] CHECK CONSTRAINT [fk_MerchantMaster_AddedBy]
GO
ALTER TABLE [dbo].[MerchantMaster]  WITH CHECK ADD  CONSTRAINT [fk_MerchantMaster_InstitutionId] FOREIGN KEY([InstitutionId])
REFERENCES [dbo].[Institution] ([InstitutionId])
GO
ALTER TABLE [dbo].[MerchantMaster] CHECK CONSTRAINT [fk_MerchantMaster_InstitutionId]
GO
ALTER TABLE [dbo].[MerchantMaster]  WITH CHECK ADD  CONSTRAINT [fk_MerchantMaster_PointExpiryYearId] FOREIGN KEY([PointExpiryYearId])
REFERENCES [dbo].[PointExpiryYear] ([PointExpiryYearId])
GO
ALTER TABLE [dbo].[MerchantMaster] CHECK CONSTRAINT [fk_MerchantMaster_PointExpiryYearId]
GO
ALTER TABLE [dbo].[MerchantMaster]  WITH CHECK ADD  CONSTRAINT [fk_MerchantMaster_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[MerchantMaster] CHECK CONSTRAINT [fk_MerchantMaster_UpdatedBy]
GO
