USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[Sp_InsertBulkVocuhers]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
                CREATE PROCEDURE[dbo].[Sp_InsertBulkVocuhers]

        @Details BulkVouchersInsertScheme READONLY
    AS
        BEGIN

            INSERT INTO PromotionDetail(OOMCOPromotionCode, PromotionId , AddedBy , AddedOn)
            SELECT OOMCOPromotionCode, PromotionId, AddedBy, AddedOn FROM @Details

        END
GO
