USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[CompanyMaster]    Script Date: 7/23/2025 10:55:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyMaster](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyNameEnglish] [varchar](100) NOT NULL,
	[CompanyNameArabic] [nvarchar](max) NOT NULL,
	[CompanyDescriptionEnglish] [varchar](1000) NOT NULL,
	[CompanyDescriptionArabic] [nvarchar](max) NOT NULL,
	[TermsAndConditionsEnglish] [varchar](1000) NOT NULL,
	[TermsAndConditionsArabic] [nvarchar](max) NOT NULL,
	[CompanyLogo] [varchar](50) NOT NULL,
	[IsVoucher] [bit] NOT NULL,
	[IsBrand] [bit] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_CompanyMaster] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CompanyMaster] ADD  DEFAULT ((1)) FOR [isActive]
GO
