USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[MerchantConfigurationDetail]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MerchantConfigurationDetail](
	[MerchantConfigurationDetailId] [int] NOT NULL,
	[MerchantConfigurationId] [int] NOT NULL,
	[MerchantBranchId] [int] NOT NULL,
	[VoidPassword] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
