USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMyGiftCards]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

   CREATE PROCEDURE[dbo].[sp_GetMyGiftCards]
		/*
			* CREATED BY: SYED MUBASHIR NAQVI
			* CREATED ON: 06-DEC-2024
			* THIS STORED PROCEDURE WILL RETURN DATASET FOR ALL GIFT CARDS OF A PARTICULAR OOMCOID
			* WILL BE CALLED BY SERVICE METHOD MyGifCards
		*/

			@OOMCOID varchar(50),
			@EVoucherUsedStatus int = -1 /* ALL = -1, NOT USED = 0, USED = 1 */
            
          AS
          BEGIN
				SELECT 0 AS RowNum,OOMCOID,ExpiryDate,Amount,0 AS Points,CAST(1 AS BIT) AS IsBrand,CAST(0 AS BIT) IsEVoucher, CAST(0 AS BIT) IsUsed,
	                                CASE WHEN UpdateOn IS NULL THEN PV.AddedOn ELSE UpdateOn END AS AddedOn,PV.BrandName AS Voucher,'' AS BrandNameArabic,
	                                CM.CompanyNameEnglish,CM.CompanyNameArabic,CM.CompanyDescriptionEnglish,CM.CompanyDescriptionArabic,CM.TermsAndConditionsEnglish,
	                                CM.TermsAndConditionsArabic,CM.CompanyLogo,VoucherLink AS PDFPath
                                    FROM PushVoucher PV
                                    JOIN CompanyMaster CM ON CM.CompanyId=2
                                    WHERE Available=1 AND ExpiryDate>=CONVERT(DATE,GETDATE()) AND PV.OOMCOID = @OOMCOID
                                    UNION
                                    SELECT ROW_NUMBER() over (order by PRM.PointRedeemMasterId desc) RowNum, CM.OOMCOID,
									EV.ExpiryDate, 
                                    PRM.Amount, PRM.Points, DVC.IsBrand, DVC.IsEVoucher, IsNULL(EV.IsUsed, CAST(0 AS BIT) ) IsUsed, PRM.AddedOn,
                                    CASE
                                        WHEN DVC.IsBrand = 1 THEN BV.BrandName
                                        ELSE EV.EVoucherNumber
                                    END as 'Voucher',
 
                                    CASE
                                        WHEN DVC.IsBrand = 1 THEN BV.BrandNameArabic
                                        ELSE ''
                                    END as 'BrandNameArabic',
 
                                    CASE
                                        WHEN DVC.IsBrand = 1 THEN CompanyBrand.CompanyNameEnglish
                                        ELSE CompanyVoucher.CompanyNameEnglish
                                    END as 'CompanyNameEnglish',
 
									CASE
                                        WHEN DVC.IsBrand = 1 THEN CompanyBrand.CompanyNameArabic
                                        ELSE CompanyVoucher.CompanyNameArabic
                                    END as 'CompanyNameArabic',
 
									CASE
                                        WHEN DVC.IsBrand = 1 THEN CompanyBrand.CompanyDescriptionEnglish
                                        ELSE CompanyVoucher.CompanyDescriptionEnglish
                                    END as 'CompanyDescriptionEnglish',
 
                                    CASE
                                        WHEN DVC.IsBrand = 1 THEN CompanyBrand.CompanyDescriptionArabic
                                        ELSE CompanyVoucher.CompanyDescriptionArabic
                                    END as 'CompanyDescriptionArabic',
 
									CASE
                                        WHEN DVC.IsBrand = 1 THEN CompanyBrand.TermsAndConditionsEnglish
                                        ELSE CompanyVoucher.TermsAndConditionsEnglish
                                    END as 'TermsAndConditionsEnglish',
 
                                    CASE
                                        WHEN DVC.IsBrand = 1 THEN CompanyBrand.TermsAndConditionsArabic
                                        ELSE CompanyVoucher.TermsAndConditionsArabic
                                    END as 'TermsAndConditionsArabic',
 
									CASE
                                        WHEN DVC.IsBrand = 1 THEN CompanyBrand.CompanyLogo
                                        ELSE CompanyVoucher.CompanyLogo
                                    END as 'CompanyLogo',
 
                                    CASE
                                        WHEN DVC.IsBrand = 1 AND DVC.PDFPath IS NOT NULL AND DVC.PDFPath <> '' THEN DVC.PDFPath
                                        ELSE NULL
                                    END as 'PDFPath'
 
                                    FROM CardMaster CM
                                    INNER JOIN PointRedeemMaster PRM on CM.CardId = PRM.CardId
                                    LEFT JOIN DigitalVoucherCampaign DVC on PRM.DigitalVoucherCampaignId = DVC.DigitalVoucherCampaignId
                                    LEFT JOIN BrandVouchers BV on DVC.BrandVoucherId = BV.BrandVoucherId and DVC.IsBrand = 1 and DVC.IsEVoucher = 0
                                    LEFT JOIN EVouchers EV on DVC.EVoucherId = EV.EVoucherId and DVC.IsBrand = 0 and DVC.IsEVoucher = 1
                                    LEFT JOIN CompanyMaster CompanyBrand on BV.CompanyBrandId = CompanyBrand.CompanyId and CompanyBrand.IsBrand = 1 and CompanyBrand.IsVoucher = 0
                                    LEFT JOIN CompanyMaster CompanyVoucher on EV.EVoucherCompanyId = CompanyVoucher.CompanyId and CompanyVoucher.IsVoucher = 1 and CompanyVoucher.IsBrand = 0
 
                                    WHERE PRM.IsDigitalVoucher = 1
                                    AND (DVC.IsEVoucher = 1 OR DVC.IsBrand = 1 AND DVC.PDFPath is NOT NULL) 
                                    AND CM.OOMCOID = @OOMCOID
									AND (
											(@EVoucherUsedStatus = -1) OR 
											(@EVoucherUsedStatus = 0 AND (IsUsed is null OR IsUsed = 0)) OR 
											(@EVoucherUsedStatus = 1 AND IsUsed = 1)
										)

		END

GO
