USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[PushVoucher]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PushVoucher](
	[PushVoucherId] [int] IDENTITY(1,1) NOT NULL,
	[OOMCOID] [varchar](50) NOT NULL,
	[BrandName] [varchar](50) NOT NULL,
	[Amount] [decimal](18, 3) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[VoucherLink] [varchar](max) NOT NULL,
	[Available] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdateBy] [int] NULL,
	[UpdateOn] [datetime] NULL,
 CONSTRAINT [PK_PushVoucher] PRIMARY KEY CLUSTERED 
(
	[PushVoucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PushVoucher] ADD  CONSTRAINT [DF_PushVoucher_Available]  DEFAULT ((1)) FOR [Available]
GO
ALTER TABLE [dbo].[PushVoucher] ADD  CONSTRAINT [DF_PushVoucher_AddedOn]  DEFAULT (getdate()) FOR [AddedOn]
GO
