USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[TblNextPointExpiry]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblNextPointExpiry](
	[OomcoId] [varchar](50) NOT NULL,
	[NextExpiryDate] [date] NOT NULL,
	[PointsToExpire] [decimal](18, 2) NOT NULL,
	[createdate] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ClusteredIndex-20240109-180225]    Script Date: 7/23/2025 10:55:26 AM ******/
CREATE UNIQUE CLUSTERED INDEX [ClusteredIndex-20240109-180225] ON [dbo].[TblNextPointExpiry]
(
	[OomcoId] ASC,
	[NextExpiryDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblNextPointExpiry] ADD  CONSTRAINT [DF_TblNextPointExpiry_PointsToExpire]  DEFAULT ((0)) FOR [PointsToExpire]
GO
