USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[PromotionGroup]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionGroup](
	[PromotionGroupId] [int] IDENTITY(1,1) NOT NULL,
	[PromotionGroupName] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[EmailAddress] [varchar](50) NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_PromotionGroup] PRIMARY KEY CLUSTERED 
(
	[PromotionGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PromotionGroup]  WITH CHECK ADD  CONSTRAINT [FK_PromotionGroup_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[PromotionGroup] CHECK CONSTRAINT [FK_PromotionGroup_Category]
GO
