USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[PrepaidPointMaster]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrepaidPointMaster](
	[PrepaidPointMasterId] [int] NOT NULL,
	[PrepaidPointCode] [varchar](20) NOT NULL,
	[MerchantId] [int] NOT NULL,
	[CardId] [int] NOT NULL,
	[CampaignId] [int] NULL,
	[Amount] [decimal](18, 3) NOT NULL,
	[Points] [decimal](18, 3) NOT NULL,
	[IsPost] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[PostedBy] [int] NOT NULL,
	[PostedOn] [datetime] NOT NULL,
	[ReferenceNo] [varchar](50) NULL,
	[TerminalId] [int] NULL,
	[OldCardId] [int] NULL,
 CONSTRAINT [PK_PrepaidPointMaster] PRIMARY KEY CLUSTERED 
(
	[PrepaidPointMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PrepaidPointMaster]  WITH CHECK ADD  CONSTRAINT [fk_PrepaidPointMaster_AddedBy] FOREIGN KEY([AddedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[PrepaidPointMaster] CHECK CONSTRAINT [fk_PrepaidPointMaster_AddedBy]
GO
ALTER TABLE [dbo].[PrepaidPointMaster]  WITH CHECK ADD  CONSTRAINT [fk_PrepaidPointMaster_CampaignId] FOREIGN KEY([CampaignId])
REFERENCES [dbo].[CampaignMaster] ([CampaignId])
GO
ALTER TABLE [dbo].[PrepaidPointMaster] CHECK CONSTRAINT [fk_PrepaidPointMaster_CampaignId]
GO
ALTER TABLE [dbo].[PrepaidPointMaster]  WITH CHECK ADD  CONSTRAINT [fk_PrepaidPointMaster_CardId] FOREIGN KEY([CardId])
REFERENCES [dbo].[CardMaster] ([CardId])
GO
ALTER TABLE [dbo].[PrepaidPointMaster] CHECK CONSTRAINT [fk_PrepaidPointMaster_CardId]
GO
ALTER TABLE [dbo].[PrepaidPointMaster]  WITH CHECK ADD  CONSTRAINT [fk_PrepaidPointMaster_MerchantId] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[MerchantMaster] ([MerchantId])
GO
ALTER TABLE [dbo].[PrepaidPointMaster] CHECK CONSTRAINT [fk_PrepaidPointMaster_MerchantId]
GO
