USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[CustomerOTP]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerOTP](
	[OTPId] [int] IDENTITY(1,1) NOT NULL,
	[OTPCode] [numeric](6, 0) NOT NULL,
	[OTPTypeId] [int] NOT NULL,
	[MobileNo] [numeric](11, 0) NULL,
	[EmailId] [varchar](100) NULL,
	[MethodParameters] [varchar](max) NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[VerifiedOn] [datetime] NULL,
 CONSTRAINT [PK_CustomerOTP] PRIMARY KEY CLUSTERED 
(
	[OTPId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerOTP]  WITH CHECK ADD  CONSTRAINT [fk_CustomerOTP_OTPTypeId] FOREIGN KEY([OTPTypeId])
REFERENCES [dbo].[OTPType] ([OTPTypeId])
GO
ALTER TABLE [dbo].[CustomerOTP] CHECK CONSTRAINT [fk_CustomerOTP_OTPTypeId]
GO
