USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[CustomersforPromotion]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CustomersforPromotion]
	@FromDate datetime,
	@ToDate datetime,
	@FromAmount decimal(18,2),
	@ToAmount decimal(18,2),
	@MerchantBranchId int,
	@TopNoOfRecord int,
	@TopTransactionCount int,
	@OtherMerchantId int,
	@ProductId int

AS
BEGIN

select * from CardBatch

END
GO
