USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllSettledTransactions]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
       CREATE PROCEDURE[dbo].[SP_GetAllSettledTransactions]
         (
              @SettlementBatchNo varchar(50) 

          )
               AS


               BEGIN


                   SET NOCOUNT ON;

                   -------TransactionTypeIds--------



                   --------------------------------------------


               Select TM.CardId, CD.CustomerDataId, CONVERT(VARCHAR(20), TM.ServerDateTime, 100) TransactionDate, 

               CASE
                   WHEN A.IsPromotion = 1 THEN PG.PromotionGroupName
                   ELSE MB.BranchName 
               END AS BranchName,

               --MB.BranchName,
               CM.OOMCOID, Ct.CardType,
               TM.TransactionId TransactionMasterId, Term.TerminalId, CM.MerchantId, 
               CD.FirstName, CD.LastName,RT.RedemtionTypeName + ' ' + IsNull(PM.PromotionName,'') TransactionType,
                (A.Amount*-1) Amount, (A.Points*-1) Points,
               A.ReferenceNo,A.STAN, MB.MerchantBranchId,C.CityId,PM.PromotionName,PT.PromotionName PromotionType,
                TM.PreTxnPoint PerBalance, C.CityName,Term.POSSerialNo,
               TM.PostTxnPoint PostBalance,TM.PreTxnPointNonFinancial,TM.PostTxnPointNonFinancial,
               A.DiscountedAmount,A.DiscountPercentage,A.NetAmountAfterDiscount,PG.PromotionGroupId,PG.EmailAddress
               From PointRedeemMaster A
               left join TransactionMaster TM on A.PointRedeemMasterId = TM.ReferenceId
               and TM.TransactionCodeId = 2
               and TM.ReferenceTypeId = 2 
               left join TerminalMaster Term on A.TerminalId = Term.TerminalId
               left join MerchantBranch MB on Term.MerchantBranchId = MB.MerchantBranchId
               left join City C on MB.CityId = C.CityId
               left join CardMaster CM on TM.CardId = CM.CardId
               left join CardType CT on CM.CardTypeId = CT.CardTypeId
               left join CustomerData CD on TM.CardId = CD.CardId
               left join RedemptionType RT on RT.RedemptionTypeId = A.RedemptionTypeId
               left join PromotionMaster PM on A.CampaignId= PM.PromotionId
               left join PromotionType PT on PM.PromotionTypeId= PT.PromotionTypeId
               left join PromotionGroup PG on PM.PromotionGroupId= PG.PromotionGroupId
               --left join CampaignMaster CPM on A.CampaignId = CPM.CampaignId
               --left join EarningType ET on ET.EarningTypeId = CPM.EarningTypeId
               --Where 1=1
                WHERE A.STAN not in (select STAN from ReversalMaster where IsSale=0) 
               AND(TM.SettledReference= @SettlementBatchNo) 
               AND(TM.IsSettled= 1)
               AND(A.IsPromotion= 1) 
               AND(A.PromotionUsed= 1)


               END
GO
