USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[NonMonetaryPointsRule]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NonMonetaryPointsRule](
	[RuleId] [varchar](50) NOT NULL,
	[RuleName] [varchar](50) NOT NULL,
	[RuleDescription] [varchar](150) NOT NULL,
	[Points] [int] NULL,
	[AddedBy] [int] NULL,
	[AddedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[RuleNameArabic] [nvarchar](max) NULL,
	[RuleDescriptionArabic] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[LoyaltyPoints] [int] NULL,
 CONSTRAINT [PK_NonMonetaryPointsRule] PRIMARY KEY CLUSTERED 
(
	[RuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
