USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[Sp_UpgradeCardStatus]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Faizan Nasir
-- Create date: 10-10-2017
-- Description:	Upgrades the card type
-- =============================================
CREATE PROCEDURE [dbo].[Sp_UpgradeCardStatus]
    @CardId int,
    @STAN int
	
AS
BEGIN
    declare @EarnedPoint decimal (18,3);
    declare @Amount decimal (18,3) = 0;
    declare @CardTypeId int;
    declare @ErrorCode varchar(5);
    declare @FromAmount decimal (18,3);
    declare @ToAmount decimal (18,3);
    declare @CustomerCreationDate dateTime;
    declare @CustomerCreationDateAddedOneYear datetime;
    declare @Status bit;
    declare @Switch bit = 1;
    declare @LoopCounter int = 1;
    declare @TodaysDate dateTime;
    declare @TransactionMasterDate datetime;
    declare @UpdatedCardType int;
    declare @MerchantId int;
	declare @FirstAmount decimal (18,3);
	declare @YearDiff int;
	declare @CustomerRecentlyClosedCycle dateTime;
	declare @CustomerCurrentCycle dateTime;
	declare @AmountAward decimal(18,3);
	declare @AmountReversed decimal (18,3);
	


	SET @FirstAmount = 0;
	SET @CustomerCreationDate = GETDATE();

	SELECT TOP 1 @CustomerCreationDate =  ISNULL(AddedOn, GETDATE()), @FirstAmount = IsNull(PointAward,0)
	FROM TransactionMaster
	WHERE TransactionCodeId = 1 
	AND Cardid = @CardId
	ORDER BY AddedOn ASC

	print	'@CustomerCreationDate value:  '
	print	 @CustomerCreationDate	


	SELECT @YearDiff = DATEDIFF(DAY, @CustomerCreationDate, GETDATE()) / 365;	
	print	'@YearDiff value:  '
	print	 @YearDiff	

	set @CustomerRecentlyClosedCycle = DATEADD(year, @YearDiff, @CustomerCreationDate);
	print '@CustomerRecentlyClosedCycle value:   '
	print  @CustomerRecentlyClosedCycle;


	set @CustomerCurrentCycle = DATEADD(year, @YearDiff+1, @CustomerCreationDate);
	print '@CustomerCurrentCycle value:   '
	print @CustomerCurrentCycle;

	select @AmountAward = ISNULL(sum(PointAward),0) from TransactionMaster
				where CardId = @CardId 
                and AddedOn >= @CustomerRecentlyClosedCycle 
                and AddedOn <=  @CustomerCurrentCycle and  TransactionCodeId = 1
	group by CardId

		select @AmountReversed =  ISNULL(sum(Rev.Amount),0) 
				From ReversalMaster Rev
		inner join PointAwardMaster Aw on Rev.STAN = Aw.STAN 
				and Rev.CardId = Aw.CardId
				and Rev.PointAwardMasterId = Aw.PointAwardMasterId
		Where Rev.IsSale = 1
		and Rev.PointRedeemMasterId is null
		and Rev.PointAwardMasterId is not null
		and Rev.CardId = @CardId
		and Rev.AddedOn >= @CustomerRecentlyClosedCycle
		and Rev.AddedOn <= @CustomerCurrentCycle

		set @Amount = @AmountAward - @AmountReversed

	print '@CardId';
	print @CardId;


    print 'The amount is';
	print @Amount;







	select @CardTypeId = CardTypeId from CardMaster where CardId = @CardId;
    select @MerchantId = MerchantId from CardMaster where CardId =@CardId;
    print @CardTypeId;

        if(@CardTypeId = 2)
            BEGIN
                SET @ErrorCode = '001';
                set @Status = 1;
                --print 'The check is here';
            END
        if(@CardTypeId = 3)
        BEGIN
        --print 'Card id is 3';
             select @FromAmount= c.FromAmount, @ToAmount= c.ToAmount from
                        campaignMaster b 
                        inner join CampaignRangeDetail c on b.CampaignId = c.CampaignId 
                         where b.IsActive = 1 and c.CardTypeID=@CardTypeId
                         and b.MerchantId = @MerchantId
                        -- print 'query ends here' ;

                        -- print 'FromAmount' ;
                        -- print @FromAmount;

                        -- print 'ToAmount' ;
                         --print @ToAmount;

        if(@ToAmount < @Amount )
                BEGIN
					
					

                    select @UpdatedCardType = CardTypeId
                            FROM CampaignRangeDetail
                            WHERE @Amount BETWEEN FromAmount AND ToAmount;

                    INSERT INTO UpgradeLog (CardId,CardTypeId,AddedOn,ToCardTypeId,PointAwardSTAN,ReversalMasterSTAN,IsUpgraded) Values (@CardId,@CardTypeId,GetDate(),@UpdatedCardType,@STAN,NULL,1)

                            --print 'UpdatedCardType';
                            --print @UpdatedCardType;

                    update CardMaster set CardTypeId = @UpdatedCardType where CardId = @CardId
                    set @ErrorCode = '001';
                    set @Status = 1;
                    --print '2';
                END
                ELSE
                BEGIN
                    set @ErrorCode = '002';
                    set @Status = 0;
                END
        END
        if(@CardTypeId = 1)
        BEGIN
     select @FromAmount= c.FromAmount, @ToAmount= c.ToAmount from
                        campaignMaster b 
                        inner join CampaignRangeDetail c on b.CampaignId = c.CampaignId 
                         where b.IsActive = 1 and c.CardTypeID=@CardTypeId
                         and b.MerchantId = @MerchantId

        if(@ToAmount < @Amount)
                BEGIN
                                        select @UpdatedCardType = CardTypeId
                            FROM CampaignRangeDetail
                            WHERE @Amount BETWEEN FromAmount AND ToAmount;

					

                    select @UpdatedCardType = CardTypeId
                            FROM CampaignRangeDetail
                            WHERE @Amount BETWEEN FromAmount AND ToAmount;
					
                    INSERT INTO UpgradeLog (CardId,CardTypeId,AddedOn,ToCardTypeId,PointAwardSTAN,ReversalMasterSTAN,IsUpgraded) 
                    Values (@CardId,@CardTypeId,GetDate(),@UpdatedCardType,@STAN,NULL,1)

                    update CardMaster set CardTypeId = @UpdatedCardType where CardId = @CardId
                    set @ErrorCode = '001';
                    set @Status = 1;
                    --print '3';
                END
                ELSE
                BEGIN
                    set @ErrorCode = '002';
                    set @Status = 0;
                END
        END
        select @Status as Status, @ErrorCode as ErrorCode
       
END
GO
