USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[CardStatusLog]    Script Date: 7/23/2025 10:55:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardStatusLog](
	[ChangeId] [int] IDENTITY(1,1) NOT NULL,
	[CardId] [int] NOT NULL,
	[OldStatus] [bit] NOT NULL,
	[NewStatus] [bit] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_CardStatusLog] PRIMARY KEY CLUSTERED 
(
	[ChangeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CardStatusLog]  WITH CHECK ADD  CONSTRAINT [FK_CardStatusLog_CardMaster] FOREIGN KEY([CardId])
REFERENCES [dbo].[CardMaster] ([CardId])
GO
ALTER TABLE [dbo].[CardStatusLog] CHECK CONSTRAINT [FK_CardStatusLog_CardMaster]
GO
