USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[SP_TransactionHistory]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TransactionHistory]
(
	@OOMCOID varchar(50) = 0, 
	@TransactionType int = 0
	--@PageIndex int, 
	--@PageSize int
)
AS


BEGIN
	
	SET NOCOUNT ON;
	
	-------TransactionTypeIds--------
	DECLARE @Award int = 0;
    DECLARE @Redeem int = 2;
    DECLARE @All int = 1;
	DECLARE @NonFinancial int =3;
	DECLARE @Reversal int = 4;
	DECLARE @TotalRecords int = 0;
	
    --------------------------------------------
		
IF (@TransactionType = @Award or @TransactionType = @All)
	BEGIN
select * into #AwardTransaction from (	
Select TM.CardId, CD.CustomerDataId, CONVERT(VARCHAR(20), TM.AddedOn, 100) TransactionDate, TM.AddedOn, MB.BranchName,CM.OOMCOID, Ct.CardType,
TM.TransactionId, Term.TerminalId, Term.MerchantId, 
CD.FirstName, CD.LastName,'Award' TransactionType,
Curr.CurrencyName Currency, A.Amount, A.Points, TM.ExpiryDate PointExpiryDate,
A.ReferenceNo,A.STAN, M.MerchantBusinessName CardMerchantName,
TM.PreTxnPoint PerBalance,
TM.PostTxnPoint PostBalance
From PointAwardMaster A
inner join TransactionMaster TM on A.PointAwardMasterId = TM.ReferenceId
and TM.TransactionCodeId = 1
and TM.ReferenceTypeId = 1
left join TerminalMaster Term on A.TerminalId = Term.TerminalId
left join MerchantBranch MB on Term.MerchantBranchId = MB.MerchantBranchId
left join MerchantMaster M on MB.MerchantId = M.MerchantId
left join City C on MB.CityId = C.CityId
left join Country Con on C.CountryId = Con.CountryId
left join CardMaster CM on TM.CardId = CM.CardId
left join CardType CT on CM.CardTypeId = CT.CardTypeId
left join CustomerData CD on TM.CardId = CD.CardId
left join Currency Curr on Con.CurrencyId = Curr.CurrencyID
)T  WHERE T.OOMCOID = @OOMCOID and T.STAN not in (select STAN from ReversalMaster)
End

IF (@TransactionType = @Redeem or @TransactionType = @All)
 BEGIN
select * into #RedeemTransaction from (	
Select TM.CardId, CD.CustomerDataId,CONVERT(VARCHAR(20), TM.AddedOn, 100) TransactionDate, TM.AddedOn, MB.BranchName,CM.OOMCOID, Ct.CardType,
TM.TransactionId, Term.TerminalId, Term.MerchantId,
CD.FirstName, CD.LastName,RT.RedemtionTypeName TransactionType,
Curr.CurrencyName Currency, A.Amount, A.Points, TM.ExpiryDate PointExpiryDate,
A.ReferenceNo,A.STAN, M.MerchantBusinessName CardMerchantName,
TM.PreTxnPoint PerBalance,
TM.PostTxnPoint PostBalance
From PointRedeemMaster A
inner join TransactionMaster TM on A.PointRedeemMasterId = TM.ReferenceId
and TM.TransactionCodeId = 2
and TM.ReferenceTypeId = 2 
left join TerminalMaster Term on A.TerminalId = Term.TerminalId
left join MerchantBranch MB on Term.MerchantBranchId = MB.MerchantBranchId
left join MerchantMaster M on MB.MerchantId = M.MerchantId
left join City C on MB.CityId = C.CityId
left join Country Con on C.CountryId = Con.CountryId
inner join CardMaster CM on TM.CardId = CM.CardId
inner join CardType CT on CM.CardTypeId = CT.CardTypeId
left join CustomerData CD on TM.CardId = CD.CardId
left join Currency Curr on Con.CurrencyId = Curr.CurrencyID
left join RedemptionType RT on RT.RedemptionTypeId = A.RedemptionTypeId
Where 1=1
)T  WHERE T.OOMCOID = @OOMCOID and T.STAN not in (select STAN from ReversalMaster)
 End 

IF(@TransactionType = @NonFinancial or @TransactionType=@All)
	BEGIN
	select * into #NonFinancialTransactions from (	
	Select TM.CardId, CD.CustomerDataId,CONVERT(VARCHAR(20), TM.AddedOn, 100) TransactionDate, TM.AddedOn, 'N/A' BranchName,CM.OOMCOID, Ct.CardType,
	TM.TransactionId,  0 TerminalId, 0 MerchantId,
	CD.FirstName, CD.LastName,(NPR.RuleName +' Non Financial') TransactionType,
	'N/A' Currency, 0 Amount, A.Points, TM.ExpiryDate PointExpiryDate,
	A.ReferenceNo,A.STAN, M.MerchantBusinessName CardMerchantName,
	TM.PreTxnPoint PerBalance,
	TM.PostTxnPoint PostBalance
	From NonFinancialAwardMaster A
	inner join TransactionMaster TM on A.NonFinancialAwardMasterId = TM.ReferenceId
	and TM.TransactionCodeId = 4
	and TM.ReferenceTypeId = 4 
	--left join TerminalMaster Term on A.TerminalId = Term.TerminalId
	--left join MerchantBranch MB on Term.MerchantBranchId = MB.MerchantBranchId
	inner join CardMaster CM on TM.CardId = CM.CardId
	left join MerchantMaster M on CM.MerchantId = M.MerchantId
	--left join City C on MB.CityId = C.CityId
	--left join Country Con on C.CountryId = Con.CountryId
	
	inner join CardType CT on CM.CardTypeId = CT.CardTypeId
	left join CustomerData CD on TM.CardId = CD.CardId
	--left join Currency Curr on Con.CurrencyId = Curr.CurrencyID
	left join NonMonetaryPointsRule NPR on A.RuleId = NPR.RuleId
	--left join RedemptionType RT on RT.RedemptionTypeId = A.RedemptionTypeId
	Where 1=1
	)T  WHERE T.OOMCOID = @OOMCOID and T.STAN not in (select STAN from ReversalMaster)

	END

IF(@TransactionType = @Reversal or @TransactionType=@All)
	BEGIN
	select * into #ReversalTransactions from (	
			Select TM.CardId, CD.CustomerDataId,CONVERT(VARCHAR(20), TM.AddedOn, 100) TransactionDate, TM.AddedOn, MB.BranchName,CM.OOMCOID, Ct.CardType,
			TM.TransactionId, Term.TerminalId, Term.MerchantId,
			CD.FirstName, CD.LastName,'Reversal' TransactionType,
			Curr.CurrencyName Currency, A.Amount, A.Points, TM.ExpiryDate PointExpiryDate,
			A.ReferenceNo,A.STAN, M.MerchantBusinessName CardMerchantName,
			TM.PreTxnPoint PerBalance,
			TM.PostTxnPoint PostBalance
			From ReversalMaster A
			inner join TransactionMaster TM on A.PointRedeemMasterId = TM.ReferenceId
			and TM.TransactionCodeId = 2
			and TM.ReferenceTypeId = 2 
			left join TerminalMaster Term on A.TerminalId = Term.TerminalId
			left join MerchantBranch MB on Term.MerchantBranchId = MB.MerchantBranchId
			left join MerchantMaster M on MB.MerchantId = M.MerchantId
			left join City C on MB.CityId = C.CityId
			left join Country Con on C.CountryId = Con.CountryId
			inner join CardMaster CM on TM.CardId = CM.CardId
			inner join CardType CT on CM.CardTypeId = CT.CardTypeId
			left join CustomerData CD on TM.CardId = CD.CardId
			left join Currency Curr on Con.CurrencyId = Curr.CurrencyID
			--left join RedemptionType RT on RT.RedemptionTypeId = A.RedemptionTypeId
	Where 1=1
	)T  WHERE T.OOMCOID = @OOMCOID and T.STAN not in (select STAN from ReversalMaster)

	END
 IF @TransactionType=@All BEgin
select * into #AllTransaction from (
select * From #RedeemTransaction
Union ALL
select * From #AwardTransaction
Union ALL
select * From #NonFinancialTransactions
Union ALL
select * From #ReversalTransactions
)T 
 End 



IF @TransactionType =@Redeem 
BEGIN

Select * from (
select ROW_NUMBER() over(order by AddedOn desc)RowNum,* from #RedeemTransaction a 
)T 
--Where T.RowNum BETWEEN ((@PageIndex-@PageIndex)*@PageSize)+@PageIndex AND @PageSize*(@PageIndex)

Select  @TotalRecords = COUNT(*) from (
select ROW_NUMBER() over(order by AddedOn desc)RowNum,* from #RedeemTransaction a 
)T

END

IF @TransactionType =@All 
BEGIN

Select * from (
select ROW_NUMBER() over(order by AddedOn desc)RowNum,* from #AllTransaction a 
)T 
--Where T.RowNum BETWEEN ((@PageIndex-@PageIndex)*@PageSize)+@PageIndex AND @PageSize*(@PageIndex)

Select  @TotalRecords = COUNT(*)from (
select ROW_NUMBER() over(order by AddedOn desc)RowNum,* from #AllTransaction a 
)T

END

 IF @TransactionType =@Award 
BEGIN

Select * from (
select ROW_NUMBER() over(order by AddedOn desc)RowNum,* from #AwardTransaction a 
)T 
--Where T.RowNum BETWEEN ((@PageIndex-@PageIndex)*@PageSize)+@PageIndex AND @PageSize*(@PageIndex)


Select  @TotalRecords =  COUNT(*) from (
select ROW_NUMBER() over(order by AddedOn desc)RowNum,* from #AwardTransaction a 
)T


END


 IF @TransactionType =@NonFinancial 
BEGIN

Select * from (
select ROW_NUMBER() over(order by AddedOn desc)RowNum,* from #NonFinancialTransactions a 
)T 
--Where T.RowNum BETWEEN ((@PageIndex-@PageIndex)*@PageSize)+@PageIndex AND @PageSize*(@PageIndex)


Select  @TotalRecords =  COUNT(*) from (
select ROW_NUMBER() over(order by AddedOn desc)RowNum,* from #NonFinancialTransactions a 
)T

END

 IF @TransactionType =@Reversal 
BEGIN

Select * from (
select ROW_NUMBER() over(order by AddedOn desc)RowNum,* from #ReversalTransactions a 
)T 
--Where T.RowNum BETWEEN ((@PageIndex-@PageIndex)*@PageSize)+@PageIndex AND @PageSize*(@PageIndex)


Select  @TotalRecords =  COUNT(*) from (
select ROW_NUMBER() over(order by AddedOn desc)RowNum,* from #ReversalTransactions a 
)T

END
Select @TotalRecords TotalNoOfRecords, a.LoyaltyPoints,a.NonFinancialPoints, CONVERT(varchar,  DATEADD(day, -1, a.EndDate), 106) BalanceExpiry from CardMaster a
inner join CustomerData CD on a.CardId = CD.CardId
where a.OOMCOID = @OOMCOID



END
GO
