USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[CampaignMaster]    Script Date: 7/23/2025 10:55:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampaignMaster](
	[CampaignId] [int] IDENTITY(1,1) NOT NULL,
	[CampaignName] [varchar](50) NOT NULL,
	[ProductId] [int] NOT NULL,
	[IsProduct] [bit] NOT NULL,
	[CampaignRuleId] [int] NOT NULL,
	[CampaignStartDate] [datetime] NOT NULL,
	[CampaignEndDate] [datetime] NOT NULL,
	[EarningTypeId] [int] NOT NULL,
	[Quantity] [int] NULL,
	[UnitId] [int] NULL,
	[FixedAmount] [decimal](18, 3) NULL,
	[Points] [decimal](10, 3) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_CampaignMaster] PRIMARY KEY CLUSTERED 
(
	[CampaignId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CampaignMaster] ADD  CONSTRAINT [DF__CampaignM__IsPro__59E61B3E]  DEFAULT ((1)) FOR [IsProduct]
GO
ALTER TABLE [dbo].[CampaignMaster]  WITH CHECK ADD  CONSTRAINT [fk_CampaignMaster_AddedBy] FOREIGN KEY([AddedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[CampaignMaster] CHECK CONSTRAINT [fk_CampaignMaster_AddedBy]
GO
ALTER TABLE [dbo].[CampaignMaster]  WITH CHECK ADD  CONSTRAINT [FK_CampaignMaster_EarningType] FOREIGN KEY([EarningTypeId])
REFERENCES [dbo].[EarningType] ([EarningTypeId])
GO
ALTER TABLE [dbo].[CampaignMaster] CHECK CONSTRAINT [FK_CampaignMaster_EarningType]
GO
ALTER TABLE [dbo].[CampaignMaster]  WITH CHECK ADD  CONSTRAINT [fk_CampaignMaster_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[CampaignMaster] CHECK CONSTRAINT [fk_CampaignMaster_UpdatedBy]
GO
