USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[GameMaster]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameMaster](
	[GameId] [int] IDENTITY(1,1) NOT NULL,
	[GameName] [varchar](50) NOT NULL,
	[TotalPartitions] [int] NOT NULL,
	[GameTypeId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_GameMaster] PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GameMaster]  WITH CHECK ADD  CONSTRAINT [FK_GameMaster_GameType] FOREIGN KEY([GameTypeId])
REFERENCES [dbo].[GameType] ([GameTypeId])
GO
ALTER TABLE [dbo].[GameMaster] CHECK CONSTRAINT [FK_GameMaster_GameType]
GO
