USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[PromotionCampaign]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionCampaign](
	[PromotionCampaignMasterId] [int] IDENTITY(1,1) NOT NULL,
	[CardId] [int] NOT NULL,
	[PromotionId] [int] NOT NULL,
	[PromotionDetailId] [int] NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_PromotionCampaign] PRIMARY KEY CLUSTERED 
(
	[PromotionCampaignMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PromotionCampaign]  WITH CHECK ADD  CONSTRAINT [FK_PromotionCampaign_CardMaster] FOREIGN KEY([CardId])
REFERENCES [dbo].[CardMaster] ([CardId])
GO
ALTER TABLE [dbo].[PromotionCampaign] CHECK CONSTRAINT [FK_PromotionCampaign_CardMaster]
GO
ALTER TABLE [dbo].[PromotionCampaign]  WITH CHECK ADD  CONSTRAINT [FK_PromotionCampaign_PromotionDetail] FOREIGN KEY([PromotionDetailId])
REFERENCES [dbo].[PromotionDetail] ([PromotionDetailId])
GO
ALTER TABLE [dbo].[PromotionCampaign] CHECK CONSTRAINT [FK_PromotionCampaign_PromotionDetail]
GO
ALTER TABLE [dbo].[PromotionCampaign]  WITH CHECK ADD  CONSTRAINT [FK_PromotionCampaign_PromotionMaster] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[PromotionMaster] ([PromotionId])
GO
ALTER TABLE [dbo].[PromotionCampaign] CHECK CONSTRAINT [FK_PromotionCampaign_PromotionMaster]
GO
