USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[Institution]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Institution](
	[InstitutionId] [int] NOT NULL,
	[InstitutionName] [varchar](50) NOT NULL,
	[NTN] [varchar](50) NULL,
	[RegisteredAdress] [varchar](100) NULL,
	[StreetAddress] [varchar](50) NULL,
	[CityId] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
	[ContactNo] [numeric](18, 0) NOT NULL,
	[FaxNo] [numeric](18, 0) NULL,
	[ContractStartDate] [datetime] NOT NULL,
	[ContractEndDate] [datetime] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_Institution] PRIMARY KEY CLUSTERED 
(
	[InstitutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Institution]  WITH CHECK ADD  CONSTRAINT [fk_Institution_AddedBy] FOREIGN KEY([AddedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[Institution] CHECK CONSTRAINT [fk_Institution_AddedBy]
GO
ALTER TABLE [dbo].[Institution]  WITH CHECK ADD  CONSTRAINT [fk_Institution_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([CityId])
GO
ALTER TABLE [dbo].[Institution] CHECK CONSTRAINT [fk_Institution_CityId]
GO
ALTER TABLE [dbo].[Institution]  WITH CHECK ADD  CONSTRAINT [fk_Institution_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([CountryId])
GO
ALTER TABLE [dbo].[Institution] CHECK CONSTRAINT [fk_Institution_CountryId]
GO
ALTER TABLE [dbo].[Institution]  WITH CHECK ADD  CONSTRAINT [fk_Institution_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[Institution] CHECK CONSTRAINT [fk_Institution_UpdatedBy]
GO
