USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[PromotionMaster]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionMaster](
	[PromotionId] [int] IDENTITY(1,1) NOT NULL,
	[PromotionName] [varchar](50) NOT NULL,
	[PromotionCode] [varchar](50) NOT NULL,
	[PromotionTypeId] [int] NOT NULL,
	[IsPointValued] [bit] NOT NULL,
	[PointValue] [decimal](18, 3) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[TermsAndConditions] [varchar](max) NOT NULL,
	[IsActive] [bit] NULL,
	[VoucherImage] [varchar](50) NULL,
	[FrequencyId] [int] NULL,
	[IsCapped] [bit] NULL,
	[CapQty] [int] NULL,
	[IsBulkUploaded] [bit] NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[DescriptionArabic] [nvarchar](max) NULL,
	[TermsAndConditionsArabic] [nvarchar](max) NULL,
	[PromotionNameArabic] [nvarchar](max) NULL,
	[DiscountPercentage] [decimal](18, 3) NULL,
	[PromotionGroupId] [int] NULL,
	[IsCostBare] [bit] NOT NULL,
	[CostBaring] [decimal](18, 3) NOT NULL,
	[VisibleOnDashboard] [bit] NULL,
	[GameTypeId] [int] NULL,
 CONSTRAINT [PK_PromotionMaster] PRIMARY KEY CLUSTERED 
(
	[PromotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PromotionMaster]  WITH CHECK ADD  CONSTRAINT [FK_PromotionMaster_PromotionGroup] FOREIGN KEY([PromotionGroupId])
REFERENCES [dbo].[PromotionGroup] ([PromotionGroupId])
GO
ALTER TABLE [dbo].[PromotionMaster] CHECK CONSTRAINT [FK_PromotionMaster_PromotionGroup]
GO
ALTER TABLE [dbo].[PromotionMaster]  WITH CHECK ADD  CONSTRAINT [FK_PromotionMaster_PromotionType] FOREIGN KEY([FrequencyId])
REFERENCES [dbo].[PromotionFrequency] ([FrequencyId])
GO
ALTER TABLE [dbo].[PromotionMaster] CHECK CONSTRAINT [FK_PromotionMaster_PromotionType]
GO
