USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[Sp_CheckPointExpiry_New]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Sp_CheckPointExpiry_New]
	@ParamNextExpiryDate datetime = null,
	@OOMCOID varchar(50) = null
AS
BEGIN

declare @NextExpiryDate datetime = @ParamNextExpiryDate
Declare @TempCardIds Table
	(
		CardId int Not Null,
		OOMCOID varchar(50) not null,
		ExpiryDate datetime not null,
		PointsToExpire decimal (18,2)		
	)
	declare @CardId int;
	
	declare @CurrentCardLoyaltyPoints decimal (18,2);
	declare @CurrentCardNonFinancialPoints decimal (18,2);
	declare @OutId int;
	
			SET @ParamNextExpiryDate = dateadd(YY, -2, DATEADD(month, DATEDIFF(month, 0, @ParamNextExpiryDate), 0) )
			SET @ParamNextExpiryDate= dateadd(m, -1, DATEADD(month, DATEDIFF(month, 0, @ParamNextExpiryDate), 0) ) 
			--print 'Will calculate dates based on ' + cast(@ParamNextExpiryDate as varchar)
			--print 'transaction >= ' + cast(dateadd(m, 1, @ParamNextExpiryDate) as varchar) 
			--print 'transaction < ' + cast(dateadd(YY, 2, dateadd(m, 1, @ParamNextExpiryDate)) as varchar) 

			-- DECLARE VARIABLES FOR INTERMEDIARY VALUES

			DECLARE @PRETRXN INT;
			DECLARE @POSTTRXN INT;
			DECLARE @PREPOINTS DECIMAL(18,2);
			DECLARE @POSTPOINTS DECIMAL(18,2);
			DECLARE @LOYALTYPOINTS DECIMAL(18,2);
			DECLARE @REDEEMPOINTS DECIMAL(18,2);
			DECLARE @NEGLOYALTYPOINTS DECIMAL(18,2);
			DECLARE @REVERSEDPOINTS DECIMAL(18,2);
			DECLARE @EARNEDPOINTS DECIMAL(18,2);

			SELECT @CardId = CardId FROM CardMaster where OomcoId = @OOMCOID; 

			SELECT @PRETRXN = ISNULL(min(TransactionId),0) from TransactionMaster where ServerDateTime >=@ParamNextExpiryDate and ServerDateTime <= dateadd(m, 1, @ParamNextExpiryDate) and CardId = @CardId;
			SELECT @POSTTRXN = ISNULL(max(TransactionId),0) from TransactionMaster where ServerDateTime >=@ParamNextExpiryDate and ServerDateTime <= dateadd(m, 1, @ParamNextExpiryDate) and CardId = @CardId;
			SELECT @PREPOINTS = ISNULL(PreTxnPoint,0) from TransactionMaster where TransactionId = @PRETRXN;
			SELECT @POSTPOINTS = ISNULL(PostTxnPoint,0) from TransactionMaster where TransactionId = @POSTTRXN;
			SELECT @LOYALTYPOINTS = ISNULL(LoyaltyPoints,0) from CardMaster where CardId = @CardId;
			SET @EARNEDPOINTS = @POSTPOINTS - @PREPOINTS;

			IF (@EARNEDPOINTS is NULL) SET @EARNEDPOINTS = 0;

			SELECT @REDEEMPOINTS = ISNULL(Sum(PointRedeem),0) FROM TransactionMaster 
				where TransactionCodeid = 2 
				and ServerDateTime >=dateadd(m, 1, @ParamNextExpiryDate) 
				and ServerDateTime <= dateadd(YY, 2, dateadd(m, 1, @ParamNextExpiryDate)) 
				and CardId = @CardId;

			SELECT @NEGLOYALTYPOINTS = isnull(Sum(Points), 0) FROM PointAdjustmentMaster 
				where IsAward = 0 and IsLoyalty = 1 and IsPost = 1
				and PostedOn >=dateadd(m, 1, @ParamNextExpiryDate) 
				and PostedOn <= dateadd(YY, 2, dateadd(m, 1, @ParamNextExpiryDate)) 
				AND CardId = @CardId;

			SELECT @REVERSEDPOINTS =  IsNull(Sum(Points),0) FROM ReversalMaster 
				where IsSale = 0 
				and AddedOn >=dateadd(m, 1, @ParamNextExpiryDate) 
				and AddedOn <= dateadd(YY, 2, dateadd(m, 1, @ParamNextExpiryDate)) 
				AND CardId = @CardId;


			-- RETURN OUTPUT
			SELECT @CardId AS CardId, @OOMCOID AS OOMCOID, @NextExpiryDate AS ExpiryDate,
				CASE WHEN ( @EARNEDPOINTS - @REDEEMPOINTS - @NEGLOYALTYPOINTS + @REVERSEDPOINTS ) >= @LOYALTYPOINTS THEN @LOYALTYPOINTS
					ELSE ( @EARNEDPOINTS - @REDEEMPOINTS - @NEGLOYALTYPOINTS + @REVERSEDPOINTS )
				END AS PointsToExpire ; 

END
GO
