USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateVoucherDetail]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateVoucherDetail] 
                @CardId int,
                --@OOMCOId varchar(50),
                @OOMCOPromotionCode varchar(100),
                @PromotionId int,
                @PromotionDetailId int

            AS
            BEGIN

                SET NOCOUNT ON;

                update PromotionDetail set IsAvailable = 0 where OOMCOPromotionCode = @OOMCOPromotionCode
                and PromotionDetailId = @PromotionDetailId;


                update PromotionCampaign set PromotionDetailId = @PromotionDetailId 
                where PromotionId = @PromotionId and CardId = @CardId;

            END
GO
