USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[VocuherValidation]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   CREATE PROCEDURE[dbo].[VocuherValidation]
         @IsCapping bit,
               @PromotionId int,
                 @CapQty int,
                 @FrequencyId int,
                 @CardId int,
                 @PromotionCampaignMasterId int
             AS
             BEGIN

             declare @TotalTransaction int
             declare @ErrorCode varchar(2)
             declare @Todaydate datetime = getdate()
             declare @Today datetime =   CONVERT(VARCHAR(10), getdate(), 111)

                 SET NOCOUNT ON;

                 IF(@IsCapping = 1)

                 BEGIN

                     select @TotalTransaction = Count(*) from PointRedeemMaster
                     where IsPromotion = 1 and CampaignId = @PromotionId-- and CardId = @CardId

                     --and PromotionCampaignMasterId = @PromotionCampaignMasterId

                     IF(@TotalTransaction >= @CapQty)
                     BEGIN
                         set @ErrorCode = '2'   --Cappigng Exhausted
                     END

                 END

                 IF(@FrequencyId = 1)

                 BEGIN
                     IF EXISTS(SELECT* FROM  PointRedeemMaster
                     WHERE IsPromotion = 1 and CampaignId = @PromotionId and CONVERT(VARCHAR(10), AddedOn, 111) = @Today
                     and CardId = @CardId and PromotionCampaignMasterId = @PromotionCampaignMasterId)
                         BEGIN
                         print 'Daily'
                         set @ErrorCode = '3'--Daily Limit Exhausted
                      END


                 END

                 IF(@FrequencyId = 3)

                 BEGIN
                     IF EXISTS(SELECT* FROM  PointRedeemMaster
                     WHERE IsPromotion = 1 and CampaignId = @PromotionId and MONTH(AddedOn) = MONTH(@Todaydate)

                     and CardId = @CardId and PromotionCampaignMasterId = @PromotionCampaignMasterId)
                         BEGIN
                         print 'Monthly'
                         set @ErrorCode = '3'--Monthly Limit Exhausted
                      END


                 END

                 IF(@FrequencyId = 4)

                 BEGIN
                 IF EXISTS(SELECT* FROM  PointRedeemMaster
                     WHERE IsPromotion = 1 and CampaignId = @PromotionId and YEAR(AddedOn) = YEAR(@Todaydate)

                     and CardId = @CardId and PromotionCampaignMasterId = @PromotionCampaignMasterId)
                         BEGIN
                         print 'Yearly'
                         set @ErrorCode = '3'--Yearly Limit Exhausted
                      END


                 END

                 IF(@FrequencyId = 5)

                 BEGIN
                     IF EXISTS(SELECT* FROM  PointRedeemMaster WHERE IsPromotion = 1 and
                     CampaignId = @PromotionId and CardId = @CardId and PromotionCampaignMasterId = @PromotionCampaignMasterId
					 )
					
                         BEGIN
                         print 'Once'
                         set @ErrorCode = '3'--Once Limit Exhausted
                      END


                 END

                 RETURN @ErrorCode
             END

GO
