USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[TransactionReferenceType]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionReferenceType](
	[ReferenceTypeId] [int] NOT NULL,
	[ReferenceType] [varchar](5) NOT NULL,
	[ReferenceTypeTitle] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TransactionReferenceType] PRIMARY KEY CLUSTERED 
(
	[ReferenceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_TransactionReferenceType_ReferenceType] UNIQUE NONCLUSTERED 
(
	[ReferenceType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
