USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTransactionStatement]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Maryam Arshad>
-- Create date: <04-Dec-2024>
-- Description:	<Get Transaction Statement with Pagination>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetTransactionStatement]
	@OOMCOID varchar(50),
	@TransactionType int,
	@size int,
	@PageNumber int
AS
BEGIN
	SET NOCOUNT ON;

	----Award Query-----
	IF @TransactionType = 1
	BEGIN
	SELECT COUNT(*) OVER () AS TotalRecords, T.*
	FROM (
	Select
	   CM.OOMCOID,

	   CASE
       WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, -4, TM.AddedOn)
       ELSE TM.AddedOn
       END AS 
	   AddedOn,

       CASE
       WHEN MB.BranchName is null THEN A.StationCode
       ELSE MB.BranchName
       END AS 
	   BranchName,
      
	   A.Amount, 
	   A.Points, 
       P.FriendlyName as TransactionType,
	   A.ReferenceNo,
	   CONVERT(VARCHAR, A.STAN) STAN,
	   0 RuleId,
       IsNULL(P.FriendlyNameArabic,'') as FriendlyNameArabic,
       
	   TM.ServerDateTime

       From PointAwardMaster A
       inner join TransactionMaster TM on A.PointAwardMasterId = TM.ReferenceId
       and TM.TransactionCodeId = 1
       and TM.ReferenceTypeId = 1
       left join TerminalMaster Term on A.TerminalId = Term.TerminalId
       left join MerchantBranch MB on Term.MerchantBranchId = MB.MerchantBranchId and Term.MerchantId = MB.MerchantId
       left join City C on MB.CityId = C.CityId
       inner join CardMaster CM on TM.CardId = CM.CardId and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
       left join CardType CT on CM.CardTypeId = CT.CardTypeId
       left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId
       left join CampaignMaster CPM on A.CampaignId = CPM.CampaignId
       left join EarningType ET on CPM.EarningTypeId = ET.EarningTypeId
       left join Products P on A.ProductId = P.ProductId
       WHERE 
		1=1
		AND CM.OOMCOID = @OOMCOID
		--AND TM.ServerDateTime >= 01/01/1900
		--AND TM.ServerDateTime >= 31/12/2099

	) T WHERE 1=1 order by T.ServerDateTime desc
	OFFSET (@PageNumber - 1) * @size ROWS
	FETCH NEXT @size ROWS ONLY;
	END

	
	----Redeem Query-----
	IF @TransactionType = 2
	BEGIN
	SELECT COUNT(*) OVER () AS TotalRecords, T.*
	FROM (
	Select 
	CM.OOMCOID,

	CASE
    WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, -4, TM.AddedOn)
    ELSE TM.AddedOn
    END AS
	AddedOn,

	CASE
    WHEN A.IsDigitalVoucher = 1 THEN A.CompanyName
    ELSE MB.BranchName
    END AS
	BranchName,
	
    A.Amount,
	A.Points,
    CASE
     WHEN A.IsDigitalVoucher = 1 THEN A.CompanyName + ' '  + 'Voucher' + ' ' + A.BrandName
     ELSE RT.RedemtionTypeName + ' ' + IsNull(PM.PromotionName,'')
     END AS 
	TransactionType,

    A.ReferenceNo, 
	CONVERT(VARCHAR, A.STAN) STAN, 
    0 RuleId, 
	'' as FriendlyNameArabic,
	TM.ServerDateTime
	 

     From PointRedeemMaster A
     inner join TransactionMaster TM on A.PointRedeemMasterId = TM.ReferenceId
     and TM.TransactionCodeId = 2
     and TM.ReferenceTypeId = 2
     left join TerminalMaster Term on A.TerminalId = Term.TerminalId 
     left join MerchantBranch MB on Term.MerchantBranchId = MB.MerchantBranchId and Term.MerchantId = MB.MerchantId
     left join City C on MB.CityId = C.CityId
     inner join CardMaster CM on TM.CardId = CM.CardId  and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
     left join CardType CT on CM.CardTypeId = CT.CardTypeId
     left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId
     left join RedemptionType RT on RT.RedemptionTypeId = A.RedemptionTypeId
     left join PromotionMaster PM on A.CampaignId= PM.PromotionId
     left join PromotionType PT on PM.PromotionTypeId= PT.PromotionTypeId
     left join PromotionGroup PG on PM.PromotionGroupId= PG.PromotionGroupId
	WHERE
		1=1
		AND CM.OOMCOID = @OOMCOID
		--AND TM.ServerDateTime >= 01/01/1900
		--AND TM.ServerDateTime >= 31/12/2099

	) T WHERE 1=1 order by T.ServerDateTime desc
	OFFSET (@PageNumber - 1) * @size ROWS
	FETCH NEXT @size ROWS ONLY;
	END
	
	

	----Reversal Query-----
	IF @TransactionType = 3
	BEGIN
	SELECT COUNT(*) OVER () AS TotalRecords, T.* FROM (
	Select
	CM.OOMCOID,

	CASE
    WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, -4, TM.AddedOn)
    ELSE TM.AddedOn
    END AS 
	AddedOn,

	MB.BranchName,
	A.Amount,
	(A.Points *-1) Points, 
    'Reversal' TransactionType,
    A.ReferenceNo,
	CONVERT(VARCHAR, A.STAN) STAN,
    0 RuleId,
    '' as FriendlyNameArabic,
	TM.ServerDateTime
     
     From ReversalMaster A
     inner join TransactionMaster TM on A.ReversalMasterId = TM.ReferenceId
     and TM.TransactionCodeId = 5
     and TM.ReferenceTypeId = 5
     left join TerminalMaster Term on A.TerminalId = Term.TerminalId
     left join MerchantBranch MB on Term.MerchantBranchId = MB.MerchantBranchId and Term.MerchantId = MB.MerchantId
     left join City C on MB.CityId = C.CityId
     inner join CardMaster CM on TM.CardId = CM.CardId and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
     inner join CardType CT on CM.CardTypeId = CT.CardTypeId
     left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId 
	 WHERE
	  1=1
		AND CM.OOMCOID = @OOMCOID
		--AND TM.ServerDateTime >= 01/01/1900
		--AND TM.ServerDateTime >= 31/12/2099

	) T WHERE 1=1 order by T.ServerDateTime desc
	OFFSET (@PageNumber - 1) * @size ROWS
	FETCH NEXT @size ROWS ONLY;
	END



	----NonFinancial Query-----
	IF @TransactionType = 4
	BEGIN
	SELECT COUNT(*) OVER () AS TotalRecords, T.*
	FROM (
	Select 
	CM.OOMCOID,

	CASE
    WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, -4, TM.AddedOn)
    ELSE TM.AddedOn
    END AS 
	AddedOn,

	'N/A' BranchName,
    0 Amount, 
	A.LoyaltyPoints as Points, 
    (NPR.RuleName +' (Non Financial)') TransactionType,
	A.ReferenceNo,
	CONVERT(VARCHAR, A.STAN) STAN,
    NPR.RuleId,
    '' as FriendlyNameArabic,
	TM.ServerDateTime
 
    From NonFinancialAwardMaster A
    inner join TransactionMaster TM on A.NonFinancialAwardMasterId = TM.ReferenceId
    and TM.TransactionCodeId = 4
    and TM.ReferenceTypeId = 4
    inner join CardMaster CM on TM.CardId = CM.CardId and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
    inner join CardType CT on CM.CardTypeId = CT.CardTypeId
    left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId
    left join NonMonetaryPointsRule NPR on A.RuleId = NPR.RuleId
	WHERE 
	1=1
	AND CM.OOMCOID = @OOMCOID
	--AND TM.ServerDateTime >= 01/01/1900
	--AND TM.ServerDateTime >= 31/12/2099

	) T WHERE 1=1 order by T.ServerDateTime desc
	OFFSET (@PageNumber - 1) * @size ROWS
	FETCH NEXT @size ROWS ONLY;
	END


	----Adjustment Query-----
	IF @TransactionType = 5
	BEGIN
	SELECT COUNT(*) OVER () AS TotalRecords, T.* 
	FROM (
	Select 
	CM.OOMCOID, 

	CASE
    WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, -4, TM.AddedOn)
    ELSE TM.AddedOn
    END AS 
	AddedOn,

	'N/A' BranchName,
    0 Amount, 

    CASE
    WHEN A.IsAward = 1 AND A.IsLoyalty = 1  THEN A.Points
    WHEN A.IsAward = 0 AND A.IsLoyalty = 0  THEN A.Points
    WHEN A.IsAward = 0 AND A.IsLoyalty = 1  THEN (A.Points * -1)
    WHEN A.IsAward = 1 AND A.IsLoyalty = 0  THEN A.Points
    END 
	Points, 

    CASE
    WHEN A.IsAward = 1 AND A.IsLoyalty = 1  THEN 'Positive-Loyalty'
    WHEN A.IsAward = 0 AND A.IsLoyalty = 0  THEN 'Negative-Tier'
    WHEN A.IsAward = 0 AND A.IsLoyalty = 1  THEN 'Negative-Loyalty'
    WHEN A.IsAward = 1 AND A.IsLoyalty = 0  THEN 'Positive-Tier'
    END 
	TransactionType,

    '' ReferenceNo,
	'' STAN, 
    0 RuleId,
    '' as FriendlyNameArabic,
	TM.ServerDateTime
 
    From PointAdjustmentMaster A
    inner join TransactionMaster TM on A.PointAdjustmentMasterId = TM.ReferenceId
    and TM.TransactionCodeId = 3
    and TM.ReferenceTypeId = 3
    inner join CardMaster CM on TM.CardId = CM.CardId and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
    left join CardType CT on CM.CardTypeId = CT.CardTypeId
    left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId 
	WHERE
	1=1
	AND CM.OOMCOID = @OOMCOID
	--AND TM.ServerDateTime >= 01/01/1900
	--AND TM.ServerDateTime >= 31/12/2099

	) T WHERE 1=1 order by T.ServerDateTime desc
	OFFSET (@PageNumber - 1) * @size ROWS
	FETCH NEXT @size ROWS ONLY;
	END


	----Game Query-----
	IF @TransactionType = 6
	BEGIN
	SELECT COUNT(*) OVER () AS TotalRecords, T.*
	FROM (
	Select 
	CM.OOMCOID, 

	CASE
    WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, -4, TM.AddedOn)
    ELSE TM.AddedOn
    END AS 
	AddedOn,

	'N/A' BranchName,
    0 Amount, 
    A.Reward Points, 
	gt.GameTypeName TransactionType,
    '' ReferenceNo,
	A.STAN, 
    0 RuleId,
    '' as FriendlyNameArabic,
	TM.ServerDateTime

    From FlashRewardMaster A
    inner join TransactionMaster TM on A.FlashRewardMasterId = TM.ReferenceId
	and TM.TransactionCodeId = 6
	and TM.ReferenceTypeId = 6
    inner join CardMaster CM on TM.CardId = CM.CardId and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
    left join CardType CT on CM.CardTypeId = CT.CardTypeId
    left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId 
	left join FlashPromotions fp on A.MasterRewardId = fp.FlashPromotionId
	left join PartitionType pt on fp.PartitionTypeId = pt.PartitionTypeId
	left join GameType gt on A.GameTypeId = gt.GameTypeId
	WHERE
	1=1
	AND CM.OOMCOID = @OOMCOID
	--AND TM.ServerDateTime >= 01/01/1900
	--AND TM.ServerDateTime >= 31/12/2099
	and A.PartitionTypeId=2 and A.IsGame = 1 and A.IsFlash = 0

	) T WHERE 1=1 order by T.ServerDateTime desc
	OFFSET (@PageNumber - 1) * @size ROWS
	FETCH NEXT @size ROWS ONLY;
	END



	----PointsExpiry Query-----
	IF @TransactionType = 7
	BEGIN
	SELECT COUNT(*) OVER () AS TotalRecords, T.* 
	FROM (
	Select  
	CM.OOMCOID,

	CASE
    WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, -4, TM.AddedOn)
    ELSE TM.AddedOn
    END AS 
	AddedOn,

	'N/A' BranchName,
    0 Amount,
	(A.LoyaltyPointsToExpire * -1) as Points, 
	'Points Expiry' as TransactionType,
    '' as ReferenceNo,
	'' STAN,
    0 as RuleId,
    '' as FriendlyNameArabic,
	TM.ServerDateTime
    
    From PointExpiryMaster A
    inner join TransactionMaster TM on A.PointExpiryMasterId = TM.ReferenceId
    and TM.TransactionCodeId = 7
    and TM.ReferenceTypeId = 7
    inner join CardMaster CM on TM.CardId = CM.CardId and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
    inner join CardType CT on CM.CardTypeId = CT.CardTypeId
    left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId
    WHERE 
	1=1
	AND CM.OOMCOID = @OOMCOID
	--AND TM.ServerDateTime >= 01/01/1900
	--AND TM.ServerDateTime >= 31/12/2099


	) T WHERE 1=1 order by T.ServerDateTime desc
	OFFSET (@PageNumber - 1) * @size ROWS
	FETCH NEXT @size ROWS ONLY;
	END
	

	----FlashPromotions Query-----
	IF @TransactionType = 8
	BEGIN
	SELECT COUNT(*) OVER () AS TotalRecords, T.*
	FROM (
	Select 
	CM.OOMCOID, 

	CASE
    WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, -4, TM.AddedOn)
    ELSE TM.AddedOn
    END AS 
	AddedOn,

	'N/A' BranchName,
    0 Amount, 
    A.Reward Points, 
	gt.GameTypeName TransactionType,
    '' ReferenceNo,
	A.STAN, 
    0 RuleId,
    '' as FriendlyNameArabic,
	TM.ServerDateTime

    From FlashRewardMaster A
    inner join TransactionMaster TM on A.FlashRewardMasterId = TM.ReferenceId
	and TM.TransactionCodeId = 6
	and TM.ReferenceTypeId = 6
    inner join CardMaster CM on TM.CardId = CM.CardId and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
    left join CardType CT on CM.CardTypeId = CT.CardTypeId
    left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId 
	left join FlashPromotions fp on A.MasterRewardId = fp.FlashPromotionId
	left join PartitionType pt on fp.PartitionTypeId = pt.PartitionTypeId
	left join GameType gt on A.GameTypeId = gt.GameTypeId
	WHERE
	1=1
	AND CM.OOMCOID = @OOMCOID
	--AND TM.ServerDateTime >= 01/01/1900
	--AND TM.ServerDateTime >= 31/12/2099
	and A.PartitionTypeId=2 and A.IsGame = 0 and A.IsFlash = 1

	) T WHERE 1=1 order by T.ServerDateTime desc
	OFFSET (@PageNumber - 1) * @size ROWS
	FETCH NEXT @size ROWS ONLY;
	END



	---ALL Queries---
	IF @TransactionType = 0
	BEGIN
	SELECT COUNT(*) OVER () AS TotalRecords, T.*
	FROM (

	--Award Query--
	Select
	   CM.OOMCOID,

	   CASE
       WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, -4, TM.AddedOn)
       ELSE TM.AddedOn
       END AS 
	   AddedOn,

       CASE
       WHEN MB.BranchName is null THEN A.StationCode
       ELSE MB.BranchName
       END AS 
	   BranchName,
      
	   A.Amount, 
	   A.Points, 
       P.FriendlyName as TransactionType,
	   A.ReferenceNo,
	   CONVERT(VARCHAR, A.STAN) STAN,
	   0 RuleId,
       IsNULL(P.FriendlyNameArabic,'') as FriendlyNameArabic,
       
	   TM.ServerDateTime

       From PointAwardMaster A
       inner join TransactionMaster TM on A.PointAwardMasterId = TM.ReferenceId
       and TM.TransactionCodeId = 1
       and TM.ReferenceTypeId = 1
       left join TerminalMaster Term on A.TerminalId = Term.TerminalId
       left join MerchantBranch MB on Term.MerchantBranchId = MB.MerchantBranchId and Term.MerchantId = MB.MerchantId
       left join City C on MB.CityId = C.CityId
       inner join CardMaster CM on TM.CardId = CM.CardId and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
       left join CardType CT on CM.CardTypeId = CT.CardTypeId
       left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId
       left join CampaignMaster CPM on A.CampaignId = CPM.CampaignId
       left join EarningType ET on CPM.EarningTypeId = ET.EarningTypeId
       left join Products P on A.ProductId = P.ProductId
       WHERE 
		1=1
		AND CM.OOMCOID = @OOMCOID
		--AND TM.ServerDateTime >= 01/01/1900
		--AND TM.ServerDateTime >= 31/12/2099



		UNION ALL

		--Redeem Query--
		Select 
		CM.OOMCOID,

		CASE
		WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, -4, TM.AddedOn)
		ELSE TM.AddedOn
		END AS
		AddedOn,

		CASE
		WHEN A.IsDigitalVoucher = 1 THEN A.CompanyName
		ELSE MB.BranchName
		END AS
		BranchName,
	
		A.Amount,
		A.Points,
		CASE
		 WHEN A.IsDigitalVoucher = 1 THEN A.CompanyName + ' '  + 'Voucher' + ' ' + A.BrandName
		 ELSE RT.RedemtionTypeName + ' ' + IsNull(PM.PromotionName,'')
		 END AS 
		TransactionType,

		A.ReferenceNo, 
		CONVERT(VARCHAR, A.STAN) STAN, 
		0 RuleId, 
		'' as FriendlyNameArabic,
		TM.ServerDateTime
	 

		 From PointRedeemMaster A
		 inner join TransactionMaster TM on A.PointRedeemMasterId = TM.ReferenceId
		 and TM.TransactionCodeId = 2
		 and TM.ReferenceTypeId = 2
		 left join TerminalMaster Term on A.TerminalId = Term.TerminalId 
		 left join MerchantBranch MB on Term.MerchantBranchId = MB.MerchantBranchId and Term.MerchantId = MB.MerchantId
		 left join City C on MB.CityId = C.CityId
		 inner join CardMaster CM on TM.CardId = CM.CardId  and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
		 left join CardType CT on CM.CardTypeId = CT.CardTypeId
		 left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId
		 left join RedemptionType RT on RT.RedemptionTypeId = A.RedemptionTypeId
		 left join PromotionMaster PM on A.CampaignId= PM.PromotionId
		 left join PromotionType PT on PM.PromotionTypeId= PT.PromotionTypeId
		 left join PromotionGroup PG on PM.PromotionGroupId= PG.PromotionGroupId
		WHERE
			1=1
			AND CM.OOMCOID = @OOMCOID
			--AND TM.ServerDateTime >= 01/01/1900
			--AND TM.ServerDateTime >= 31/12/2099



		UNION ALL

		--NonFinancialQuery--
		Select 
		CM.OOMCOID,

		CASE
		WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, -4, TM.AddedOn)
		ELSE TM.AddedOn
		END AS 
		AddedOn,

		'N/A' BranchName,
		0 Amount, 
		A.LoyaltyPoints as Points, 
		(NPR.RuleName +' (Non Financial)') TransactionType,
		A.ReferenceNo,
		CONVERT(VARCHAR, A.STAN) STAN,
		NPR.RuleId,
		'' as FriendlyNameArabic,
		TM.ServerDateTime
 
		From NonFinancialAwardMaster A
		inner join TransactionMaster TM on A.NonFinancialAwardMasterId = TM.ReferenceId
		and TM.TransactionCodeId = 4
		and TM.ReferenceTypeId = 4
		inner join CardMaster CM on TM.CardId = CM.CardId and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
		inner join CardType CT on CM.CardTypeId = CT.CardTypeId
		left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId
		left join NonMonetaryPointsRule NPR on A.RuleId = NPR.RuleId
		WHERE 
		1=1
		AND CM.OOMCOID = @OOMCOID
		--AND TM.ServerDateTime >= 01/01/1900
		--AND TM.ServerDateTime >= 31/12/2099



	UNION ALL

	--ReversalQuery--
	Select
	CM.OOMCOID,

	CASE
    WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, -4, TM.AddedOn)
    ELSE TM.AddedOn
    END AS 
	AddedOn,

	MB.BranchName,
	A.Amount,
	(A.Points *-1) Points, 
    'Reversal' TransactionType,
    A.ReferenceNo,
	CONVERT(VARCHAR, A.STAN) STAN,
    0 RuleId,
    '' as FriendlyNameArabic,
	TM.ServerDateTime
     
     From ReversalMaster A
     inner join TransactionMaster TM on A.ReversalMasterId = TM.ReferenceId
     and TM.TransactionCodeId = 5
     and TM.ReferenceTypeId = 5
     left join TerminalMaster Term on A.TerminalId = Term.TerminalId
     left join MerchantBranch MB on Term.MerchantBranchId = MB.MerchantBranchId and Term.MerchantId = MB.MerchantId
     left join City C on MB.CityId = C.CityId
     inner join CardMaster CM on TM.CardId = CM.CardId and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
     inner join CardType CT on CM.CardTypeId = CT.CardTypeId
     left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId 
	 WHERE
	  1=1
		AND CM.OOMCOID = @OOMCOID
		--AND TM.ServerDateTime >= 01/01/1900
		--AND TM.ServerDateTime >= 31/12/2099


	UNION ALL

		--AdjustmentQuery--
		Select 
		CM.OOMCOID, 

		CASE
		WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, -4, TM.AddedOn)
		ELSE TM.AddedOn
		END AS 
		AddedOn,

		'N/A' BranchName,
		0 Amount, 

		CASE
		WHEN A.IsAward = 1 AND A.IsLoyalty = 1  THEN A.Points
		WHEN A.IsAward = 0 AND A.IsLoyalty = 0  THEN A.Points
		WHEN A.IsAward = 0 AND A.IsLoyalty = 1  THEN (A.Points * -1)
		WHEN A.IsAward = 1 AND A.IsLoyalty = 0  THEN A.Points
		END 
		Points, 

		CASE
		WHEN A.IsAward = 1 AND A.IsLoyalty = 1  THEN 'Positive-Loyalty'
		WHEN A.IsAward = 0 AND A.IsLoyalty = 0  THEN 'Negative-Tier'
		WHEN A.IsAward = 0 AND A.IsLoyalty = 1  THEN 'Negative-Loyalty'
		WHEN A.IsAward = 1 AND A.IsLoyalty = 0  THEN 'Positive-Tier'
		END 
		TransactionType,

		'' ReferenceNo,
		'' STAN, 
		0 RuleId,
		'' as FriendlyNameArabic,
		TM.ServerDateTime
 
		From PointAdjustmentMaster A
		inner join TransactionMaster TM on A.PointAdjustmentMasterId = TM.ReferenceId
		and TM.TransactionCodeId = 3
		and TM.ReferenceTypeId = 3
		inner join CardMaster CM on TM.CardId = CM.CardId and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
		left join CardType CT on CM.CardTypeId = CT.CardTypeId
		left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId 
		WHERE
		1=1
		AND CM.OOMCOID = @OOMCOID
		--AND TM.ServerDateTime >= 01/01/1900
		--AND TM.ServerDateTime >= 31/12/2099


	UNION ALL

	--FlashPromotionQuery--
	Select 
	CM.OOMCOID, 

	CASE
    WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, -4, TM.AddedOn)
    ELSE TM.AddedOn
    END AS 
	AddedOn,

	'N/A' BranchName,
    0 Amount, 
    A.Reward Points, 
	gt.GameTypeName TransactionType,
    '' ReferenceNo,
	A.STAN, 
    0 RuleId,
    '' as FriendlyNameArabic,
	TM.ServerDateTime

    From FlashRewardMaster A
    inner join TransactionMaster TM on A.FlashRewardMasterId = TM.ReferenceId
	and TM.TransactionCodeId = 6
	and TM.ReferenceTypeId = 6
    inner join CardMaster CM on TM.CardId = CM.CardId and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
    left join CardType CT on CM.CardTypeId = CT.CardTypeId
    left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId 
	left join FlashPromotions fp on A.MasterRewardId = fp.FlashPromotionId
	left join PartitionType pt on fp.PartitionTypeId = pt.PartitionTypeId
	left join GameType gt on A.GameTypeId = gt.GameTypeId
	WHERE
	1=1
	AND CM.OOMCOID = @OOMCOID
	--AND TM.ServerDateTime >= 01/01/1900
	--AND TM.ServerDateTime >= 31/12/2099
	and A.PartitionTypeId=2 and A.IsGame = 0 and A.IsFlash = 1


	UNION ALL

	--PointsExpiryQuery--
	Select  
	CM.OOMCOID,

	CASE
    WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, -4, TM.AddedOn)
    ELSE TM.AddedOn
    END AS 
	AddedOn,

	'N/A' BranchName,
    0 Amount,
	(A.LoyaltyPointsToExpire * -1) as Points, 
	'Points Expiry' as TransactionType,
    '' as ReferenceNo,
	'' STAN,
    0 as RuleId,
    '' as FriendlyNameArabic,
	TM.ServerDateTime
    
    From PointExpiryMaster A
    inner join TransactionMaster TM on A.PointExpiryMasterId = TM.ReferenceId
    and TM.TransactionCodeId = 7
    and TM.ReferenceTypeId = 7
    inner join CardMaster CM on TM.CardId = CM.CardId and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
    inner join CardType CT on CM.CardTypeId = CT.CardTypeId
    left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId
    WHERE 
	1=1
	AND CM.OOMCOID = @OOMCOID
	--AND TM.ServerDateTime >= 01/01/1900
	--AND TM.ServerDateTime >= 31/12/2099


	UNION ALL

	--GamePointsQuery--
	Select 
	CM.OOMCOID, 

	CASE
    WHEN TM.AddedBy<> 4 THEN dateadd(HOUR, -4, TM.AddedOn)
    ELSE TM.AddedOn
    END AS 
	AddedOn,

	'N/A' BranchName,
    0 Amount, 
    A.Reward Points, 
	gt.GameTypeName TransactionType,
    '' ReferenceNo,
	A.STAN, 
    0 RuleId,
    '' as FriendlyNameArabic,
	TM.ServerDateTime

    From FlashRewardMaster A
    inner join TransactionMaster TM on A.FlashRewardMasterId = TM.ReferenceId
	and TM.TransactionCodeId = 6
	and TM.ReferenceTypeId = 6
    inner join CardMaster CM on TM.CardId = CM.CardId and A.CardId = CM.CardId and CM.IsHighStreetCustomer= 0
    left join CardType CT on CM.CardTypeId = CT.CardTypeId
    left join CustomerData CD on TM.CardId = CD.CardId and CM.CardId = CD.CardId and A.CardId = CD.CardId 
	left join FlashPromotions fp on A.MasterRewardId = fp.FlashPromotionId
	left join PartitionType pt on fp.PartitionTypeId = pt.PartitionTypeId
	left join GameType gt on A.GameTypeId = gt.GameTypeId
	WHERE
	1=1
	AND CM.OOMCOID = @OOMCOID
	--AND TM.ServerDateTime >= 01/01/1900
	--AND TM.ServerDateTime >= 31/12/2099
	and A.PartitionTypeId=2 and A.IsGame = 1 and A.IsFlash = 0


	) T WHERE 1=1 order by T.ServerDateTime desc
	OFFSET (@PageNumber - 1) * @size ROWS
	FETCH NEXT @size ROWS ONLY;
	END


END
	
GO
