USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[OTPType]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTPType](
	[OTPTypeId] [int] NOT NULL,
	[OTPType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_OTPType] PRIMARY KEY CLUSTERED 
(
	[OTPTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
