USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  UserDefinedTableType [dbo].[PromotionCampignInsertScheme]    Script Date: 7/23/2025 10:55:25 AM ******/
CREATE TYPE [dbo].[PromotionCampignInsertScheme] AS TABLE(
	[CardId] [int] NULL,
	[PromotionId] [int] NULL,
	[AddedBy] [int] NULL,
	[AddedOn] [datetime] NULL
)
GO
