USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[RedemptionType]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RedemptionType](
	[RedemptionTypeId] [int] NOT NULL,
	[RedemtionTypeName] [varchar](50) NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL
) ON [PRIMARY]
GO
