USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[PointAwardMaster]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointAwardMaster](
	[PointAwardMasterId] [int] IDENTITY(1,1) NOT NULL,
	[PointAwardCode] [varchar](50) NOT NULL,
	[AppID] [varchar](50) NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](2) NOT NULL,
	[BatchId] [int] NULL,
	[MerchantId] [int] NULL,
	[MerchantBranchId] [int] NULL,
	[CardId] [int] NOT NULL,
	[MasterCardId] [int] NULL,
	[TerminalId] [int] NULL,
	[ChannelId] [int] NOT NULL,
	[CampaignId] [int] NULL,
	[IsProduct] [bit] NOT NULL,
	[ProductId] [int] NULL,
	[ProductQty] [decimal](18, 3) NULL,
	[Amount] [decimal](18, 3) NOT NULL,
	[Points] [int] NULL,
	[ReferenceNo] [varchar](50) NULL,
	[STAN] [int] NOT NULL,
	[TerminalDesc] [varchar](50) NULL,
	[TerminalAppVersion] [varchar](10) NULL,
	[AddedOn] [datetime] NOT NULL,
	[OldCardId] [int] NULL,
	[AddedBy] [int] NULL,
	[StationCode] [varchar](50) NULL,
 CONSTRAINT [PK_PointAwardMaster] PRIMARY KEY CLUSTERED 
(
	[PointAwardMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_PointAwardMaster_PointAwardCode] UNIQUE NONCLUSTERED 
(
	[PointAwardCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_PointAwardMaster_STAN] UNIQUE NONCLUSTERED 
(
	[STAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PointAwardMaster]  WITH CHECK ADD  CONSTRAINT [fk_PointAwardMaster_CampaignId] FOREIGN KEY([CampaignId])
REFERENCES [dbo].[CampaignMaster] ([CampaignId])
GO
ALTER TABLE [dbo].[PointAwardMaster] CHECK CONSTRAINT [fk_PointAwardMaster_CampaignId]
GO
ALTER TABLE [dbo].[PointAwardMaster]  WITH CHECK ADD  CONSTRAINT [fk_PointAwardMaster_CardId] FOREIGN KEY([CardId])
REFERENCES [dbo].[CardMaster] ([CardId])
GO
ALTER TABLE [dbo].[PointAwardMaster] CHECK CONSTRAINT [fk_PointAwardMaster_CardId]
GO
ALTER TABLE [dbo].[PointAwardMaster]  WITH CHECK ADD  CONSTRAINT [fk_PointAwardMaster_ChannelId] FOREIGN KEY([ChannelId])
REFERENCES [dbo].[ChannelMaster] ([ChannelId])
GO
ALTER TABLE [dbo].[PointAwardMaster] CHECK CONSTRAINT [fk_PointAwardMaster_ChannelId]
GO
ALTER TABLE [dbo].[PointAwardMaster]  WITH CHECK ADD  CONSTRAINT [fk_PointAwardMaster_MasterCardId] FOREIGN KEY([MasterCardId])
REFERENCES [dbo].[CardMaster] ([CardId])
GO
ALTER TABLE [dbo].[PointAwardMaster] CHECK CONSTRAINT [fk_PointAwardMaster_MasterCardId]
GO
ALTER TABLE [dbo].[PointAwardMaster]  WITH CHECK ADD  CONSTRAINT [fk_PointAwardMaster_MerchantBranchId] FOREIGN KEY([MerchantBranchId])
REFERENCES [dbo].[MerchantBranch] ([MerchantBranchId])
GO
ALTER TABLE [dbo].[PointAwardMaster] CHECK CONSTRAINT [fk_PointAwardMaster_MerchantBranchId]
GO
ALTER TABLE [dbo].[PointAwardMaster]  WITH CHECK ADD  CONSTRAINT [fk_PointAwardMaster_MerchantId] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[MerchantMaster] ([MerchantId])
GO
ALTER TABLE [dbo].[PointAwardMaster] CHECK CONSTRAINT [fk_PointAwardMaster_MerchantId]
GO
ALTER TABLE [dbo].[PointAwardMaster]  WITH CHECK ADD  CONSTRAINT [fk_PointAwardMaster_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[PointAwardMaster] CHECK CONSTRAINT [fk_PointAwardMaster_ProductId]
GO
ALTER TABLE [dbo].[PointAwardMaster]  WITH CHECK ADD  CONSTRAINT [fk_PointAwardMaster_TerminalId] FOREIGN KEY([TerminalId])
REFERENCES [dbo].[TerminalMaster] ([TerminalId])
GO
ALTER TABLE [dbo].[PointAwardMaster] CHECK CONSTRAINT [fk_PointAwardMaster_TerminalId]
GO
