USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[ISmartSMSReturnKeys]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ISmartSMSReturnKeys](
	[SMSReturnKeyId] [int] IDENTITY(1,1) NOT NULL,
	[SMSReturnKeyCode] [int] NOT NULL,
	[SMSReturnKeyName] [varchar](100) NOT NULL,
	[SMSReturnKeyDescription] [varchar](200) NOT NULL
) ON [PRIMARY]
GO
