USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[TerminalMaster]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TerminalMaster](
	[TerminalId] [int] NOT NULL,
	[MerchantId] [int] NOT NULL,
	[MerchantBranchId] [int] NOT NULL,
	[TerminalNo] [varchar](50) NOT NULL,
	[POSSerialNo] [varchar](50) NOT NULL,
	[CityId] [int] NOT NULL,
	[SlipHeader] [varchar](50) NOT NULL,
	[SlipFooter] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[TerminalStatusId] [int] NULL,
	[PackageExpiryDate] [datetime] NOT NULL,
	[MarkettingMessages] [varchar](500) NULL,
	[TimeSign] [varchar](1) NOT NULL,
	[TimeDifference] [int] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[StatusUpdatedOn] [datetime] NULL,
	[EarningTypeId] [int] NULL,
	[ProductId] [int] NULL,
	[PromotionGroupId] [int] NULL,
	[TerminalGroupId] [int] NULL,
 CONSTRAINT [PK_Terminal] PRIMARY KEY CLUSTERED 
(
	[TerminalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TerminalMaster] ADD  CONSTRAINT [DF__TerminalM__TimeC__367CE370]  DEFAULT ((0)) FOR [TimeSign]
GO
ALTER TABLE [dbo].[TerminalMaster]  WITH CHECK ADD  CONSTRAINT [fk_TerminalMaster_AddedBy] FOREIGN KEY([AddedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[TerminalMaster] CHECK CONSTRAINT [fk_TerminalMaster_AddedBy]
GO
ALTER TABLE [dbo].[TerminalMaster]  WITH CHECK ADD  CONSTRAINT [fk_TerminalMaster_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([CityId])
GO
ALTER TABLE [dbo].[TerminalMaster] CHECK CONSTRAINT [fk_TerminalMaster_CityId]
GO
ALTER TABLE [dbo].[TerminalMaster]  WITH CHECK ADD  CONSTRAINT [fk_TerminalMaster_MerchantBranchId] FOREIGN KEY([MerchantBranchId])
REFERENCES [dbo].[MerchantBranch] ([MerchantBranchId])
GO
ALTER TABLE [dbo].[TerminalMaster] CHECK CONSTRAINT [fk_TerminalMaster_MerchantBranchId]
GO
ALTER TABLE [dbo].[TerminalMaster]  WITH CHECK ADD  CONSTRAINT [fk_TerminalMaster_MerchantId] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[MerchantMaster] ([MerchantId])
GO
ALTER TABLE [dbo].[TerminalMaster] CHECK CONSTRAINT [fk_TerminalMaster_MerchantId]
GO
ALTER TABLE [dbo].[TerminalMaster]  WITH CHECK ADD  CONSTRAINT [FK_TerminalMaster_PromotionGroup] FOREIGN KEY([PromotionGroupId])
REFERENCES [dbo].[PromotionGroup] ([PromotionGroupId])
GO
ALTER TABLE [dbo].[TerminalMaster] CHECK CONSTRAINT [FK_TerminalMaster_PromotionGroup]
GO
ALTER TABLE [dbo].[TerminalMaster]  WITH CHECK ADD  CONSTRAINT [FK_TerminalMaster_TerminalGroup] FOREIGN KEY([TerminalGroupId])
REFERENCES [dbo].[TerminalGroup] ([TerminalGroupId])
GO
ALTER TABLE [dbo].[TerminalMaster] CHECK CONSTRAINT [FK_TerminalMaster_TerminalGroup]
GO
ALTER TABLE [dbo].[TerminalMaster]  WITH CHECK ADD  CONSTRAINT [fk_TerminalMaster_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[TerminalMaster] CHECK CONSTRAINT [fk_TerminalMaster_UpdatedBy]
GO
