USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllVouchers]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

   CREATE PROCEDURE[dbo].[sp_GetAllVouchers]

			@CardId int,
			@VoucherStatus int, --0=Available ,1=Availed ,2=Saved ,3=All Vouchers,4=Available and save voucher
            @PromotionType int,
            @PromotionGroupId int,
			@CategoryId int

          AS
          BEGIN

	        DECLARE @VoucherList Table
                (
                STAN int,
                PromotionCampaignMasterId int,
                PromotionUsedOn datetime,
                AddedOn datetime,
                Description nvarchar(500),
                PointValue decimal (18, 3),
                PromotionCode nvarchar(50),
                PromotionName nvarchar(50),
                PromotionId int,
                VoucherImage nvarchar(50),
                Status varchar(50),
                VoucherStatus int,
                EndDate datetime,
                PromotionNameArabic nvarchar(max),
                DescriptionArabic nvarchar(max),
                TermsAndConditions nvarchar(500),
                TermsAndConditionsArabic nvarchar(max),
                PromotionTypeId int,
                VisibleOnDashboard bit,
				CategoryNameEng nvarchar(max),
				CategoryNameArabic nvarchar(max),
				CategoryImage nvarchar(max)
                )

			DECLARE @Todaydate datetime = getdate()

            SET NOCOUNT ON;

			--and PRM.PromotionCampaignMasterId = PC.PromotionCampaignMasterId
			--added by Mustafa/Faizan on 15-July-2020 
			--because if same voucher is assigned to a single person and if he redeems then its showing duplicate records
			--Addition in @VoucherStatus availed and saved

            IF(@VoucherStatus = 1 or @VoucherStatus = 3) -- availed

             BEGIN

              insert into @VoucherList
              select  distinct PRM.STAN, PC.PromotionCampaignMasterId, PRM.PromotionUsedOn, PM.AddedOn, PM.Description, PM.PointValue,
                CASE PM.IsBulkUploaded
                    WHEN 1 THEN PD.OOMCOPromotionCode
                    ELSE PM.PromotionCode
                END PromotionCode,
              PM.PromotionName, PM.PromotionId, PM.VoucherImage, 'Availed' as Status, 1 as VoucherStatus, PM.EndDate,
              PM.PromotionNameArabic, PM.DescriptionArabic, PM.TermsAndConditions, PM.TermsAndConditionsArabic, PM.PromotionTypeId,PM.VisibleOnDashboard,
			  C.CategoryNameEng,C.CategoryNameArabic,C.CategoryImage
              from PointRedeemMaster PRM

              inner join PromotionMaster PM on PM.PromotionId = PRM.CampaignId
              inner join PromotionCampaign PC on PC.PromotionId = PM.PromotionId and PRM.PromotionCampaignMasterId = PC.PromotionCampaignMasterId
			  
              left join PromotionDetail PD on PM.PromotionId = PD.PromotionId and PC.PromotionDetailId = PD.PromotionDetailId
			  left join PromotionGroup PG on PM.PromotionGroupId = PG.PromotionGroupId
			  left join Category C on PG.CategoryId = C.CategoryId
              where PRM.CardId = @CardId and PC.CardId = @CardId and PRM.IsPromotion = 1
			  and @Todaydate >= PM.StartDate and @Todaydate <= PM.EndDate --Added this condition by Annie on 20 July 2020. Not show expired vouchers (Mustafa)
              and PRM.PromotionUsed = 1 and (PM.PromotionTypeId = @PromotionType OR @PromotionType = 0) and (PM.PromotionGroupId = @PromotionGroupId OR @PromotionGroupId = 0)
              and (C.CategoryId = @CategoryId OR @CategoryId = 0)
			  END

            IF(@VoucherStatus = 2 or @VoucherStatus = 3  or @VoucherStatus = 4) -- saved

            BEGIN
              insert into @VoucherList
              select  distinct PRM.STAN, PC.PromotionCampaignMasterId, PRM.PromotionUsedOn, PM.AddedOn, PM.Description, PM.PointValue,
               CASE PM.IsBulkUploaded
                    WHEN 1 THEN PD.OOMCOPromotionCode
                    ELSE PM.PromotionCode
                END PromotionCode,
              PM.PromotionName, PM.PromotionId, PM.VoucherImage, 'Saved' as Status, 2 as VoucherStatus, PM.EndDate,
              PM.PromotionNameArabic, PM.DescriptionArabic, PM.TermsAndConditions, PM.TermsAndConditionsArabic, PM.PromotionTypeId,PM.VisibleOnDashboard,
			  C.CategoryNameEng,C.CategoryNameArabic,C.CategoryImage
              from PointRedeemMaster PRM

              inner join PromotionMaster PM on PM.PromotionId = PRM.CampaignId
              inner join PromotionCampaign PC on PC.PromotionId = PM.PromotionId and PRM.PromotionCampaignMasterId = PC.PromotionCampaignMasterId

              left join PromotionDetail PD on PM.PromotionId = PD.PromotionId and PC.PromotionDetailId = PD.PromotionDetailId
			  left join PromotionGroup PG on PM.PromotionGroupId = PG.PromotionGroupId
			  left join Category C on PG.CategoryId = C.CategoryId
              where PRM.CardId = @CardId and PC.CardId = @CardId and PRM.IsPromotion = 1
			  and @Todaydate >= PM.StartDate and @Todaydate <= PM.EndDate --Added this condition by Annie on 20 July 2020. Not show expired vouchers (Mustafa)
              and PRM.PromotionUsed = 0 and (PM.PromotionTypeId = @PromotionType OR @PromotionType = 0)and (PM.PromotionGroupId = @PromotionGroupId OR @PromotionGroupId = 0)
			  and (C.CategoryId = @CategoryId OR @CategoryId = 0)
              END

            IF(@VoucherStatus = 0 or @VoucherStatus = 3  or @VoucherStatus = 4) -- Available

            BEGIN

                  declare @IsCapped bit
                  declare @CapQty int
                  declare @PromotionId int
                  declare @PromotionCampaignMasterId int
                  declare @PromotionTypeId int
                  declare @IsPointValued bit

                  declare @PointValue decimal (18,3)
                  declare @StartDate datetime
                  declare @EndDate datetime

                  declare @FrequencyId int
                  declare @IsBulkUploaded bit

                  declare @PromotionDetailId int
                  declare @ErrorCode int
                  declare @OomcoPromotionCode varchar(30)
                  declare @VisibileOnDashboard bit

                      SELECT* into #TempVouchers from (
                      select distinct PM.PromotionId, PC.PromotionCampaignMasterId, PM.PromotionTypeId,
                                   PM.StartDate, PM.EndDate, PM.FrequencyId,
                                   PM.IsCapped, PM.CapQty, PM.IsBulkUploaded,PM.VisibleOnDashboard from

                                  PromotionMaster PM

                                  inner join PromotionCampaign PC on PM.PromotionId = PC.PromotionId and PC.CardId = @CardId
								  left join PromotionDetail PD on PD.PromotionId = PC.PromotionId 
                                  where @Todaydate >= PM.StartDate and @Todaydate <= PM.EndDate 
                                  and PM.IsActive = 1 and PC.PromotionDetailId is null
								  and (PD.IsAvailable is null or PD.IsAvailable = 1)
                                )T

                          DECLARE VOUCHER_CURSOR CURSOR FOR
                                  Select PromotionId, PromotionCampaignMasterId,PromotionTypeId,
									StartDate,EndDate, FrequencyId, IsCapped, CapQty, IsBulkUploaded,VisibleOnDashboard
                                  from #TempVouchers
                                OPEN VOUCHER_CURSOR

                                      FETCH NEXT FROM VOUCHER_CURSOR INTO @PromotionId, @PromotionCampaignMasterId, @PromotionTypeId, @StartDate, @EndDate, @FrequencyId,
                                              @IsCapped, @CapQty, @IsBulkUploaded,@VisibileOnDashboard

                                              WHILE(@@FETCH_STATUS= 0)

                                                  BEGIN

                                                  Print 'Enter'
                                                  EXEC @ErrorCode = dbo.VocuherValidation @IsCapped, @PromotionId, @CapQty, @FrequencyId,
                                                               @CardId,@PromotionCampaignMasterId

                                                      If(@ErrorCode = 0)

                                                      begin

                                                          insert into @VoucherList


                                                              select null STAN, PC.PromotionCampaignMasterId, null PromotionUsedOn, PM.AddedOn, PM.Description,PM.PointValue, PM.PromotionCode,
                                                            PM.PromotionName, PM.PromotionId, PM.VoucherImage, 'Available' as Status , 0 as VoucherStatus, PM.EndDate,
                                                            PM.PromotionNameArabic, PM.DescriptionArabic, PM.TermsAndConditions, PM.TermsAndConditionsArabic,PM.PromotionTypeId,PM.VisibleOnDashboard,
															C.CategoryNameEng,C.CategoryNameArabic,C.CategoryImage
                                                              from PromotionCampaign PC
                                                              inner join PromotionMaster PM on PC.PromotionId = PM.PromotionId
															  	  left join PromotionGroup PG on PM.PromotionGroupId = PG.PromotionGroupId
																left join Category C on PG.CategoryId = C.CategoryId
                                                              where PC.CardId = @CardId and PM.IsActive = 1 and PC.PromotionId = @PromotionId

                                                              and PC.PromotionCampaignMasterId = @PromotionCampaignMasterId
                                                              and PM.StartDate <= GETDATE() and PM.EndDate >= GETDATE()
                                                              and (PM.PromotionTypeId = @PromotionType OR @PromotionType = 0) 
															  and (PM.PromotionGroupId = @PromotionGroupId OR @PromotionGroupId = 0)
															  and (C.CategoryId = @CategoryId OR @CategoryId = 0)
                                                      end

                                                      FETCH NEXT FROM VOUCHER_CURSOR INTO @PromotionId, @PromotionCampaignMasterId, @PromotionTypeId, @StartDate, @EndDate, @FrequencyId,
                                                      @IsCapped, @CapQty, @IsBulkUploaded,@VisibileOnDashboard
                                                  END

                                  CLOSE VOUCHER_CURSOR

                          DEALLOCATE VOUCHER_CURSOR
              END

              select* from @VoucherList order by AddedOn desc

         END

GO
