USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[TerminalGroup]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TerminalGroup](
	[TerminalGroupId] [int] IDENTITY(1,1) NOT NULL,
	[TerminalGroupName] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
 CONSTRAINT [PK_TerminalGroup] PRIMARY KEY CLUSTERED 
(
	[TerminalGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
