USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[Sp_InsertMerchantRecord]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Oma Paksitan
-- Create date: 18-04-2019
-- Description:	Insert Record in Merchant Master
-- =============================================
CREATE PROCEDURE [dbo].[Sp_InsertMerchantRecord]

	@InstitutionId int,
	@MerchantCode varchar(50),
	@MerchantBusinessName varchar(50),
	@MerchantLegalName varchar(50),
	@ProgramName varchar(50),
	@POSDisplayName varchar(50),
	@BusinessEmail varchar(100),
	@BusinessContactName varchar(50),
	@BusinessContactNo varchar(50), 
	@NTN varchar(50),
	@Status int,
	@MerchantLogo varchar(200),
	@POSLogoName varchar(50),
	@PointExpiryYearId int,
	--@ProvinceId int,
	@AddedBy int,
	@AddedOn datetime,
	@UpdatedBy int,
	@UpdatedOn datetime

AS
BEGIN
	SET NOCOUNT ON;

INSERT INTO MerchantMaster (InstitutionId,MerchantCode,MerchantBusinessName,
MerchantLegalName,ProgramName,POSDisplayName,BusinessEmail,BusinessContactName,BusinessContactNo,
NTN,Status,MerchantLogo,POSLogoName,PointExpiryYearId,AddedBy,AddedOn,
UpdatedBy,UpdatedOn)                               
VALUES (@InstitutionId,@MerchantCode,@MerchantBusinessName,@MerchantLegalName,
@ProgramName,@POSDisplayName,@BusinessEmail,@BusinessContactName,@BusinessContactNo,@NTN,
@Status,@MerchantLogo,@POSLogoName,@PointExpiryYearId,@AddedBy,@AddedOn,
@UpdatedBy,@UpdatedOn)

END
GO
