USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[CustomerData]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerData](
	[CustomerDataId] [int] IDENTITY(1,1) NOT NULL,
	[Salutation] [varchar](10) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [varchar](50) NULL,
	[EmbossName] [varchar](50) NULL,
	[CardId] [int] NOT NULL,
	[LoginId] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[CountryId] [int] NULL,
	[CityId] [int] NULL,
	[IsMale] [bit] NULL,
	[Email] [varchar](100) NULL,
	[MobileNo] [varchar](15) NOT NULL,
	[ResidenceAddress] [varchar](200) NULL,
	[DateOfBirth] [datetime] NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_TempCustomer] PRIMARY KEY CLUSTERED 
(
	[CustomerDataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_TempCustomer_CardId] UNIQUE NONCLUSTERED 
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_TempCustomer_LoginId] UNIQUE NONCLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerData]  WITH CHECK ADD  CONSTRAINT [fk_TempCustomer_AddedBy] FOREIGN KEY([AddedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[CustomerData] CHECK CONSTRAINT [fk_TempCustomer_AddedBy]
GO
ALTER TABLE [dbo].[CustomerData]  WITH CHECK ADD  CONSTRAINT [fk_TempCustomer_CardId] FOREIGN KEY([CardId])
REFERENCES [dbo].[CardMaster] ([CardId])
GO
ALTER TABLE [dbo].[CustomerData] CHECK CONSTRAINT [fk_TempCustomer_CardId]
GO
ALTER TABLE [dbo].[CustomerData]  WITH CHECK ADD  CONSTRAINT [fk_TempCustomer_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([CityId])
GO
ALTER TABLE [dbo].[CustomerData] CHECK CONSTRAINT [fk_TempCustomer_CityId]
GO
ALTER TABLE [dbo].[CustomerData]  WITH CHECK ADD  CONSTRAINT [fk_TempCustomer_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([CountryId])
GO
ALTER TABLE [dbo].[CustomerData] CHECK CONSTRAINT [fk_TempCustomer_CountryId]
GO
ALTER TABLE [dbo].[CustomerData]  WITH CHECK ADD  CONSTRAINT [fk_TempCustomer_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[CustomerData] CHECK CONSTRAINT [fk_TempCustomer_UpdatedBy]
GO
