USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  UserDefinedTableType [dbo].[BulkPushVoucherInsertScheme]    Script Date: 7/23/2025 10:55:25 AM ******/
CREATE TYPE [dbo].[BulkPushVoucherInsertScheme] AS TABLE(
	[OOMCOID] [varchar](50) NOT NULL,
	[BrandName] [varchar](50) NOT NULL,
	[Amount] [decimal](18, 3) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[VoucherLink] [varchar](max) NOT NULL
)
GO
