USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[SuspectedFraudTransaction]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuspectedFraudTransaction](
	[TransactionDateTime] [datetime] NULL,
	[TransactionType] [nvarchar](50) NULL,
	[OOMCOID] [nvarchar](50) NULL,
	[BranchId] [int] NULL,
	[BranchName] [nvarchar](50) NULL,
	[ProductGroupId] [int] NULL,
	[ProductGroupName] [nvarchar](50) NULL,
	[ProductId] [int] NULL,
	[ProductName] [nvarchar](50) NULL,
	[LimitType] [nvarchar](50) NULL,
	[ThresholdValue] [int] NULL,
	[CustomerName] [nvarchar](50) NULL,
	[LimitCategory] [nvarchar](50) NULL,
	[CustomerMobileNo] [nvarchar](50) NULL,
	[StationCode] [varchar](100) NULL
) ON [PRIMARY]
GO
