USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[ReversalMaster]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReversalMaster](
	[ReversalMasterId] [int] IDENTITY(1,1) NOT NULL,
	[ReversalCode] [varchar](50) NOT NULL,
	[IsSale] [bit] NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](2) NOT NULL,
	[PointRedeemMasterId] [int] NULL,
	[PointAwardMasterId] [int] NULL,
	[BatchId] [int] NULL,
	[MerchantId] [int] NOT NULL,
	[MerchantBranchId] [int] NOT NULL,
	[CardId] [int] NOT NULL,
	[MasterCardId] [int] NULL,
	[TerminalId] [int] NOT NULL,
	[ChannelId] [int] NOT NULL,
	[ReferenceNo] [varchar](50) NULL,
	[STAN] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Points] [int] NULL,
	[PayToAmount] [decimal](18, 2) NOT NULL,
	[PayToAwardPoints] [decimal](18, 2) NOT NULL,
	[TerminalDesc] [varchar](50) NULL,
	[TerminalAppVersion] [varchar](10) NULL,
	[AddedOn] [datetime] NOT NULL,
	[OldCardId] [int] NULL,
 CONSTRAINT [PK_ReversalMaster] PRIMARY KEY CLUSTERED 
(
	[ReversalMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_ReversalMaster_PointRedeemMasterId_PointAwardMasterId] UNIQUE NONCLUSTERED 
(
	[PointRedeemMasterId] ASC,
	[PointAwardMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IdxReversalMaster_AddedOn]    Script Date: 7/23/2025 10:55:26 AM ******/
CREATE NONCLUSTERED INDEX [IdxReversalMaster_AddedOn] ON [dbo].[ReversalMaster]
(
	[AddedOn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IdxReversalMaster_CardId]    Script Date: 7/23/2025 10:55:26 AM ******/
CREATE NONCLUSTERED INDEX [IdxReversalMaster_CardId] ON [dbo].[ReversalMaster]
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReversalMaster]  WITH CHECK ADD  CONSTRAINT [fk_ReversalMaster_CardId] FOREIGN KEY([CardId])
REFERENCES [dbo].[CardMaster] ([CardId])
GO
ALTER TABLE [dbo].[ReversalMaster] CHECK CONSTRAINT [fk_ReversalMaster_CardId]
GO
ALTER TABLE [dbo].[ReversalMaster]  WITH CHECK ADD  CONSTRAINT [fk_ReversalMaster_ChannelId] FOREIGN KEY([ChannelId])
REFERENCES [dbo].[ChannelMaster] ([ChannelId])
GO
ALTER TABLE [dbo].[ReversalMaster] CHECK CONSTRAINT [fk_ReversalMaster_ChannelId]
GO
ALTER TABLE [dbo].[ReversalMaster]  WITH CHECK ADD  CONSTRAINT [fk_ReversalMaster_MasterCardId] FOREIGN KEY([MasterCardId])
REFERENCES [dbo].[CardMaster] ([CardId])
GO
ALTER TABLE [dbo].[ReversalMaster] CHECK CONSTRAINT [fk_ReversalMaster_MasterCardId]
GO
ALTER TABLE [dbo].[ReversalMaster]  WITH CHECK ADD  CONSTRAINT [fk_ReversalMaster_MerchantBranchId] FOREIGN KEY([MerchantBranchId])
REFERENCES [dbo].[MerchantBranch] ([MerchantBranchId])
GO
ALTER TABLE [dbo].[ReversalMaster] CHECK CONSTRAINT [fk_ReversalMaster_MerchantBranchId]
GO
ALTER TABLE [dbo].[ReversalMaster]  WITH CHECK ADD  CONSTRAINT [fk_ReversalMaster_MerchantId] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[MerchantMaster] ([MerchantId])
GO
ALTER TABLE [dbo].[ReversalMaster] CHECK CONSTRAINT [fk_ReversalMaster_MerchantId]
GO
ALTER TABLE [dbo].[ReversalMaster]  WITH CHECK ADD  CONSTRAINT [fk_ReversalMaster_PointRedeemMasterId] FOREIGN KEY([PointRedeemMasterId])
REFERENCES [dbo].[PointRedeemMaster] ([PointRedeemMasterId])
GO
ALTER TABLE [dbo].[ReversalMaster] CHECK CONSTRAINT [fk_ReversalMaster_PointRedeemMasterId]
GO
ALTER TABLE [dbo].[ReversalMaster]  WITH CHECK ADD  CONSTRAINT [fk_ReversalMaster_TerminalId] FOREIGN KEY([TerminalId])
REFERENCES [dbo].[TerminalMaster] ([TerminalId])
GO
ALTER TABLE [dbo].[ReversalMaster] CHECK CONSTRAINT [fk_ReversalMaster_TerminalId]
GO
