USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[TerminalMenuAssign]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TerminalMenuAssign](
	[POSMenuAssignId] [int] IDENTITY(1,1) NOT NULL,
	[MerchantId] [int] NOT NULL,
	[TerminalMenuId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[TerminalGroupId] [int] NULL,
 CONSTRAINT [PK_TerminalMenuAssign] PRIMARY KEY CLUSTERED 
(
	[POSMenuAssignId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_TerminalMenuAssign_POSMenuId_MerchantId] UNIQUE NONCLUSTERED 
(
	[TerminalMenuId] ASC,
	[MerchantId] ASC,
	[TerminalGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TerminalMenuAssign]  WITH CHECK ADD  CONSTRAINT [fk_TerminalMenuAssign_AddedBy] FOREIGN KEY([AddedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[TerminalMenuAssign] CHECK CONSTRAINT [fk_TerminalMenuAssign_AddedBy]
GO
ALTER TABLE [dbo].[TerminalMenuAssign]  WITH CHECK ADD  CONSTRAINT [fk_TerminalMenuAssign_MerchantId] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[MerchantMaster] ([MerchantId])
GO
ALTER TABLE [dbo].[TerminalMenuAssign] CHECK CONSTRAINT [fk_TerminalMenuAssign_MerchantId]
GO
ALTER TABLE [dbo].[TerminalMenuAssign]  WITH CHECK ADD  CONSTRAINT [fk_TerminalMenuAssign_POSMenuId] FOREIGN KEY([TerminalMenuId])
REFERENCES [dbo].[TerminalMenu] ([MenuId])
GO
ALTER TABLE [dbo].[TerminalMenuAssign] CHECK CONSTRAINT [fk_TerminalMenuAssign_POSMenuId]
GO
ALTER TABLE [dbo].[TerminalMenuAssign]  WITH CHECK ADD  CONSTRAINT [FK_TerminalMenuAssign_TerminalGroup] FOREIGN KEY([TerminalGroupId])
REFERENCES [dbo].[TerminalGroup] ([TerminalGroupId])
GO
ALTER TABLE [dbo].[TerminalMenuAssign] CHECK CONSTRAINT [FK_TerminalMenuAssign_TerminalGroup]
GO
ALTER TABLE [dbo].[TerminalMenuAssign]  WITH CHECK ADD  CONSTRAINT [fk_TerminalMenuAssign_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[TerminalMenuAssign] CHECK CONSTRAINT [fk_TerminalMenuAssign_UpdatedBy]
GO
