USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[NonFinancialAwardMaster]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NonFinancialAwardMaster](
	[NonFinancialAwardMasterId] [int] IDENTITY(1,1) NOT NULL,
	[NonFinancialAwardCode] [varchar](50) NOT NULL,
	[RuleId] [varchar](50) NOT NULL,
	[AppId] [varchar](50) NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](2) NOT NULL,
	[TerminalAppVersion] [varchar](50) NOT NULL,
	[TerminalDesc] [varchar](50) NOT NULL,
	[MerchantId] [int] NOT NULL,
	[CardId] [int] NOT NULL,
	[ReferenceNo] [varchar](50) NOT NULL,
	[STAN] [int] NOT NULL,
	[Points] [int] NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[LoyaltyPoints] [int] NULL,
 CONSTRAINT [PK_NonFinancialAwardMaster] PRIMARY KEY CLUSTERED 
(
	[NonFinancialAwardMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NonFinancialAwardMaster]    Script Date: 7/23/2025 10:55:26 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NonFinancialAwardMaster] ON [dbo].[NonFinancialAwardMaster]
(
	[NonFinancialAwardCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NonFinancialAwardMaster]  WITH CHECK ADD  CONSTRAINT [FK_NonFinancialAwardMaster_CardMaster] FOREIGN KEY([CardId])
REFERENCES [dbo].[CardMaster] ([CardId])
GO
ALTER TABLE [dbo].[NonFinancialAwardMaster] CHECK CONSTRAINT [FK_NonFinancialAwardMaster_CardMaster]
GO
ALTER TABLE [dbo].[NonFinancialAwardMaster]  WITH CHECK ADD  CONSTRAINT [FK_NonFinancialAwardMaster_MerchantMaster] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[MerchantMaster] ([MerchantId])
GO
ALTER TABLE [dbo].[NonFinancialAwardMaster] CHECK CONSTRAINT [FK_NonFinancialAwardMaster_MerchantMaster]
GO
ALTER TABLE [dbo].[NonFinancialAwardMaster]  WITH CHECK ADD  CONSTRAINT [FK_NonFinancialAwardMaster_NonMonetaryPointsRule] FOREIGN KEY([RuleId])
REFERENCES [dbo].[NonMonetaryPointsRule] ([RuleId])
GO
ALTER TABLE [dbo].[NonFinancialAwardMaster] CHECK CONSTRAINT [FK_NonFinancialAwardMaster_NonMonetaryPointsRule]
GO
