USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  Table [dbo].[RoleDetail]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleDetail](
	[RoleDetailId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[MenuId] [int] NOT NULL,
	[AllowAdd] [bit] NULL,
	[AllowEdit] [bit] NULL,
	[AllowView] [bit] NULL,
	[AllowDelete] [bit] NULL,
	[AllowPost] [bit] NULL,
	[AllowUnPost] [bit] NULL,
 CONSTRAINT [PK_RoleDetail] PRIMARY KEY CLUSTERED 
(
	[RoleDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_RoleDetail_RoleId_MenuId] UNIQUE NONCLUSTERED 
(
	[RoleId] ASC,
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RoleDetail]  WITH CHECK ADD  CONSTRAINT [fk_RoleDetail_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([MenuId])
GO
ALTER TABLE [dbo].[RoleDetail] CHECK CONSTRAINT [fk_RoleDetail_MenuId]
GO
ALTER TABLE [dbo].[RoleDetail]  WITH CHECK ADD  CONSTRAINT [fk_RoleDetail_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[RoleMaster] ([RoleId])
GO
ALTER TABLE [dbo].[RoleDetail] CHECK CONSTRAINT [fk_RoleDetail_RoleId]
GO
