USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  StoredProcedure [dbo].[SP_GenerateMonthlySummary]    Script Date: 7/23/2025 10:55:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE[dbo].[SP_GenerateMonthlySummary]

           AS
                     BEGIN

                        SET NOCOUNT ON;

                    				declare @PointRedeem BIGINT
                                    declare @PointAward BIGINT
                                    declare @BounusLoyaltyPoints BIGINT
                                    declare @NonFinancialAwardPoints BIGINT
                                    declare @RedeemPointValue BIGINT
                                    declare @RedeemedPointsVoided BIGINT
                                    declare @AwardPointsVoided BIGINT
                                    declare @AwardedFlashLoyaltyPoints BIGINT
                                    declare @NonFinancialFlashPoints BIGINT
                                    declare @AwardedLoyaltyGamePoints BIGINT
                                    declare @NonFinancialGamePoints BIGINT
                                    declare @NonFinancialLoyaltyPoints BIGINT
                                    --declare @CommulativeAwardPoint BIGINT
        			 -- Added Below Variable for BonusNonFinancial -> 5 Aug 2020 - Faizan
                                    declare @BounusNonFinancial BIGINT
                                    declare @PreviousMonth datetime =  MONTH(GETDATE() - 1)
									declare @CurrentYear datetime = YEAR(GETDATE() - 1)
                                    declare @Month int
					-- Added for new monthly summary dashboard and report -> 27 Oct 2021 - Mubashir
									declare @TotalAwardedPoints BIGINT
									declare @ExpiredPoints BIGINT
									declare @TotalTransactionCount BIGINT


                    SELECT @PointRedeem = SUM(CAST(PointRedeem AS BIGINT)), 
           		 @RedeemPointValue = @PointRedeem* 0.001,
           		 @Month = MONTH(TM.ServerDateTime)
                    FROM TransactionMaster TM
                    LEFT JOIN PointRedeemMaster PRM on TM.ReferenceId = PRM.PointRedeemMasterId
                    AND TM.TransactionCodeId = 2
                    AND TM.ReferenceTypeId = 2
                    where PRM.STAN NOT IN (select STAN from ReversalMaster)
                    and MONTH(TM.ServerDateTime)= @PreviousMonth and YEAR(TM.ServerDateTime) = @CurrentYear
                    GROUP BY MONTH(TM.ServerDateTime)

                    SELECT @PointAward = SUM(CAST(PointAward AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                    FROM TransactionMaster TM
                    LEFT JOIN PointAwardMaster PAM on TM.ReferenceId = PAM.PointAwardMasterId
                    AND TM.TransactionCodeId = 1
                    AND TM.ReferenceTypeId = 1
                    where PAM.STAN NOT IN (select STAN from ReversalMaster)
                    and MONTH(TM.ServerDateTime)= @PreviousMonth and YEAR(TM.ServerDateTime) = @CurrentYear
                    GROUP BY MONTH(TM.ServerDateTime)

           		 -- NEW SECTION ADDED FOR BONUS LOYALTY


                   SELECT @BounusLoyaltyPoints = SUM(CAST(PointAward AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                   FROM TransactionMaster TM
                   LEFT JOIN PointAdjustmentMaster PJ on TM.ReferenceId = PJ.PointAdjustmentMasterId
                   where MONTH(TM.ServerDateTime)= @PreviousMonth and PJ.IsLoyalty = 1 and PJ.IsPost= 1 and PJ.IsAward= 1 and YEAR(TM.ServerDateTime) = @CurrentYear
                   AND TM.TransactionCodeId = 3 AND TM.ReferenceTypeId = 3
                   GROUP BY MONTH(TM.ServerDateTime)

        -- NEW SECTION ADDED FOR BONUS NON FINANCIAL -> 5 Aug 2020 - Faizan


                   SELECT @BounusNonFinancial = SUM(CAST(PointAward AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                   FROM TransactionMaster TM
                   LEFT JOIN PointAdjustmentMaster PJ on TM.ReferenceId = PJ.PointAdjustmentMasterId
                   where MONTH(TM.ServerDateTime)= @PreviousMonth and PJ.IsLoyalty = 0 and PJ.IsPost= 1 and PJ.IsAward= 1 and YEAR(TM.ServerDateTime) = @CurrentYear
                   AND TM.TransactionCodeId = 3 AND TM.ReferenceTypeId = 3
                   GROUP BY MONTH(TM.ServerDateTime)


           		 -- NEW SECTION ADDED FOR NON FINANCIAL AWARD POINTS


                    SELECT @NonFinancialAwardPoints = SUM(CAST(PointAward AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                    FROM TransactionMaster TM
                    LEFT JOIN NonFinancialAwardMaster NFAM on TM.ReferenceId = NFAM.NonFinancialAwardMasterId
                    AND TM.TransactionCodeId = 4
                    AND TM.ReferenceTypeId = 4
                    where NFAM.STAN NOT IN (select STAN from ReversalMaster)
                    and MONTH(TM.ServerDateTime)= @PreviousMonth and YEAR(TM.ServerDateTime) = @CurrentYear
                    GROUP BY MONTH(TM.ServerDateTime)



                    SELECT @NonFinancialLoyaltyPoints = SUM(CAST(NFAM.LoyaltyPoints AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                    FROM TransactionMaster TM
                    LEFT JOIN NonFinancialAwardMaster NFAM on TM.ReferenceId = NFAM.NonFinancialAwardMasterId
                    AND TM.TransactionCodeId = 4 AND TM.ReferenceTypeId = 4
                    where NFAM.STAN NOT IN (select STAN from ReversalMaster)
                    and MONTH(TM.ServerDateTime)= @PreviousMonth and YEAR(TM.ServerDateTime) = @CurrentYear
                    GROUP BY MONTH(TM.ServerDateTime)


                    SELECT @RedeemedPointsVoided = SUM(CAST(Points AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                    FROM TransactionMaster TM
                    LEFT JOIN ReversalMaster RM on TM.ReferenceId = RM.ReversalMasterId
                    AND TM.TransactionCodeId = 5
                    AND TM.ReferenceTypeId = 5
                    where RM.IsSale = 0
                    and MONTH(TM.ServerDateTime)= @PreviousMonth and YEAR(TM.ServerDateTime) = @CurrentYear
                    GROUP BY MONTH(TM.ServerDateTime)

                    SELECT @AwardPointsVoided = SUM(CAST(Points AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                    FROM TransactionMaster TM
                    LEFT JOIN ReversalMaster RM on TM.ReferenceId = RM.ReversalMasterId
                    AND TM.TransactionCodeId = 5
                    AND TM.ReferenceTypeId = 5
                    where RM.IsSale = 1
                    and MONTH(TM.ServerDateTime)= @PreviousMonth and YEAR(TM.ServerDateTime) = @CurrentYear
                    GROUP BY MONTH(TM.ServerDateTime)

                   select @AwardedFlashLoyaltyPoints = SUM(CAST(PointAward AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                   from TransactionMaster TM
                   INNER JOIN FlashRewardMaster FRM on TM.ReferenceId = FRM.FlashRewardMasterId
                   and TM.TransactionCodeId = 6
                   AND TM.ReferenceTypeId = 6
                   and FRM.IsFlash = 1 and FRM.IsGame = 0 AND PartitionTypeId = 2
                   and MONTH(TM.ServerDateTime) = @PreviousMonth and YEAR(TM.ServerDateTime) = @CurrentYear
                   GROUP BY MONTH(TM.ServerDateTime)


                   select @NonFinancialFlashPoints = SUM(CAST(PointAward AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                   from TransactionMaster TM
                   INNER JOIN FlashRewardMaster FRM on TM.ReferenceId = FRM.FlashRewardMasterId
                   and TM.TransactionCodeId = 6
                   AND TM.ReferenceTypeId = 6
                   and FRM.IsFlash = 1 and FRM.IsGame = 0 AND PartitionTypeId = 3
                   and MONTH(TM.ServerDateTime) = @PreviousMonth and YEAR(TM.ServerDateTime) = @CurrentYear
                   GROUP BY MONTH(TM.ServerDateTime)


                   select @AwardedLoyaltyGamePoints = SUM(CAST(PointAward AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                   from TransactionMaster TM
                   INNER JOIN FlashRewardMaster FRM on TM.ReferenceId = FRM.FlashRewardMasterId
                   and TM.TransactionCodeId = 6
                   AND TM.ReferenceTypeId = 6
                   and FRM.IsFlash = 0 and FRM.IsGame = 1 AND PartitionTypeId = 2
                   and MONTH(TM.ServerDateTime) = @PreviousMonth and YEAR(TM.ServerDateTime) = @CurrentYear
                   GROUP BY MONTH(TM.ServerDateTime)


                   select @NonFinancialGamePoints = SUM(CAST(PointAward AS BIGINT)), @Month = MONTH(TM.ServerDateTime)
                   from TransactionMaster TM
                   INNER JOIN FlashRewardMaster FRM on TM.ReferenceId = FRM.FlashRewardMasterId
                   and TM.TransactionCodeId = 6
                   AND TM.ReferenceTypeId = 6
                   and FRM.IsFlash = 0 and FRM.IsGame = 1 AND PartitionTypeId = 3
                   and MONTH(TM.ServerDateTime) = @PreviousMonth and YEAR(TM.ServerDateTime) = @CurrentYear
                   GROUP BY MONTH(TM.ServerDateTime)

				   SELECT @ExpiredPoints = SUM(CAST(TM.PointRedeem AS BIGINT)), @Month = Month(TM.ServerDateTime)
				   FROM TransactionMaster TM
				   inner JOIN PointExpiryMaster PEM on TM.ReferenceId = PEM.PointExpiryMasterId
				   and TM.TransactionCodeId = 7
				   AND TM.ReferenceTypeId = 7 
				   and MONTH(TM.ServerDateTime) = @PreviousMonth and YEAR(TM.ServerDateTime) = @CurrentYear
                   GROUP BY MONTH(TM.ServerDateTime)

				   SELECT @TotalTransactionCount = count(TransactionId) 
				   FROM TransactionMaster TM
				   where MONTH(TM.ServerDateTime) = @PreviousMonth and YEAR(TM.ServerDateTime) = @CurrentYear


                   SET @TotalAwardedPoints = @PointAward + @NonFinancialLoyaltyPoints + @BounusLoyaltyPoints +
                    @AwardedFlashLoyaltyPoints + @AwardedLoyaltyGamePoints


                    --Select
           		 --GETDATE()-1 Month ,
           		 --ISNULL(@CommulativeAwardPoint,0) PointsAwarded, 
           		 --ISNULL(@PointRedeem,0) PointsRedeemed,
              --      ISNULL(@RedeemPointValue,0) RedeemedPointValue,
           		 --ISNULL(@RedeemedPointsVoided,0) RedeemedPointsVoided,
              --      ISNULL(@AwardPointsVoided,0) AwardPointsVoided,
           		 --ISNULL(@BounusLoyaltyPoints,0) BonusLoyalty,
           		 --ISNULL(@NonFinancialAwardPoints,0) NonFinancialAward,
           		 --ISNULL(@AwardedLoyaltyGamePoints,0) AwardedLoyaltyGamePoints,
           		 --ISNULL(@NonFinancialGamePoints ,0) NonFinancialGamePoints,
           		 --ISNULL(@AwardedFlashLoyaltyPoints,0) AwardedFlashLoyaltyPoints,
           		 --ISNULL(@NonFinancialFlashPoints ,0) NonFinancialFlashLoyaltyPoints,
           		 --1 AddedBy,
           		 --GETDATE() AddedOn


                    END
GO
