USE [LoyaltyManagementOmanOilProd]
GO
/****** Object:  UserDefinedTableType [dbo].[BulkVouchersInsertScheme]    Script Date: 7/23/2025 10:55:25 AM ******/
CREATE TYPE [dbo].[BulkVouchersInsertScheme] AS TABLE(
	[OOMCOPromotionCode] [varchar](50) NULL,
	[PromotionId] [int] NULL,
	[AddedBy] [int] NULL,
	[AddedOn] [datetime] NULL
)
GO
