USE [RPMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_OrderDelivery]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OrderDelivery]
@ClientID INT=0,@PONumber nvarchar(50)='',@DeliveryDate DATE=NULL,@PODate DATE=NULL,@TotalQty INT=0,
@tblOrderDeliveryDetail OrderDeliveryDetailList READONLY,@tblPosOrderDelivery PosOrderDeliveryList READONLY,
@UserId INT=0,@Action INT=0,@OrderDeliveryId BIGINT = 0 OUT,@OrderDetId BIGINT=0,@IsDelete int = 0 OUT
 AS
BEGIN
	SET NOCOUNT ON;

	IF @Action =1
		BEGIN
			SELECT OrderDeliveryId,CM.ClientName,PONumber,DeliveryDate,PODate,TotalQty FROM OrderDelivery OD
			JOIN ClientMaster CM ON CM.ClientID=OD.ClientID
			ORDER BY OrderDeliveryId DESC;
		END
	ELSE IF (@Action=2)
		BEGIN
			IF NOT EXISTS (SELECT 1 FROM PosOrderDelivery PO JOIN @tblPosOrderDelivery TPO ON PO.POSSerial=TPO.POSSerial)
				BEGIN
					INSERT INTO OrderDelivery(ClientID,PONumber,DeliveryDate,PODate,TotalQty,EntryOn,EntryBy)
					VALUES (@ClientID,@PONumber,@DeliveryDate,@PODate,@TotalQty,GETDATE(),@UserId);
					
					SET @OrderDeliveryId=@@Identity;
					
					DECLARE @DetailCursor CURSOR;
					DECLARE @MapId INT;					
					BEGIN 
						SET @DetailCursor = CURSOR FOR SELECT MapId FROM @tblOrderDeliveryDetail;
						OPEN @DetailCursor FETCH NEXT FROM @DetailCursor INTO @MapId;
						WHILE @@FETCH_STATUS = 0
						BEGIN
							INSERT INTO OrderDeliveryDetail(OrderDeliveryId,POSModelID,ItemQty,RepairCharge)
							SELECT 	@OrderDeliveryId,POSModelID,ItemQty,RepairCharge 
							FROM @tblOrderDeliveryDetail  WHERE MapId=@MapId;;
							
							SET @OrderDetId=@@Identity;

							INSERT INTO PosOrderDelivery(OrderDetId,POSSerial,WarrantyDate)
							SELECT @OrderDetId,POSSerial,WarrantyDate 
							FROM @tblPosOrderDelivery WHERE MapId=@MapId;

							FETCH NEXT FROM @DetailCursor 
							INTO @MapId 
						END

						CLOSE @DetailCursor ;
						DEALLOCATE @DetailCursor;
					END
				END	
		END	
	ELSE IF @Action=3
		BEGIN
			SELECT OrderDeliveryId,CM.ClientName,OD.ClientID,PONumber,DeliveryDate,PODate,TotalQty 
			FROM OrderDelivery OD
			JOIN ClientMaster CM ON CM.ClientID=OD.ClientID
			WHERE OrderDeliveryId=@OrderDeliveryId;

			SELECT OrderDetId,PM.TypePOSModel,ItemQty,RepairCharge FROM OrderDeliveryDetail ODD
			JOIN POSModel PM ON PM.POSModelID=ODD.POSModelID
			WHERE OrderDeliveryId=@OrderDeliveryId;
		END
	ELSE IF @Action=4
		BEGIN
			SELECT POSSerial,
			CASE WHEN Status=0 AND WarrantyDate > CONVERT(DATE,GETDATE()) THEN 'Warranty Valid'
			WHEN Status=0 THEN 'Warranty Expired'
			WHEN Status=1 THEN 'Repair Pending' END AS Status
			FROM PosOrderDelivery
			WHERE OrderDetId=@OrderDetId;
		END
	ELSE IF @Action=5
		BEGIN
			IF NOT EXISTS (SELECT 1 FROM POSValidation WHERE POSSerial IN (
							SELECT POSSerial FROM PosOrderDelivery  POD
							JOIN OrderDeliveryDetail ODD ON POD.OrderDetId=ODD.OrderDetId WHERE OrderDeliveryId=@OrderDeliveryId))
			BEGIN
				DELETE FROM PosOrderDelivery 
				WHERE OrderDetId IN 
				(SELECT OrderDetId FROM OrderDeliveryDetail WHERE OrderDeliveryId=@OrderDeliveryId);

				DELETE FROM OrderDeliveryDetail WHERE OrderDeliveryId=@OrderDeliveryId;

				DELETE FROM OrderDelivery WHERE OrderDeliveryId=@OrderDeliveryId;				
			END
			ELSE
				SET @orderDeliveryId=0;
		END
END
GO
