USE [RPMS]
GO
/****** Object:  Table [dbo].[POSPartsInventStockOut]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSPartsInventStockOut](
	[InventoryStockOutID] [int] IDENTITY(1,1) NOT NULL,
	[PartId] [int] NULL,
	[DeviceModelID] [int] NULL,
	[TicketId] [int] NULL,
	[EntryDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryStockOutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Index_TicketId_StockOut]    Script Date: 7/23/2025 12:11:51 PM ******/
CREATE NONCLUSTERED INDEX [Index_TicketId_StockOut] ON [dbo].[POSPartsInventStockOut]
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[POSPartsInventStockOut]  WITH CHECK ADD FOREIGN KEY([DeviceModelID])
REFERENCES [dbo].[DeviceModel] ([DeviceModelID])
GO
ALTER TABLE [dbo].[POSPartsInventStockOut]  WITH CHECK ADD FOREIGN KEY([PartId])
REFERENCES [dbo].[PosPartDetails] ([PartId])
GO
ALTER TABLE [dbo].[POSPartsInventStockOut]  WITH CHECK ADD FOREIGN KEY([TicketId])
REFERENCES [dbo].[RepairTicket] ([TicketId])
GO
