USE [RPMS]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[UserId] [int] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[LoginId] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [int] NULL,
	[AddedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsLoggedIn] [bit] NULL,
	[LastLoginDate] [datetime] NULL,
	[CurrentFailAttempts] [int] NULL,
	[TotalFailAttempts] [int] NULL,
	[IsLocked] [bit] NULL,
	[LockDate] [datetime] NULL,
	[UnlockDate] [datetime] NULL,
	[LastFailAttemptDate] [datetime] NULL,
	[PasswordExpiryDate] [datetime] NULL,
	[isFirstLogin] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_UserMaster] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
