USE [RPMS]
GO
/****** Object:  UserDefinedTableType [dbo].[ValidateExcelList]    Script Date: 7/23/2025 12:11:51 PM ******/
CREATE TYPE [dbo].[ValidateExcelList] AS TABLE(
	[POS_Serial] [nvarchar](10) NOT NULL,
	[Repair_Reason] [nvarchar](250) NOT NULL,
	[Date_of_Receipt] [date] NOT NULL,
	[WarrantyStatus] [int] NULL,
	[RepairCharge] [decimal](18, 3) NULL
)
GO
