USE [RPMS]
GO
/****** Object:  Table [dbo].[OrderDelivery]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDelivery](
	[OrderDeliveryId] [bigint] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[PONumber] [nvarchar](50) NOT NULL,
	[DeliveryDate] [date] NOT NULL,
	[PODate] [date] NOT NULL,
	[TotalQty] [int] NOT NULL,
	[EntryBy] [int] NOT NULL,
	[EntryOn] [datetime] NOT NULL,
 CONSTRAINT [PK_OrderDelivery] PRIMARY KEY CLUSTERED 
(
	[OrderDeliveryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderDelivery] ADD  CONSTRAINT [DF_OrderDelivery_EntryOn]  DEFAULT (getdate()) FOR [EntryOn]
GO
