USE [RPMS]
GO
/****** Object:  Table [dbo].[DeviceModel]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceModel](
	[DeviceModelID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Specs] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[DeviceType] [nvarchar](250) NOT NULL,
	[VendorModel] [nvarchar](100) NULL,
	[VendorId] [int] NOT NULL,
 CONSTRAINT [PK_POSModel] PRIMARY KEY CLUSTERED 
(
	[DeviceModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeviceModel]  WITH CHECK ADD  CONSTRAINT [FK_DeviceModel_Vendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([VendorId])
GO
ALTER TABLE [dbo].[DeviceModel] CHECK CONSTRAINT [FK_DeviceModel_Vendor]
GO
