USE [RPMS]
GO
/****** Object:  Table [dbo].[ReplacedTicketPartsDetail]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReplacedTicketPartsDetail](
	[TicketId] [int] NOT NULL,
	[PartId] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReplacedTicketPartsDetail]  WITH CHECK ADD  CONSTRAINT [FK_ReplacedTicketPartsDetail_PosPartDetails] FOREIGN KEY([PartId])
REFERENCES [dbo].[PosPartDetails] ([PartId])
GO
ALTER TABLE [dbo].[ReplacedTicketPartsDetail] CHECK CONSTRAINT [FK_ReplacedTicketPartsDetail_PosPartDetails]
GO
