USE [RPMS]
GO
/****** Object:  UserDefinedTableType [dbo].[StockOutType]    Script Date: 7/23/2025 12:11:51 PM ******/
CREATE TYPE [dbo].[StockOutType] AS TABLE(
	[PartId] [int] NULL,
	[DeviceModelId] [int] NULL,
	[TicketId] [int] NULL,
	[isChecked] [bit] NULL,
	[CreatedBy] [int] NULL
)
GO
