USE [RPMS]
GO
/****** Object:  Table [dbo].[POSValidation]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSValidation](
	[ValidationID] [bigint] IDENTITY(1,1) NOT NULL,
	[ValidationNo] [nvarchar](50) NOT NULL,
	[POSSerial] [nvarchar](10) NOT NULL,
	[RepairReason] [nvarchar](250) NULL,
	[ReceiptDate] [date] NOT NULL,
	[WarrantyStatus] [int] NOT NULL,
	[RepairCharge] [decimal](18, 3) NOT NULL,
	[EntryBy] [int] NOT NULL,
	[EntryOn] [datetime] NOT NULL,
 CONSTRAINT [PK_POSValidation] PRIMARY KEY CLUSTERED 
(
	[ValidationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[POSValidation] ADD  CONSTRAINT [DF_POSValidation_EntryOn]  DEFAULT (getdate()) FOR [EntryOn]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-VALID,0-Expired' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'POSValidation', @level2type=N'COLUMN',@level2name=N'WarrantyStatus'
GO
