USE [RPMS]
GO
/****** Object:  Table [dbo].[RepairedTicketPartsDetail]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairedTicketPartsDetail](
	[ticketid] [int] NOT NULL,
	[PartId] [int] NOT NULL
) ON [PRIMARY]
GO
