USE [RPMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Validation_New]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_Validation_New]
 AS
BEGIN
	SET NOCOUNT ON;

	SELECT
	    ROW_NUMBER() OVER (order by t.SerialNo) AS 'Sr No',
		t.serialno 'POS Serial' ,
		t.reason 'Reported Issue' ,
		FORMAT (t.receiptdate, 'dd-MMM-yyyy') as 'Date of Receipt' ,
		c.ClientName 'Client Name',
		o.PONumber 'PO Number',
		convert(varchar, o.PODate, 106) 'PO Date',
		convert(varchar, o.DeliveryDate, 106) 'Shipment Delivery Date',
		convert(varchar, d.warrantyenddate, 106) 'Warranty Expiry Date',
		case
			when d.WarrantyEndDate >= t.receiptdate then 'Under Warranty'
			else 'Warranty Expired'
		end as 'Warranty Status',
			m.model 'POS Model',
			t.Region 'Region',
		t.BatchNo 'Batch#',
		t.MissingParts 'Missing Parts',
		case
			when d.WarrantyEndDate >= t.receiptdate then '0'
			else PD.RepairCharge
		end as 'Repair Charges',
	
		
		
		m.Specs 'POS Spec'
		
	FROM TempValidation t
	join PurchaseOrderDeviceDetail d on t.serialno = d.serialno
	join PurchaseOrderDetail pd on d.purchaseorderdetailid = pd.purchaseorderdetailid
	join purchaseorder o on d.purchaseorderid = o.purchaseorderid
	join ClientMaster c on o.clientid = c.ClientID
	join DeviceModel m on pd.devicemodelid = m.devicemodelid
	;
END

GO
