USE [RPMS]
GO
/****** Object:  Table [dbo].[RepairTicket]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairTicket](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[POSSerialNo] [nvarchar](32) NOT NULL,
	[TicketStatus] [nvarchar](50) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[ReportedIssue] [nvarchar](1000) NOT NULL,
	[PartsRequired] [bit] NULL,
	[ClosedOn] [datetime] NULL,
	[ClosedBy] [int] NULL,
	[RepairDiagnosis] [nvarchar](1000) NULL,
	[DateOfReceipt] [datetime] NOT NULL,
	[DateOfDispatch] [datetime] NULL,
	[Region] [nvarchar](50) NULL,
	[MissingParts] [nvarchar](max) NULL,
	[RepairedParts] [nvarchar](max) NULL,
	[RequiredParts] [nvarchar](max) NULL,
	[BatchNo] [nvarchar](20) NULL,
	[IsRepaired] [bit] NOT NULL,
	[RepairedDate] [datetime] NULL,
	[ReplacedParts] [nvarchar](max) NULL,
	[locallyrepaired] [bit] NULL,
	[LocalRepairDetails] [nvarchar](max) NULL,
	[OnHold] [bit] NOT NULL,
	[irRepairable] [bit] NULL,
 CONSTRAINT [PK_RepairTicket] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_SnoRecDt] UNIQUE NONCLUSTERED 
(
	[POSSerialNo] ASC,
	[DateOfReceipt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[RepairTicket] ADD  DEFAULT ((0)) FOR [IsRepaired]
GO
ALTER TABLE [dbo].[RepairTicket] ADD  DEFAULT ((0)) FOR [OnHold]
GO
ALTER TABLE [dbo].[RepairTicket] ADD  DEFAULT ((0)) FOR [irRepairable]
GO
ALTER TABLE [dbo].[RepairTicket]  WITH CHECK ADD  CONSTRAINT [FK_RepairTicket_PurchaseOrderDeviceDetail] FOREIGN KEY([POSSerialNo])
REFERENCES [dbo].[PurchaseOrderDeviceDetail] ([SerialNo])
GO
ALTER TABLE [dbo].[RepairTicket] CHECK CONSTRAINT [FK_RepairTicket_PurchaseOrderDeviceDetail]
GO
