USE [RPMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Validation]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Validation]
@ValidationNo NVARCHAR(50)='',@UserId INT=0,@Action INT=0,
@tblValidateExcel ValidateExcelList READONLY,@ValidationID BIGINT = 0 OUT
 AS
BEGIN
	SET NOCOUNT ON;

	IF @Action =1
		BEGIN
			SELECT MIN(ValidationID) AS ValidationID,ValidationNo,MIN(EntryOn) AS EntryOn,COUNT(*) AS TotalPos FROM POSValidation
			GROUP BY ValidationNo
			ORDER BY ValidationID DESC;
		END
	ELSE IF (@Action=2)
		BEGIN
			SELECT TBL.POS_Serial AS POSSerial,TBL.Repair_Reason AS RepairReason,TBL.Date_of_Receipt AS ReceiptDate,
			ClientName,PONumber,PODate,DeliveryDate,WarrantyDate,
			CASE WHEN Status=0 AND WarrantyDate > CONVERT(DATE,GETDATE()) THEN 1
				WHEN Status= 0 THEN 2 WHEN Status=1 THEN 3 ELSE 0 END AS WarrantyStatus,
			CASE WHEN Status=0 AND WarrantyDate < CONVERT(DATE,GETDATE()) THEN ODD.RepairCharge ELSE 0 END AS RepairCharge,
			TypePOSModel,TypePOSSpecs
			FROM @tblValidateExcel TBL
			LEFT JOIN PosOrderDelivery POD ON POD.POSSerial=TBL.POS_Serial
			LEFT JOIN OrderDeliveryDetail ODD ON ODD.OrderDetId=POD.OrderDetId
			LEFT JOIN OrderDelivery OD ON OD.OrderDeliveryId=ODD.OrderDeliveryId
			LEFT JOIN ClientMaster CM ON CM.ClientID=OD.ClientID
			LEFT JOIN POSModel PM ON PM.POSModelID=ODD.POSModelID;
		END	
		ELSE IF @Action=3
			BEGIN
				IF NOT EXISTS (SELECT 1 FROM POSValidation WHERE ValidationNo=@ValidationNo)
					BEGIN
						INSERT INTO POSValidation (ValidationNo,POSSerial,RepairReason,ReceiptDate,WarrantyStatus,RepairCharge,EntryBy,EntryOn)
						SELECT @ValidationNo,POS_Serial,Repair_Reason,Date_of_Receipt,WarrantyStatus,RepairCharge,@UserId,GETDATE() 
						FROM @tblValidateExcel;

						SET @ValidationID=@@Identity;

						UPDATE PosOrderDelivery SET Status=1 WHERE 
						POSSerial IN (SELECT POS_Serial FROM @tblValidateExcel);
					END
				ELSE
					SET @ValidationID=0;
			END
		ELSE IF @Action=4
			BEGIN
				SELECT @ValidationNo = ValidationNo FROM POSValidation WHERE ValidationID=@ValidationID;

				SELECT PV.ValidationID,PV.ValidationNo,PV.POSSerial,PV.RepairReason,PV.ReceiptDate,ClientName,PONumber,PODate,DeliveryDate,WarrantyDate,PV.WarrantyStatus,PV.RepairCharge,
				TypePOSModel,TypePOSSpecs
				FROM POSValidation PV
				JOIN PosOrderDelivery POD ON POD.POSSerial=PV.POSSerial
				JOIN OrderDeliveryDetail ODD ON ODD.OrderDetId=POD.OrderDetId
				JOIN OrderDelivery OD ON OD.OrderDeliveryId=ODD.OrderDeliveryId
				JOIN ClientMaster CM ON CM.ClientID=OD.ClientID
				JOIN POSModel PM ON PM.POSModelID=ODD.POSModelID
				WHERE ValidationNo=@ValidationNo;
			END
		ELSE IF @Action=5
			BEGIN
				SELECT @ValidationNo = ValidationNo FROM POSValidation WHERE ValidationID=@ValidationID;

				UPDATE PosOrderDelivery SET Status=0 WHERE 
						POSSerial IN (SELECT POSSerial FROM POSValidation WHERE  ValidationNo=@ValidationNo);

				DELETE FROM POSValidation WHERE  ValidationNo=@ValidationNo;
			END
END
GO
