USE [RPMS]
GO
/****** Object:  Table [dbo].[repairticketbkp]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[repairticketbkp](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[POSSerialNo] [nvarchar](32) NOT NULL,
	[TicketStatus] [nvarchar](50) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[ReportedIssue] [nvarchar](1000) NOT NULL,
	[PartsRequired] [bit] NULL,
	[ClosedOn] [datetime] NULL,
	[ClosedBy] [int] NULL,
	[RepairDiagnosis] [nvarchar](1000) NULL,
	[DateOfReceipt] [datetime] NOT NULL,
	[DateOfDispatch] [datetime] NULL,
	[Region] [nvarchar](50) NULL,
	[MissingParts] [nvarchar](max) NULL,
	[RepairedParts] [nvarchar](max) NULL,
	[ReplacedParts] [nvarchar](max) NULL,
	[BatchNo] [nvarchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
