USE [RPMS]
GO
/****** Object:  Table [dbo].[POSPartsInventStockIN]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSPartsInventStockIN](
	[InventoryStockInID] [int] IDENTITY(1,1) NOT NULL,
	[PartId] [int] NULL,
	[DeviceModelID] [int] NULL,
	[COST] [decimal](18, 3) NULL,
	[PRICE] [decimal](18, 3) NULL,
	[EntryDate] [datetime] NOT NULL,
	[PONumber] [nvarchar](50) NULL,
	[PODate] [datetime] NULL,
	[SalesTaxInvNo] [nvarchar](50) NULL,
	[SalesTaxInvDate] [datetime] NULL,
	[Quantity] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreateOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryStockInID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Index_EntryDate_StockIn]    Script Date: 7/23/2025 12:11:51 PM ******/
CREATE NONCLUSTERED INDEX [Index_EntryDate_StockIn] ON [dbo].[POSPartsInventStockIN]
(
	[EntryDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[POSPartsInventStockIN]  WITH CHECK ADD FOREIGN KEY([DeviceModelID])
REFERENCES [dbo].[DeviceModel] ([DeviceModelID])
GO
ALTER TABLE [dbo].[POSPartsInventStockIN]  WITH CHECK ADD FOREIGN KEY([PartId])
REFERENCES [dbo].[PosPartDetails] ([PartId])
GO
