USE [RPMS]
GO
/****** Object:  UserDefinedTableType [dbo].[RepairedExcelList]    Script Date: 7/23/2025 12:11:51 PM ******/
CREATE TYPE [dbo].[RepairedExcelList] AS TABLE(
	[POS_Serial] [nvarchar](10) NOT NULL,
	[Date_of_Dispatch] [date] NOT NULL
)
GO
