USE [RPMS]
GO
/****** Object:  Table [dbo].[PurchaseOrderDeviceDetail]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDeviceDetail](
	[PurchaseOrderId] [int] NOT NULL,
	[PurchaseOrderDetailId] [int] NOT NULL,
	[SerialNo] [nvarchar](32) NOT NULL,
	[WarrantyStartDate] [datetime] NULL,
	[WarrantyEndDate] [datetime] NULL,
	[POSModelID] [int] NOT NULL,
	[AddedBy] [int] NULL,
	[AddedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_PurchaseOrderDeviceDetail] PRIMARY KEY CLUSTERED 
(
	[SerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PurchaseOrderDeviceDetail]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrderDeviceDetail_DeviceModel] FOREIGN KEY([POSModelID])
REFERENCES [dbo].[DeviceModel] ([DeviceModelID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOrderDeviceDetail] CHECK CONSTRAINT [FK_PurchaseOrderDeviceDetail_DeviceModel]
GO
ALTER TABLE [dbo].[PurchaseOrderDeviceDetail]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_PurchaseOrderDetailID] FOREIGN KEY([PurchaseOrderDetailId])
REFERENCES [dbo].[PurchaseOrderDetail] ([PurchaseOrderDetailId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOrderDeviceDetail] CHECK CONSTRAINT [FK_Table_1_PurchaseOrderDetailID]
GO
