USE [RPMS]
GO
/****** Object:  Table [dbo].[TempBulkDevice]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempBulkDevice](
	[POS_Serial] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
