USE [RPMS]
GO
/****** Object:  Table [dbo].[TempSerialNo]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempSerialNo](
	[SerialNo] [nvarchar](32) NOT NULL
) ON [PRIMARY]
GO
