USE [RPMS]
GO
/****** Object:  UserDefinedTableType [dbo].[OrderDeliveryDetailList]    Script Date: 7/23/2025 12:11:51 PM ******/
CREATE TYPE [dbo].[OrderDeliveryDetailList] AS TABLE(
	[POSModelID] [int] NOT NULL,
	[ItemQty] [int] NOT NULL,
	[RepairCharge] [decimal](18, 3) NOT NULL,
	[MapId] [int] NOT NULL
)
GO
