USE [RPMS]
GO
/****** Object:  Table [dbo].[TicketStatus]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketStatus](
	[StatusValue] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
