USE [RPMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_StockOut]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Maryam Arshad>
-- Create date: <26-NOV-2024>
-- Description:	<SP to insert stock OUT inventory for POS Parts>
-- =============================================
CREATE PROCEDURE [dbo].[SP_StockOut] 
	@PartId int,
	@DeviceModelId int,
	@TicketId int,
	@isChecked bit,
	@CreatedBy int
AS
BEGIN
    SET NOCOUNT ON;

    IF @isChecked = 1
    BEGIN
        -- Check if the record does not exist in StockOut
        IF NOT EXISTS (
            SELECT 1 
            FROM POSPartsInventStockOut 
            WHERE PartId = @PartId AND TicketId = @TicketId
        )
        BEGIN
            -- Insert the new record into StockOut
            INSERT INTO POSPartsInventStockOut (PartId, DeviceModelId, TicketId, CreatedBy, CreatedOn)
            VALUES (@PartId, @DeviceModelId, @TicketId, @CreatedBy, GETDATE());
        END
    END
    ELSE
    BEGIN
        -- Check if the record exists in StockOut
        IF EXISTS (
            SELECT 1 
            FROM POSPartsInventStockOut 
            WHERE PartId = @PartId AND TicketId = @TicketId
        )
        BEGIN
            -- Delete the record from StockOut
            DELETE FROM POSPartsInventStockOut
            WHERE PartId = @PartId AND TicketId = @TicketId;
        END
    END
END;
GO
