USE [RPMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_StockOut_Bulk]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Maryam Arshad>
-- Create date: <26-NOV-2024>
-- Description:	<SP to Maintain Stock OUT Inventory for POS Parts in BULK>
-- =============================================
CREATE PROCEDURE [dbo].[SP_StockOut_Bulk]
    @StockOutData StockOutType READONLY
AS
BEGIN
    SET NOCOUNT ON;

    -- Insert records where isChecked = 1 and no matching record exists in StockOut
    INSERT INTO POSPartsInventStockOut (PartId, DeviceModelId, TicketId, EntryDate, CreatedBy, CreatedOn, Quantity)
    SELECT 
        s.PartId, 
        s.DeviceModelId, 
        s.TicketId, 
		GETDATE(),
        s.CreatedBy, 
        GETDATE(),
		1
    FROM @StockOutData s
    WHERE 
        s.isChecked = 1 AND 
        NOT EXISTS (
            SELECT 1 
            FROM POSPartsInventStockOut p 
            WHERE p.PartId = s.PartId AND p.TicketId = s.TicketId
        );

    -- Delete records where isChecked = 0 and a matching record exists in StockOut
    DELETE p
    FROM POSPartsInventStockOut p
    INNER JOIN @StockOutData s
        ON p.PartId = s.PartId AND p.TicketId = s.TicketId
    WHERE s.isChecked = 0;
END;
GO
