USE [RPMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_Repaired]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Repaired]
@RepairedNo NVARCHAR(50)='',@UserId INT=0,@Action INT=0,
@tblRepairedExcel RepairedExcelList READONLY,@RepairedID BIGINT = 0 OUT
 AS
BEGIN
	SET NOCOUNT ON;

	IF @Action =1
		BEGIN
			SELECT MIN(RepairedID) AS RepairedID,RepairedNo,MIN(EntryOn) AS EntryOn,COUNT(*) AS TotalPos FROM RepairedDevices
			GROUP BY RepairedNo
			ORDER BY RepairedID DESC;
		END
	ELSE IF (@Action=2)
		BEGIN
			SELECT TBL.POS_Serial AS POSSerial,PV.ReceiptDate,PV.RepairReason,TBL.Date_of_Dispatch AS DispatchDate,ClientName,PONumber,
			PODate,WarrantyDate,PV.WarrantyStatus,ISNULL(PV.RepairCharge,0) AS RepairCharge,TypePOSModel,TypePOSSpecs,
			ISNULL(POD.Status,0) AS Status
			FROM @tblRepairedExcel TBL
			LEFT JOIN POSValidation PV ON PV.POSSerial=TBL.POS_Serial			
			LEFT JOIN PosOrderDelivery POD ON POD.POSSerial=TBL.POS_Serial 
			LEFT JOIN OrderDeliveryDetail ODD ON ODD.OrderDetId=POD.OrderDetId
			LEFT JOIN OrderDelivery OD ON OD.OrderDeliveryId=ODD.OrderDeliveryId
			LEFT JOIN ClientMaster CM ON CM.ClientID=OD.ClientID
			LEFT JOIN POSModel PM ON PM.POSModelID=ODD.POSModelID
			LEFT JOIN RepairedDevices RD ON RD.ValidationID=PV.ValidationID
			WHERE RD.ValidationID IS NULL;
		END	
		ELSE IF @Action=3
			BEGIN
				IF NOT EXISTS (SELECT 1 FROM RepairedDevices WHERE RepairedNo=@RepairedNo)
					BEGIN
						INSERT INTO RepairedDevices (RepairedNo,POSSerial,DispatchDate,EntryBy,EntryOn,ValidationID)
						SELECT @RepairedNo,POS_Serial,Date_of_Dispatch,@UserId,GETDATE(),PV.ValidationID 
						FROM @tblRepairedExcel AS TBL
						JOIN POSValidation PV ON PV.POSSerial=TBL.POS_Serial
						LEFT JOIN RepairedDevices RD ON RD.ValidationID=PV.ValidationID
						WHERE RD.ValidationID IS NULL;

						SET @RepairedID=@@Identity;

						UPDATE PosOrderDelivery SET Status=0 WHERE 
						POSSerial IN (SELECT POS_Serial FROM @tblRepairedExcel);
					END
				ELSE
					SET @RepairedID=0;
			END
		ELSE IF @Action=4
			BEGIN
				SELECT @RepairedNo = RepairedNo FROM RepairedDevices WHERE RepairedID=@RepairedID;

				SELECT RD.RepairedID,RD.RepairedNo,RD.POSSerial,PV.ReceiptDate,PV.RepairReason,RD.DispatchDate,ClientName,PONumber,
				PODate,WarrantyDate,PV.WarrantyStatus,PV.RepairCharge,TypePOSModel,TypePOSSpecs
				FROM RepairedDevices RD
				JOIN POSValidation PV ON PV.ValidationID=RD.ValidationID
				JOIN PosOrderDelivery POD ON POD.POSSerial=RD.POSSerial 
				JOIN OrderDeliveryDetail ODD ON ODD.OrderDetId=POD.OrderDetId
				JOIN OrderDelivery OD ON OD.OrderDeliveryId=ODD.OrderDeliveryId
				JOIN ClientMaster CM ON CM.ClientID=OD.ClientID
				JOIN POSModel PM ON PM.POSModelID=ODD.POSModelID
				WHERE RepairedNo=@RepairedNo;
			END
		ELSE IF @Action=5
			BEGIN
				SELECT @RepairedNo = RepairedNo FROM RepairedDevices WHERE RepairedID=@RepairedID;

				UPDATE PosOrderDelivery SET Status=1 WHERE 
						POSSerial IN (SELECT POSSerial FROM RepairedDevices WHERE  RepairedNo=@RepairedNo);

				DELETE FROM RepairedDevices WHERE RepairedNo=@RepairedNo;
			END
END
GO
