USE [RPMS]
GO
/****** Object:  Table [dbo].[tmpserial]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpserial](
	[pos_serial] [nchar](50) NOT NULL
) ON [PRIMARY]
GO
