USE [RPMS]
GO
/****** Object:  Table [dbo].[PosOrderDelivery]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PosOrderDelivery](
	[OrderDetId] [bigint] NOT NULL,
	[POSSerial] [nvarchar](10) NOT NULL,
	[WarrantyDate] [date] NOT NULL,
	[Status] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PosOrderDelivery] ADD  CONSTRAINT [DF_PosOrderDelivery_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[PosOrderDelivery]  WITH CHECK ADD  CONSTRAINT [FK_PosOrderDelivery_OrderDeliveryDetail] FOREIGN KEY([OrderDetId])
REFERENCES [dbo].[OrderDeliveryDetail] ([OrderDetId])
GO
ALTER TABLE [dbo].[PosOrderDelivery] CHECK CONSTRAINT [FK_PosOrderDelivery_OrderDeliveryDetail]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-Entry,1-Repair Pending' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PosOrderDelivery', @level2type=N'COLUMN',@level2name=N'Status'
GO
