USE [RPMS]
GO
/****** Object:  Table [dbo].[RepairedDevices]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairedDevices](
	[RepairedID] [bigint] IDENTITY(1,1) NOT NULL,
	[RepairedNo] [nvarchar](50) NOT NULL,
	[POSSerial] [nvarchar](10) NOT NULL,
	[DispatchDate] [date] NOT NULL,
	[EntryBy] [int] NOT NULL,
	[EntryOn] [datetime] NOT NULL,
	[ValidationID] [bigint] NOT NULL,
 CONSTRAINT [PK_RepairedDevices] PRIMARY KEY CLUSTERED 
(
	[RepairedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RepairedDevices] ADD  CONSTRAINT [DF_RepairedDevices_EntryOn]  DEFAULT (getdate()) FOR [EntryOn]
GO
ALTER TABLE [dbo].[RepairedDevices]  WITH CHECK ADD  CONSTRAINT [FK_RepairedDevices_POSValidation] FOREIGN KEY([ValidationID])
REFERENCES [dbo].[POSValidation] ([ValidationID])
GO
ALTER TABLE [dbo].[RepairedDevices] CHECK CONSTRAINT [FK_RepairedDevices_POSValidation]
GO
