USE [RPMS]
GO
/****** Object:  Table [dbo].[POSModel]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSModel](
	[POSModelID] [int] IDENTITY(1,1) NOT NULL,
	[TypePOSModel] [nvarchar](50) NOT NULL,
	[TypePOSSpecs] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_POSModelOld] PRIMARY KEY CLUSTERED 
(
	[POSModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
