USE [RPMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_POSSearch]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_POSSearch]
@POSSerial NVARCHAR(10)
 AS
BEGIN
	SET NOCOUNT ON;

	SELECT RD.POSSerial,PV.RepairReason,PV.ReceiptDate,RD.DispatchDate,ClientName,PONumber,PODate,WarrantyDate,
	PV.WarrantyStatus,PV.RepairCharge,TypePOSModel,TypePOSSpecs
	FROM RepairedDevices RD
	JOIN POSValidation PV ON PV.ValidationID=RD.ValidationID		
	JOIN PosOrderDelivery POD ON POD.POSSerial=RD.POSSerial 
	JOIN OrderDeliveryDetail ODD ON ODD.OrderDetId=POD.OrderDetId
	JOIN OrderDelivery OD ON OD.OrderDeliveryId=ODD.OrderDeliveryId
	JOIN ClientMaster CM ON CM.ClientID=OD.ClientID
	JOIN POSModel PM ON PM.POSModelID=ODD.POSModelID
	WHERE RD.POSSerial=@POSSerial
	ORDER BY RepairedID DESC;
END
GO
