USE [RPMS]
GO
/****** Object:  Table [dbo].[RepairTicketPartsDetail]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairTicketPartsDetail](
	[TicketId] [int] NOT NULL,
	[PartId] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RepairTicketPartsDetail]  WITH CHECK ADD  CONSTRAINT [FK_RepairTicketPartsDetail_PosPartDetails] FOREIGN KEY([PartId])
REFERENCES [dbo].[PosPartDetails] ([PartId])
GO
ALTER TABLE [dbo].[RepairTicketPartsDetail] CHECK CONSTRAINT [FK_RepairTicketPartsDetail_PosPartDetails]
GO
