USE [RPMS]
GO
/****** Object:  Table [dbo].[RepairInvoice]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairInvoice](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentAmountPKR] [decimal](18, 3) NULL,
	[PaymentDate] [date] NULL,
	[PaymentReceivedOn] [date] NULL,
	[IsPaid] [bit] NULL,
	[InvoiceAmountPKR] [decimal](18, 3) NOT NULL,
	[InvoiceNo] [nvarchar](450) NULL,
	[InvoiceDate] [date] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [date] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [date] NULL,
	[description] [nvarchar](max) NULL,
	[Clientid] [int] NULL,
	[Status] [nvarchar](max) NULL,
	[RepairChargesPKR] [decimal](18, 3) NULL,
	[PartsChargesUSD] [decimal](18, 3) NULL,
	[PartsChargesPKR] [decimal](18, 3) NULL,
 CONSTRAINT [PK_PaymentInvoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex-20240105-110406]    Script Date: 7/23/2025 12:11:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [NonClusteredIndex-20240105-110406] ON [dbo].[RepairInvoice]
(
	[InvoiceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-20240105-110418]    Script Date: 7/23/2025 12:11:51 PM ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20240105-110418] ON [dbo].[RepairInvoice]
(
	[Clientid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-20240105-110426]    Script Date: 7/23/2025 12:11:51 PM ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20240105-110426] ON [dbo].[RepairInvoice]
(
	[PaymentDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-20240105-110435]    Script Date: 7/23/2025 12:11:51 PM ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20240105-110435] ON [dbo].[RepairInvoice]
(
	[InvoiceDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
