USE [RPMS]
GO
/****** Object:  UserDefinedTableType [dbo].[PosOrderDeliveryList]    Script Date: 7/23/2025 12:11:51 PM ******/
CREATE TYPE [dbo].[PosOrderDeliveryList] AS TABLE(
	[POSSerial] [nvarchar](10) NOT NULL,
	[WarrantyDate] [date] NOT NULL,
	[MapId] [int] NOT NULL
)
GO
