USE [RPMS]
GO
/****** Object:  StoredProcedure [dbo].[GenerateRepairLogSheet]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mubashir Naqvi
-- Create date: 11 Jan 2024
-- Description:	This procedure will generate the Repair Log Sheet/Report for any client
--				for any given period
-- =============================================
CREATE   PROCEDURE [dbo].[GenerateRepairLogSheet] 
	-- Add the parameters for the stored procedure here
	@ClientId int = 0, 
	@FromDate date = '01-Jan-2020',
	@ToDate date = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Check if @ToDate is null
	if ( @ToDate is null ) 
	BEGIN 
		SET @ToDate = Convert(Date, GetDate()) 
	END

    -- Get all Receipts and Deliveries
	SELECT 
		'Received' as RType,
		pm.TypePosModel Model, 
		Convert(Date, t.DateOfReceipt) RDDate, 
		count(t.TicketId) NumReceived,
		0.00 as RepairCharges into #tblReceipts
	from RepairTicket t
	inner join PurchaseOrderDeviceDetail pod on t.POSSerialNo = pod.SerialNo
	inner join POSModel pm on pod.POSModelID = pm.POSModelID
	inner join PurchaseOrder po on pod.PurchaseOrderId = po.PurchaseOrderID
	where po.ClientId = @ClientId
	and t.DateOfReceipt >= @FromDate and t.DateOfReceipt < DATEADD(DAY, 1, @ToDate)
	group by pm.TypePOSModel, t.DateOfReceipt
	order by 3,2;

	SELECT 
		'Dispatched' as RType,
		pm.TypePosModel Model, 
		Convert(Date, t.DateOfDispatch) RDDate, 
		count(t.TicketId) NumReceived,
		sum (Case When pod.WarrantyEndDate >= t.DateOfReceipt then 0 else pd.RepairCharge End) as RepairCharges
		into #tblDispatches 
	from RepairTicket t
	inner join PurchaseOrderDeviceDetail pod on t.POSSerialNo = pod.SerialNo
	inner join POSModel pm on pod.POSModelID = pm.POSModelID
	inner join PurchaseOrder po on pod.PurchaseOrderId = po.PurchaseOrderID
	inner join PurchaseOrderDetail pd on po.PurchaseOrderID = pd.PurchaseOrderId
	where po.ClientId = @ClientId
	and t.DateOfDispatch >= @FromDate and t.DateOfDispatch < DATEADD(DAY, 1, @ToDate)
	and t.DateofDispatch is not null
	group by pm.TypePOSModel, t.DateOfDispatch
	order by 3,2;


	select * into #FinalTbl from (select * from #tblReceipts union all select * from #tblDispatches) as F;
	
	--select * from #FinalTbl;

	WITH StockWithBalance AS (
    SELECT
        Model,
        RType,
        RDDate,
        NumReceived,
		RepairCharges,
        SUM(CASE WHEN RType = 'Received' THEN NumReceived ELSE -NumReceived END) OVER (PARTITION BY Model ORDER BY RDDate asc, RType desc) AS RunningBalance
    FROM
        #FinalTbl
)
SELECT
    Model as 'POS Model',
    RType as 'Received / Dispatched',
    RDDate as 'Date of Receipt / Dispatch',
    NumReceived as 'Quantity',
	RepairCharges as 'Repair Charges (PKR)',
    RunningBalance as 'Balance Qty'
FROM
    StockWithBalance
ORDER BY
    --Model,
    RDDate;


	drop table #tblReceipts;
	drop table #tblDispatches;
	drop table #FinalTbl;



END
GO
