USE [RPMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_POSummaryReport]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_POSummaryReport]
@ClientId int
AS
BEGIN
    SET NOCOUNT ON;

  	DECLARE @cols AS NVARCHAR(MAX);
	DECLARE @query AS NVARCHAR(MAX);
	DECLARE @column_list AS NVARCHAR(MAX);
	
	-- Generate the list of ModelIds dynamically from the DeviceModel table
	SELECT @cols = STUFF((SELECT ',' + QUOTENAME(Model)
	                    FROM DeviceModel
	                    FOR XML PATH(''), TYPE
	                    ).value('.', 'NVARCHAR(MAX)') 
	                    ,1,1,'');
	
	-- Generate the column list for the temporary table
	SET @column_list = STUFF((SELECT ',' + QUOTENAME(Model) + ' INT'
	                    FROM DeviceModel
	                    FOR XML PATH(''), TYPE
	                    ).value('.', 'NVARCHAR(MAX)') 
	                    ,1,1,'');
	
	-- Construct the dynamic SQL query to create the temporary table
	SET @query = '
	CREATE TABLE #TempPivotResult (
	    PurchaseOrderId INT,
	    ' + @column_list + '
	);
	
	-- Construct the dynamic SQL query to insert into the temporary table
	INSERT INTO #TempPivotResult (PurchaseOrderId, ' + @cols + ')
	SELECT PurchaseOrderId, ' + @cols + '
	FROM (
	    SELECT po.PurchaseOrderId, dm.Model, po.Quantity
	    FROM PurchaseOrderDetail po
		INNER JOIN PurchaseOrder p on po.PurchaseOrderId = p.PurchaseOrderId
	    INNER JOIN DeviceModel dm ON po.DeviceModelId = dm.DeviceModelId
		WHERE p.ClientId = ' + Convert(NVARCHAR(10), @ClientId) + ' 
	) AS SourceTable
	PIVOT (
	    SUM(Quantity)
	    FOR Model IN (' + @cols + ')
	) AS PivotTable;
	
	-- Select from the temporary table to see the result
	SELECT c.ClientName "Client Name", o.PONumber "PO Number", format(o.PODate,''dd-MMM-yyyy'') "PO Date", 
		o.DONumber "DO Number", format(o.DeliveryDate,''dd-MMM-yyyy'') "Delivery Date", o.SalesTaxInvNo "Sales Tax Inv. No", format(o.SalesTaxInvDate,''dd-MMM-yyyy'') "Sales Tax Inv. Date", pq.Qty "Total Qty", 
		r.* 
	    FROM #TempPivotResult r
	    INNER JOIN PurchaseOrder o ON r.PurchaseOrderId = o.PurchaseOrderId
		INNER JOIN (SELECT PurchaseOrderId, SUM(Quantity) Qty from PurchaseOrderDetail Group by PurchaseOrderId) as pq on o.PurchaseOrderId = pq.PurchaseOrderId
	    INNER JOIN clientmaster c ON o.clientid = c.clientid
	    --INNER JOIN DeviceModel m ON r.DeviceModelId = m.DeviceModelId
		;
	
	-- Drop the temporary table when no longer needed
	DROP TABLE #TempPivotResult;
	'   ;
	
	-- Execute the dynamic SQL query
	EXECUTE(@query);


END
GO
