USE [RPMS]
GO
/****** Object:  Table [dbo].[PODetRepairCharge]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PODetRepairCharge](
	[StartDate] [date] NULL,
	[RepairCharge] [decimal](18, 3) NULL,
	[TaxPct] [decimal](18, 3) NULL,
	[NetCharge] [decimal](18, 3) NULL,
	[PurchaseOrderDetailId] [int] NULL,
	[EndDate] [date] NULL
) ON [PRIMARY]
GO
