USE [RPMS]
GO
/****** Object:  Table [dbo].[TempValidation]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempValidation](
	[SerialNo] [nvarchar](50) NOT NULL,
	[ReceiptDate] [datetime] NOT NULL,
	[Reason] [nvarchar](100) NOT NULL,
	[Region] [nvarchar](50) NULL,
	[MissingParts] [nvarchar](max) NULL,
	[BatchNo] [nvarchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
