USE [RPMS]
GO
/****** Object:  Table [dbo].[tmpValidate]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpValidate](
	[POS_Serial] [nchar](50) NOT NULL,
	[Repair_Reason] [nchar](250) NULL,
	[Receipt_Date] [date] NOT NULL
) ON [PRIMARY]
GO
