USE [RPMS]
GO
/****** Object:  Table [dbo].[PurchaseOrder]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrder](
	[PONumber] [nvarchar](50) NULL,
	[PODate] [datetime] NULL,
	[ClientId] [int] NULL,
	[POStatus] [nvarchar](50) NULL,
	[AddedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
	[DeliveryDate] [datetime] NULL,
	[PurchaseOrderID] [int] IDENTITY(1,1) NOT NULL,
	[DONumber] [nvarchar](50) NULL,
	[SalesTaxInvDate] [datetime] NULL,
	[SalesTaxInvNo] [nvarchar](50) NULL,
 CONSTRAINT [PK__Purchase__3214EC27D385B52A] PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrder_POStatus] FOREIGN KEY([POStatus])
REFERENCES [dbo].[POStatus] ([POStatus])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOrder] CHECK CONSTRAINT [FK_PurchaseOrder_POStatus]
GO
