USE [RPMS]
GO
/****** Object:  Table [dbo].[tmpRepaired]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpRepaired](
	[SerialNo] [nvarchar](50) NULL,
	[ReceivedOn] [date] NULL
) ON [PRIMARY]
GO
