USE [RPMS]
GO
/****** Object:  Table [dbo].[PosPartDetails]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PosPartDetails](
	[PartId] [int] IDENTITY(1,1) NOT NULL,
	[DeviceModelId] [int] NOT NULL,
	[PartName] [nvarchar](100) NOT NULL,
	[PartDescription] [nvarchar](100) NULL,
	[AddedBy] [int] NULL,
	[AddedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[Price] [decimal](18, 3) NULL,
	[Category] [nvarchar](100) NULL,
	[Required] [bit] NULL,
	[Replaced] [bit] NULL,
	[Repaired] [bit] NULL,
 CONSTRAINT [PK_PosPartDetails] PRIMARY KEY CLUSTERED 
(
	[PartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PosPartDetails]  WITH CHECK ADD  CONSTRAINT [FK_PosPartDetails_POSModel] FOREIGN KEY([DeviceModelId])
REFERENCES [dbo].[DeviceModel] ([DeviceModelID])
GO
ALTER TABLE [dbo].[PosPartDetails] CHECK CONSTRAINT [FK_PosPartDetails_POSModel]
GO
