USE [RPMS]
GO
/****** Object:  Table [dbo].[OrderDeliveryDetail]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDeliveryDetail](
	[OrderDetId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderDeliveryId] [bigint] NOT NULL,
	[POSModelID] [int] NOT NULL,
	[ItemQty] [int] NOT NULL,
	[RepairCharge] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_OrderDeliveryDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderDeliveryDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDeliveryDetail_OrderDelivery] FOREIGN KEY([OrderDeliveryId])
REFERENCES [dbo].[OrderDelivery] ([OrderDeliveryId])
GO
ALTER TABLE [dbo].[OrderDeliveryDetail] CHECK CONSTRAINT [FK_OrderDeliveryDetail_OrderDelivery]
GO
