USE [RPMS]
GO
/****** Object:  Table [dbo].[LastBatch]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LastBatch](
	[ClientId] [int] NULL,
	[BatchNo] [int] NULL
) ON [PRIMARY]
GO
