USE [RPMS]
GO
/****** Object:  Table [dbo].[UserMasterHist]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMasterHist](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[LoginId] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[RoleId] [int] NULL,
	[IsActive] [bit] NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[IsDeleted] [bit] NULL
) ON [PRIMARY]
GO
