USE [RPMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_StatsReport]    Script Date: 7/23/2025 12:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_StatsReport]
@ClientId int
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @cols AS NVARCHAR(MAX);
	DECLARE @query AS NVARCHAR(MAX);
	DECLARE @column_list AS NVARCHAR(MAX);
	
	-- Generate the list of ModelIds dynamically from the DeviceModel table
	SELECT @cols = STUFF((SELECT ',' + QUOTENAME(Model)
	                    FROM DeviceModel
	                    FOR XML PATH(''), TYPE
	                    ).value('.', 'NVARCHAR(MAX)') 
	                    ,1,1,'');

	--SELECT @cols;
	
	-- Generate the column list for the temporary table
	SET @column_list = STUFF((SELECT ',' + QUOTENAME(Model) + ' INT'
	                    FROM DeviceModel
	                    FOR XML PATH(''), TYPE
	                    ).value('.', 'NVARCHAR(MAX)') 
	                    ,1,1,'');
	
	--SELECT @column_list;

	-- Construct the dynamic SQL query to create the temporary table
	SET @query = '
	CREATE TABLE #TempPivotResult (
	    BatchNo NVARCHAR(50),
	    ' + @column_list + '
	);
	
	-- Construct the dynamic SQL query to insert into the temporary table
	INSERT INTO #TempPivotResult (BatchNo, ' + @cols + ')
	SELECT BatchNo, ' + @cols + '
	FROM (
			select 
		    t.BatchNo, m.Model,
		    sum(
				case 
					when (t.DateOfDispatch is null or t.DateofDispatch = '''') and t.ticketstatus != ''Closed'' and t.OnHold != 1 and t.irRepairable != 1 THEN 1    
					else 0 
				end ) as undrepair
			from RepairTicket t
			left join PurchaseOrderDeviceDetail p on t.POSSerialNo = p.SerialNo
			left join PurchaseOrderDetail d on p.PurchaseOrderDetailId = d.PurchaseOrderDetailId
			left join PurchaseOrder o on d.PurchaseOrderId = o.PurchaseOrderID
			left join DeviceModel m on d.DeviceModelId = m.DeviceModelId
			left join ClientMaster c on o.ClientId = c.ClientID
			where c.ClientID = ' + Convert(NVARCHAR(10), @ClientId) + '
			group by t.batchno, m.model 	
		) AS SourceTable
	PIVOT (
	    SUM(undrepair)
	    FOR Model IN (' + @cols + ')
	) AS PivotTable;
	
	-- Select data from temp table joining with actual query
	
	select 
			actd.batchno as ''Batch No.'',
			actd.batchreceivingdate as ''Batch Receiving Date'',
			actd.repaired as ''Repaired'',
			pv.*,
			actd.totalunderrepair as ''Total Under Repair'',
			actd.repairsonhold as ''Repairs on Hold'',
			actd.irRepairable as ''Not Repairable'',
			actd.totalsentforrepair as ''Total sent for Repair''
	from #TempPivotResult pv
	inner join 
	(
		select 
			t.BatchNo, 
			FORMAT (sqdateofreceipt.dreceipt, ''dd-MMM-yyyy'') as batchreceivingdate ,
			sum(
				case 
					when t.DateOfDispatch is not null and t.DateofDispatch != '''' and t.ticketstatus = ''Closed'' and (t.irRepairable is null or t.irRepairable = 0) then 1    
					else 0 
				end ) as repaired,
			sum(
				case 
					when t.DateOfDispatch is not null and t.DateofDispatch != '''' and t.ticketstatus = ''Closed'' and (t.irRepairable is not null and t.irRepairable = 1) then 1    
					else 0 
				end ) as irRepairable,
				sum(
				case 
					when (t.DateOfDispatch is null or t.DateofDispatch = '''') and t.ticketstatus != ''Closed'' and t.OnHold != 1 THEN 1    
					else 0 
				end ) as totalunderrepair,
			sum(
				case 
					when (t.DateOfDispatch is null or t.DateofDispatch = '''') and t.ticketstatus != ''Closed'' and t.OnHold = 1 THEN 1    
					else 0 
				end ) as repairsonhold,
			count(t.ticketid) as totalsentforrepair
		from RepairTicket t
		left join PurchaseOrderDeviceDetail p on t.POSSerialNo = p.SerialNo
		left join PurchaseOrderDetail d on p.PurchaseOrderDetailId = d.PurchaseOrderDetailId
		left join PurchaseOrder o on d.PurchaseOrderId = o.PurchaseOrderID
		left join POSModel m on d.DeviceModelId = m.POSModelID
		left join ClientMaster c on o.ClientId = c.ClientID
		left join (
		            select qt.batchno, min(dateofreceipt) dreceipt from repairticket qt
		            join PurchaseOrderDeviceDetail qp on qt.POSSerialNo = qp.SerialNo
		            join PurchaseOrderDetail qd on qp.PurchaseOrderDetailId = qd.PurchaseOrderDetailId
		            join PurchaseOrder qo on qd.PurchaseOrderId = qo.PurchaseOrderID
		            join ClientMaster qc on qo.ClientId = qc.ClientID
		            where qc.clientid = ' + Convert(NVARCHAR(10), @ClientId) + '
		            group by BatchNo ) as sqdateofreceipt on t.batchno = sqdateofreceipt.batchno
		where c.ClientID = ' + Convert(NVARCHAR(10), @ClientId) + '
		group by t.batchno, sqdateofreceipt.dreceipt
	) actd on pv.batchno = actd.batchno
    order by cast(SUBSTRING(actd.batchno,7,6) as int),2,3;
	'   ;

	--select @query;
	
	-- Execute the dynamic SQL query
	EXECUTE(@query);

    --EXEC sp_executesql @query, N'@ClientId int', @ClientId = @ClientId;
END

GO
