USE [master]
GO
/****** Object:  Database [Inventory_Management]    Script Date: 7/22/2025 7:09:49 PM ******/
CREATE DATABASE [Inventory_Management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER2019\MSSQL\DATA\Inventory_Management.mdf' , SIZE = 504832KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'IMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER2019\MSSQL\DATA\Inventory_Management_log.ldf' , SIZE = 32448KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Inventory_Management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Inventory_Management]
GO
/****** Object:  User [omaqa]    Script Date: 7/22/2025 7:09:50 PM ******/
CREATE USER [omaqa] FOR LOGIN [omaqa] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [appuser]    Script Date: 7/22/2025 7:09:50 PM ******/
CREATE USER [appuser] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [omaqa]
GO
/****** Object:  UserDefinedTableType [dbo].[BINList]    Script Date: 7/22/2025 7:09:50 PM ******/
CREATE TYPE [dbo].[BINList] AS TABLE(
	[BIN] [nvarchar](8) NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[BulkBinInsertScheme]    Script Date: 7/22/2025 7:09:50 PM ******/
CREATE TYPE [dbo].[BulkBinInsertScheme] AS TABLE(
	[BIN] [varchar](8) NOT NULL,
	[BankName] [varchar](50) NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[MerchantIdList]    Script Date: 7/22/2025 7:09:50 PM ******/
CREATE TYPE [dbo].[MerchantIdList] AS TABLE(
	[MERCHANT_NUMBER] [varchar](15) NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TransactionList]    Script Date: 7/22/2025 7:09:50 PM ******/
CREATE TYPE [dbo].[TransactionList] AS TABLE(
	[Username] [nvarchar](100) NOT NULL,
	[Message_Type] [nchar](5) NOT NULL,
	[Time_Stamp] [datetime] NOT NULL,
	[Pos_ID] [nvarchar](50) NOT NULL,
	[Customer_Card_Number] [nvarchar](16) NOT NULL,
	[Expiry_Date] [nvarchar](50) NOT NULL,
	[Current_Trxn] [nvarchar](50) NOT NULL,
	[Trxn_Amount] [decimal](18, 2) NOT NULL,
	[Merchant_Id] [nvarchar](50) NULL,
	[Auth_Id] [nvarchar](50) NULL,
	[Merchant_Type] [nvarchar](50) NOT NULL,
	[Acquiring_Country] [nvarchar](50) NOT NULL,
	[Pos_Entry] [nvarchar](50) NOT NULL,
	[Acquirer_ID] [nvarchar](50) NOT NULL,
	[Response_Code] [nchar](10) NOT NULL,
	[Merchant_Count] [nvarchar](50) NOT NULL,
	[Merchant_Name] [nvarchar](250) NOT NULL,
	[Strip_RS] [nvarchar](50) NULL,
	[Settle_Amount] [nvarchar](50) NOT NULL,
	[Legal_Name] [nvarchar](250) NOT NULL,
	[STAN] [nvarchar](50) NOT NULL,
	[Invoice_Number] [nchar](10) NOT NULL,
	[Commercial_Name] [nvarchar](250) NOT NULL,
	[Payment_Scheme] [nchar](10) NOT NULL,
	[Trax_Type_Symbol] [nchar](10) NOT NULL,
	[Batch_Number] [nvarchar](50) NOT NULL,
	[POS_Serial_No] [nchar](10) NOT NULL,
	[MDR_Deducted] [nvarchar](50) NOT NULL,
	[FED_Deducted] [nvarchar](50) NOT NULL,
	[Net_Amount] [nvarchar](50) NOT NULL,
	[Scheme_Name] [nvarchar](100) NULL,
	[Trnx_Type] [nvarchar](100) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[Split]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[Split](@String varchar(MAX), @Delimiter char(1))       
returns @temptable TABLE (items varchar(MAX))       
as       
begin       
    declare @idx int       
    declare @slice varchar(MAX)       
      
    select @idx = 1       
        if len(@String)<1 or @String is null  return       
      
    while @idx!= 0       
    begin       
        set @idx = charindex(@Delimiter,@String)       
        if @idx!=0       
            set @slice = left(@String,@idx - 1)       
        else       
            set @slice = @String       
          
        if(len(@slice)>0)  
            insert into @temptable(Items) values(@slice)       
  
        set @String = right(@String,len(@String) - @idx)       
        if len(@String) = 0 break       
    end   
return       
end  


GO
/****** Object:  Table [dbo].[Component]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Component](
	[ComponentId] [int] NOT NULL,
	[Component] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Component] PRIMARY KEY CLUSTERED 
(
	[ComponentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventId] [int] NOT NULL,
	[Event] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[EventInfo] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[LogTime] [datetime] NOT NULL,
	[ComponentId] [int] NOT NULL,
	[RefId] [int] NULL,
	[IP] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AuditLog] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[UserId] [int] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[UserSubId] [int] NULL,
	[MerchantId] [int] NULL,
	[MerchantBranchId] [int] NULL,
	[BankId] [int] NULL,
	[CNIC] [numeric](13, 0) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[LoginId] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [int] NULL,
	[AddedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsLoggedIn] [bit] NULL,
	[LastLoginDate] [datetime] NULL,
	[CurrentFailAttempts] [int] NULL,
	[TotalFailAttempts] [int] NULL,
	[IsLocked] [bit] NULL,
	[LockDate] [datetime] NULL,
	[UnlockDate] [datetime] NULL,
	[LastFailAttemptDate] [datetime] NULL,
	[PasswordExpiryDate] [datetime] NULL,
	[isFirstLogin] [bit] NULL,
	[FullDBAccess] [bit] NOT NULL,
	[RecordStatus] [int] NOT NULL,
	[IsDeleted] [bit] NULL,
	[regionid] [int] NULL,
	[branchid] [int] NULL,
	[isregionaluser] [bit] NULL,
 CONSTRAINT [PK_UserMaster] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_UserMaster_LoginId] UNIQUE NONCLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SecurityAuditLog]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[SecurityAuditLog]
AS
SELECT        TOP (100) PERCENT AL.LogId, E.Event, AL.EventInfo, UM.UserName, AL.LogTime, C.Component, AL.IP, CASE WHEN Status = 1 THEN 'Pass' ELSE 'Fail' END AS Status
FROM            dbo.AuditLog AS AL INNER JOIN
                         dbo.Component AS C ON C.ComponentId = AL.ComponentId INNER JOIN
                         dbo.Events AS E ON E.EventId = AL.EventId LEFT OUTER JOIN
                         dbo.UserMaster AS UM ON UM.UserId = AL.UserId
WHERE        (E.EventId = 8) AND (C.IsActive = 0)
GO
/****** Object:  View [dbo].[View_FullTransaction]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_FullTransaction]
AS
SELECT        Trnx_ID, Merchant_Id, Pos_ID, Trxn_Amount, Trnx_Date, Trnx_Type, Batch_Number, Scheme_Name, Customer_Card_Number, Auth_Id, Message_Type, Time_Stamp, Trax_Type_Symbol, Invoice_Number, STAN, 
                         Merchant_Name, Response_Code, IS_Settled, MDR_Deducted, FED_Deducted, Net_Amount
FROM            dbo.ArchivePOSTransaction
UNION ALL
SELECT        Trnx_ID, Merchant_Id, Pos_ID, Trxn_Amount, Trnx_Date, Trnx_Type, Batch_Number, Scheme_Name, Customer_Card_Number, Auth_Id, Message_Type, Time_Stamp, Trax_Type_Symbol, Invoice_Number, STAN, 
                         Merchant_Name, Response_Code, IS_Settled,  MDR_Deducted, FED_Deducted, Net_Amount
FROM            dbo.POSTransaction
GO
/****** Object:  View [dbo].[View_FullSettledTransaction]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_FullSettledTransaction]
AS
SELECT        Tauth.Trnx_ID, Tauth.Merchant_Id, Tauth.Pos_ID, Tauth.Trxn_Amount, Tauth.Trnx_Date, Tauth.Trnx_Type, Tauth.Batch_Number, Tauth.Scheme_Name, Tauth.Customer_Card_Number, Tauth.Auth_Id, Tauth.Message_Type, 
                         Tauth.Time_Stamp, Tauth.Trax_Type_Symbol, Tauth.Invoice_Number, Tauth.STAN, Tauth.Merchant_Name, Tauth.Response_Code, Tauth.IS_Settled, Tauth.MDR_Deducted, Tauth.FED_Deducted, Tauth.Net_Amount
FROM            dbo.View_FullTransaction AS Tauth INNER JOIN
                         dbo.View_FullTransaction AS TSettle ON Tauth.STAN = TSettle.STAN AND (Tauth.Pos_ID = TSettle.Pos_ID OR
                         TSettle.Pos_ID LIKE '%MDE%') AND Tauth.Merchant_Id = TSettle.Merchant_Id AND Tauth.Trxn_Amount = TSettle.Trxn_Amount AND TSettle.Message_Type = '0230' AND TSettle.Response_Code = '00'
WHERE        (Tauth.Trnx_Type = 'Authorized')
GO
/****** Object:  View [dbo].[View_FullSettledAuth]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[View_FullSettledAuth]
AS
SELECT        TSettle.Trnx_ID, TSettle.Merchant_Id, TAuth.Pos_ID, TSettle.Pos_Id SPos_Id, TSettle.Trxn_Amount, Tauth.Time_Stamp TransactionDate, TSettle.Trnx_Date,TSettle.Trnx_Type, TSettle.Batch_Number, TSettle.Scheme_Name, TSettle.Customer_Card_Number, Tauth.Auth_Id, TSettle.Message_Type, 
                         TSettle.Time_Stamp, TSettle.Trax_Type_Symbol, TSettle.Invoice_Number, TSettle.STAN, TSettle.Merchant_Name, TSettle.Response_Code, TSettle.IS_Settled, TSettle.MDR_Deducted, TSettle.FED_Deducted, TSettle.Net_Amount
FROM            dbo.View_FullTransaction AS TSettle LEFT JOIN
                         dbo.View_FullTransaction AS Tauth ON Tauth.STAN = TSettle.STAN AND (Tauth.Pos_ID = TSettle.Pos_ID OR
                         (TSettle.Pos_ID LIKE '%MDE%' and TSettle.Trax_Type_Symbol = 'S')) AND Tauth.Merchant_Id = TSettle.Merchant_Id AND Tauth.Trxn_Amount = TSettle.Trxn_Amount AND Tauth.Trnx_Type = 'Authorized'
WHERE        (TSettle.Trnx_Type = 'Settled')
GO
/****** Object:  View [dbo].[View_FullUnsettledAuth]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[View_FullUnsettledAuth]
AS

SELECT
    Tauth.Trnx_ID,
    Tauth.Merchant_Id,
    Tauth.Pos_ID,
    Tauth.Trxn_Amount,
    Tauth.Trnx_Date,
    Tauth.Trnx_Type,
    Tauth.Batch_Number,
    Tauth.Scheme_Name,
    Tauth.Customer_Card_Number,
    Tauth.Auth_Id,
    Tauth.Message_Type,
    Tauth.Time_Stamp,
    Tauth.Trax_Type_Symbol,
    Tauth.Invoice_Number,
    Tauth.STAN,
    Tauth.Merchant_Name,
    Tauth.Response_Code,
    Tauth.IS_Settled,
    Tauth.MDR_Deducted,
    Tauth.FED_Deducted,
    Tauth.Net_Amount
FROM dbo.View_FullTransaction AS Tauth
WHERE
    Tauth.Trnx_Type = 'Authorized'
    AND NOT EXISTS (
        SELECT 1
        FROM dbo.View_FullTransaction AS TSettle
        WHERE
            Tauth.STAN = TSettle.STAN
            AND (Tauth.Pos_ID = TSettle.Pos_ID OR TSettle.Pos_ID LIKE '%MDE%')
            AND Tauth.Merchant_Id = TSettle.Merchant_Id
            AND Tauth.Trxn_Amount = TSettle.Trxn_Amount
            AND TSettle.Trnx_Type = 'Settled'
			AND TSettle.Trnx_Date >= Tauth.Trnx_Date
    )
    AND NOT EXISTS (
        SELECT 1
        FROM dbo.View_FullTransaction AS TVoid
        WHERE
            Tauth.STAN = TVoid.STAN
            AND Tauth.Pos_ID = TVoid.Pos_ID
            AND Tauth.Merchant_Id = TVoid.Merchant_Id
            AND Tauth.Trxn_Amount = TVoid.Trxn_Amount
            AND TVoid.Trnx_Type = 'Void'
			AND TVoid.Trnx_Date >= Tauth.Trnx_Date
    );

GO
/****** Object:  View [dbo].[View_FullSettledAuth_Matching]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   VIEW [dbo].[View_FullSettledAuth_Matching]
AS
SELECT        TSettle.Trnx_ID, TSettle.Merchant_Id, TAuth.Pos_ID, TSettle.Pos_Id SPos_Id, TSettle.Trxn_Amount, Tauth.Time_Stamp TransactionDate, TSettle.Trnx_Date,TSettle.Trnx_Type, TSettle.Batch_Number, TSettle.Scheme_Name, TSettle.Customer_Card_Number, Tauth.Auth_Id, TSettle.Message_Type, 
                         TSettle.Time_Stamp, TSettle.Trax_Type_Symbol, TSettle.Invoice_Number, TSettle.STAN, TSettle.Merchant_Name, TSettle.Response_Code, TSettle.IS_Settled, TSettle.MDR_Deducted, TSettle.FED_Deducted, TSettle.Net_Amount
FROM            dbo.View_FullTransaction AS Tauth INNER JOIN
                         dbo.View_FullTransaction AS TSettle ON Tauth.STAN = TSettle.STAN AND (Tauth.Pos_ID = TSettle.Pos_ID OR
                         (TSettle.Pos_ID LIKE '%MDE%' and TSettle.Trax_Type_Symbol = 'S')) AND Tauth.Merchant_Id = TSettle.Merchant_Id AND Tauth.Trxn_Amount = TSettle.Trxn_Amount AND TSettle.Trnx_Type = 'Settled'
WHERE        (Tauth.Trnx_Type = 'Authorized')
GO
/****** Object:  View [dbo].[View_FullSettledAuth_AllSettlements]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   VIEW [dbo].[View_FullSettledAuth_AllSettlements]
AS
SELECT        TSettle.Trnx_ID, TSettle.Merchant_Id, TAuth.Pos_ID, TSettle.Pos_Id SPos_Id, TSettle.Trxn_Amount, Tauth.Time_Stamp TransactionDate, TSettle.Trnx_Date,TSettle.Trnx_Type, TSettle.Batch_Number, TSettle.Scheme_Name, TSettle.Customer_Card_Number, Tauth.Auth_Id, TSettle.Message_Type, 
                         TSettle.Time_Stamp, TSettle.Trax_Type_Symbol, TSettle.Invoice_Number, TSettle.STAN, TSettle.Merchant_Name, TSettle.Response_Code, TSettle.IS_Settled, TSettle.MDR_Deducted, TSettle.FED_Deducted, TSettle.Net_Amount
FROM            dbo.View_FullTransaction AS TSettle LEFT JOIN
                         dbo.View_FullTransaction AS Tauth ON Tauth.STAN = TSettle.STAN AND (Tauth.Pos_ID = TSettle.Pos_ID OR
                         (TSettle.Pos_ID LIKE '%MDE%' and TSettle.Trax_Type_Symbol = 'S')) AND Tauth.Merchant_Id = TSettle.Merchant_Id AND Tauth.Trxn_Amount = TSettle.Trxn_Amount AND Tauth.Trnx_Type = 'Authorized'
WHERE        (TSettle.Trnx_Type = 'Settled')
GO
/****** Object:  View [dbo].[View_FullUnsettledAuth_Without_Exists]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[View_FullUnsettledAuth_Without_Exists]
AS
SELECT        Tauth.Trnx_ID, Tauth.Merchant_Id, Tauth.Pos_ID, Tauth.Trxn_Amount, Tauth.Trnx_Date, Tauth.Trnx_Type, Tauth.Batch_Number, Tauth.Scheme_Name, Tauth.Customer_Card_Number, Tauth.Auth_Id, Tauth.Message_Type, 
                         Tauth.Time_Stamp, Tauth.Trax_Type_Symbol, Tauth.Invoice_Number, Tauth.STAN, Tauth.Merchant_Name, Tauth.Response_Code, Tauth.IS_Settled, Tauth.MDR_Deducted, Tauth.FED_Deducted, Tauth.Net_Amount
FROM            dbo.View_FullTransaction AS Tauth LEFT OUTER JOIN
                         dbo.View_FullTransaction AS TSettle ON Tauth.STAN = TSettle.STAN AND (Tauth.Pos_ID = TSettle.Pos_ID OR
                         TSettle.Pos_ID LIKE '%MDE%') AND Tauth.Merchant_Id = TSettle.Merchant_Id AND Tauth.Trxn_Amount = TSettle.Trxn_Amount AND TSettle.Trnx_Type = 'Settled'
			LEFT OUTER JOIN
						dbo.View_FullTransaction As TVoid ON Tauth.STAN = TVoid.STAN AND Tauth.Pos_ID = TVoid.Pos_ID AND Tauth.Merchant_Id = TVoid.Merchant_Id AND Tauth.Trxn_Amount = TVoid.Trxn_Amount AND TVoid.Trnx_Type = 'Void'
WHERE        (Tauth.Trnx_Type = 'Authorized') AND (TSettle.Trnx_ID IS NULL) AND (TVoid.Trnx_ID IS NULL)
GO
/****** Object:  View [dbo].[View_DiscountTransaction]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_DiscountTransaction]
AS
SELECT        drd.CardNumber, drd.MID, drd.TID, drd.TrnxAmount, drd.DiscountAmt, drd.TaxAmt, drd.TipAmt, drd.ToBePaid, drd.RRN, drd.ApprovalCode, drd.IsVoid, drd.RedeemTime, drd.ResponseCode, drd.RedeemTime AS Expr1, 
                         dm.DiscountType, dm.DiscountDetail, dm.DiscountName, CASE WHEN dm.DiscountType = 2 THEN concat(CAST(dm.DiscountDetail AS int), '%') ELSE concat('PKR ', dm.DiscountDetail) END AS Expr2
FROM            dbo.DiscountRedeem AS drd INNER JOIN
                         dbo.DiscountRequest AS drq ON drd.RequestRefNo = drq.RequestRefNo INNER JOIN
                         dbo.DiscountResponse AS drp ON drq.RequestRefNo = drp.RequestRefNo INNER JOIN
                         dbo.DiscountMaster AS dm ON drp.DiscountID = dm.DiscountID
WHERE        (drd.RedeemStatus = '01')
GO
/****** Object:  View [dbo].[View_Transaction]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Transaction]
AS
SELECT        Trnx_ID, Merchant_Id, Pos_ID, Trxn_Amount, Trnx_Date, Trnx_Type, Batch_Number, Scheme_Name, Customer_Card_Number, Auth_Id, Message_Type, Time_Stamp, Trax_Type_Symbol, Invoice_Number, STAN, 
                         Merchant_Name, Response_Code, IS_Settled, MDR_Deducted, FED_Deducted, Net_Amount
FROM            dbo.POSTransaction
GO
/****** Object:  Table [dbo].[AssetMovementDetails]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetMovementDetails](
	[MovementDetailId] [int] IDENTITY(1,1) NOT NULL,
	[MovementId] [int] NOT NULL,
	[POSSerial] [nvarchar](32) NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetMovementMaster]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetMovementMaster](
	[MovementId] [int] IDENTITY(1,1) NOT NULL,
	[TimeStamp] [datetime] NULL,
	[UserId] [int] NULL,
	[LocationFrom] [int] NULL,
	[LocationTo] [int] NULL,
	[MovementReason] [nvarchar](max) NULL,
	[Quantity] [bigint] NULL,
	[POCName] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessType]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessType](
	[BusinessTypeId] [int] NOT NULL,
	[MCC] [int] NULL,
	[BusinessName] [varchar](200) NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_BusinessType] PRIMARY KEY CLUSTERED 
(
	[BusinessTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityId] [int] NOT NULL,
	[CityName] [varchar](50) NOT NULL,
	[CountryId] [int] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientMaster]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientMaster](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuration]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuration](
	[ConfigurationId] [int] IDENTITY(1,1) NOT NULL,
	[ConfigKey] [varchar](50) NOT NULL,
	[ConfigValue] [varchar](500) NOT NULL,
	[MerchantId] [int] NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_Configuration] PRIMARY KEY CLUSTERED 
(
	[ConfigurationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_Configuration_ConfigKey_MerchantId] UNIQUE NONCLUSTERED 
(
	[ConfigKey] ASC,
	[MerchantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryId] [int] NOT NULL,
	[CountryName] [varchar](50) NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[CurrencyId] [int] NULL,
	[CountryCode] [varchar](6) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceModel]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceModel](
	[DeviceModelID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Specs] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[DeviceType] [nvarchar](250) NOT NULL,
	[VendorModel] [nvarchar](100) NULL,
	[VendorId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceType]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceType](
	[DeviceTypeId] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Institution]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Institution](
	[InstitutionId] [int] NOT NULL,
	[InstitutionName] [varchar](50) NOT NULL,
	[NTN] [varchar](50) NULL,
	[RegisteredAdress] [varchar](100) NULL,
	[StreetAddress] [varchar](50) NULL,
	[CityId] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
	[ContactNo] [numeric](18, 0) NOT NULL,
	[FaxNo] [numeric](18, 0) NULL,
	[ContractStartDate] [datetime] NOT NULL,
	[ContractEndDate] [datetime] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_Institution] PRIMARY KEY CLUSTERED 
(
	[InstitutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MenuId] [int] NOT NULL,
	[MenuSubId] [int] NULL,
	[MenuName] [varchar](100) NOT NULL,
	[MenuUrl] [varchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NULL,
	[IconClass] [varchar](20) NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_Menu_MenuSubId_SortOrder] UNIQUE NONCLUSTERED 
(
	[MenuSubId] ASC,
	[SortOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MerchantBranch]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MerchantBranch](
	[MerchantBranchId] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [varchar](50) NOT NULL,
	[MerchantId] [int] NOT NULL,
	[MerchantCategoryID] [int] NULL,
	[IsMainBranch] [bit] NOT NULL,
	[CityId] [int] NULL,
	[Address] [varchar](200) NULL,
	[ContactNo] [varchar](500) NOT NULL,
	[Longitude] [varchar](50) NULL,
	[Latitude] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[region] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MerchantBranch_OLD]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MerchantBranch_OLD](
	[MerchantBranchId] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [varchar](50) NOT NULL,
	[MerchantId] [int] NOT NULL,
	[DMSMerchantBranchCode] [int] NULL,
	[IsMainBranch] [bit] NOT NULL,
	[CityId] [int] NULL,
	[Address] [varchar](200) NULL,
	[ContactNo] [varchar](500) NULL,
	[Longitude] [varchar](50) NULL,
	[Latitude] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[region] [nvarchar](max) NULL,
 CONSTRAINT [PK_MerchantBranch] PRIMARY KEY CLUSTERED 
(
	[MerchantBranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MerchantMaster]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MerchantMaster](
	[MerchantId] [int] NOT NULL,
	[MerchantCode] [varchar](20) NOT NULL,
	[DMSMerchantCode] [varchar](50) NULL,
	[MerchantBusinessName] [varchar](50) NOT NULL,
	[MerchantLegalName] [varchar](50) NOT NULL,
	[POSDisplayName] [varchar](50) NOT NULL,
	[NTN] [varchar](50) NOT NULL,
	[FaxNo] [numeric](18, 0) NOT NULL,
	[BusinessEmail] [varchar](100) NOT NULL,
	[PrimaryContactName] [varchar](50) NOT NULL,
	[PrimaryContactEmail] [varchar](100) NULL,
	[PrimaryContactNo] [varchar](500) NOT NULL,
	[SecondaryContactName] [varchar](50) NOT NULL,
	[SecondaryContactEmail] [varchar](100) NULL,
	[SecondaryContactNo] [varchar](500) NOT NULL,
	[MerchantLogo] [varchar](200) NULL,
	[LogoName] [varchar](50) NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[InstitutionId] [int] NOT NULL,
	[MerchantKey] [varchar](50) NOT NULL,
	[MerchantKeyDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[RetailOwnership] [varchar](500) NULL,
	[Address] [varchar](500) NULL,
	[IBAN] [varchar](50) NULL,
	[BankName] [varchar](100) NULL,
	[SwiftCode] [varchar](50) NULL,
	[IsVisibleOnWebsite] [bit] NULL,
	[IsDiscountApplicable] [bit] NULL,
	[DiscountDescription] [varchar](max) NULL,
	[BankBranchName] [varchar](100) NULL,
	[BeneficiaryAccountNumber] [varchar](50) NULL,
	[BeneficiaryName] [varchar](50) NULL,
	[IsDhofar] [bit] NULL,
	[MarketingMsgForAll] [varchar](500) NULL,
 CONSTRAINT [PK_MerchantMaster] PRIMARY KEY CLUSTERED 
(
	[MerchantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSModel]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSModel](
	[POSModelID] [int] IDENTITY(1,1) NOT NULL,
	[TypePOSModel] [nvarchar](50) NOT NULL,
	[TypePOSSpecs] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POStatus]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POStatus](
	[POStatus] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrivilegedRoles]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrivilegedRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_PrivilegedRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[ProvinceId] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceName] [varchar](50) NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrder]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrder](
	[PONumber] [nvarchar](50) NULL,
	[PODate] [datetime] NULL,
	[ClientId] [int] NULL,
	[POStatus] [nvarchar](50) NULL,
	[AddedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
	[DeliveryDate] [datetime] NULL,
	[PurchaseOrderID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderDetail]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDetail](
	[PurchaseOrderId] [int] NOT NULL,
	[PurchaseOrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[AddedBy] [int] NULL,
	[AddedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[DeviceModelId] [int] NOT NULL,
	[RepairCharge] [decimal](18, 3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderDeviceDetail]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDeviceDetail](
	[PurchaseOrderId] [int] NOT NULL,
	[PurchaseOrderDetailId] [int] NOT NULL,
	[SerialNo] [nvarchar](32) NOT NULL,
	[WarrantyStartDate] [datetime] NULL,
	[WarrantyEndDate] [datetime] NULL,
	[POSModelID] [int] NOT NULL,
	[AddedBy] [int] NULL,
	[AddedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[CurrentLocation] [int] NULL,
 CONSTRAINT [PK_PurchaseOrderDeviceDetail_SerialNo] PRIMARY KEY CLUSTERED 
(
	[SerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[RegionID] [int] IDENTITY(1,1) NOT NULL,
	[RegionName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[RegionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleDetail]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleDetail](
	[RoleDetailId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[MenuId] [int] NOT NULL,
	[AllowAdd] [bit] NULL,
	[AllowEdit] [bit] NULL,
	[AllowView] [bit] NULL,
	[AllowDelete] [bit] NULL,
	[AllowPost] [bit] NULL,
	[AllowUnPost] [bit] NULL,
 CONSTRAINT [PK_RoleDetail] PRIMARY KEY CLUSTERED 
(
	[RoleDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_RoleDetail_RoleId_MenuId] UNIQUE NONCLUSTERED 
(
	[RoleId] ASC,
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleMaster]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMaster](
	[RoleId] [int] NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_RoleMaster] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UniquesCode]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UniquesCode](
	[CodeTitle] [varchar](50) NOT NULL,
	[CodeType] [varchar](5) NOT NULL,
	[MaxId] [bigint] NOT NULL,
	[MerchantId] [int] NULL,
 CONSTRAINT [uq_UniquesCode_CodeType] UNIQUE NONCLUSTERED 
(
	[CodeType] ASC,
	[MerchantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMasterHist]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMasterHist](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [varchar](50) NULL,
	[UserSubId] [int] NULL,
	[MerchantId] [int] NULL,
	[MerchantBranchId] [int] NULL,
	[CNIC] [numeric](13, 0) NULL,
	[Email] [varchar](100) NULL,
	[LoginId] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[RoleId] [int] NULL,
	[IsActive] [bit] NULL,
	[AddedBy] [int] NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[FullDBAccess] [bit] NOT NULL,
	[RecordStatus] [int] NULL,
	[IsDeleted] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPasswordHistory]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPasswordHistory](
	[PasswordHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](50) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[AddedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_UserPasswordHistory] PRIMARY KEY CLUSTERED 
(
	[PasswordHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[VendorId] [int] IDENTITY(1,1) NOT NULL,
	[VendorName] [nvarchar](200) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-20231228-154014]    Script Date: 7/22/2025 7:09:50 PM ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20231228-154014] ON [dbo].[AuditLog]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-20231228-154148]    Script Date: 7/22/2025 7:09:50 PM ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20231228-154148] ON [dbo].[AuditLog]
(
	[LogTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Component] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserMaster] ADD  DEFAULT ((0)) FOR [FullDBAccess]
GO
ALTER TABLE [dbo].[UserMaster] ADD  DEFAULT ((0)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[UserMasterHist] ADD  DEFAULT ((0)) FOR [FullDBAccess]
GO
ALTER TABLE [dbo].[UserMasterHist] ADD  DEFAULT ((0)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[AssetMovementDetails]  WITH CHECK ADD  CONSTRAINT [FK_POSSerial] FOREIGN KEY([POSSerial])
REFERENCES [dbo].[PurchaseOrderDeviceDetail] ([SerialNo])
GO
ALTER TABLE [dbo].[AssetMovementDetails] CHECK CONSTRAINT [FK_POSSerial]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_Component] FOREIGN KEY([ComponentId])
REFERENCES [dbo].[Component] ([ComponentId])
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [FK_AuditLog_Component]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_Events] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventId])
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [FK_AuditLog_Events]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [fk_City_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([CountryId])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [fk_City_CountryId]
GO
ALTER TABLE [dbo].[Configuration]  WITH CHECK ADD  CONSTRAINT [fk_Configuration_MerchantId] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[MerchantMaster] ([MerchantId])
GO
ALTER TABLE [dbo].[Configuration] CHECK CONSTRAINT [fk_Configuration_MerchantId]
GO
ALTER TABLE [dbo].[Institution]  WITH CHECK ADD  CONSTRAINT [fk_Institution_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([CityId])
GO
ALTER TABLE [dbo].[Institution] CHECK CONSTRAINT [fk_Institution_CityId]
GO
ALTER TABLE [dbo].[Institution]  WITH CHECK ADD  CONSTRAINT [fk_Institution_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([CountryId])
GO
ALTER TABLE [dbo].[Institution] CHECK CONSTRAINT [fk_Institution_CountryId]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [fk_Menu_MenuSubId] FOREIGN KEY([MenuSubId])
REFERENCES [dbo].[Menu] ([MenuId])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [fk_Menu_MenuSubId]
GO
ALTER TABLE [dbo].[MerchantMaster]  WITH CHECK ADD  CONSTRAINT [fk_MerchantMaster_InstitutionId] FOREIGN KEY([InstitutionId])
REFERENCES [dbo].[Institution] ([InstitutionId])
GO
ALTER TABLE [dbo].[MerchantMaster] CHECK CONSTRAINT [fk_MerchantMaster_InstitutionId]
GO
ALTER TABLE [dbo].[MerchantMaster]  WITH CHECK ADD  CONSTRAINT [FK_MerchantMaster_ProvinceId] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Province] ([ProvinceId])
GO
ALTER TABLE [dbo].[MerchantMaster] CHECK CONSTRAINT [FK_MerchantMaster_ProvinceId]
GO
ALTER TABLE [dbo].[Province]  WITH CHECK ADD  CONSTRAINT [FK_Province_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([CountryId])
GO
ALTER TABLE [dbo].[Province] CHECK CONSTRAINT [FK_Province_CountryId]
GO
ALTER TABLE [dbo].[RoleDetail]  WITH CHECK ADD  CONSTRAINT [fk_RoleDetail_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([MenuId])
GO
ALTER TABLE [dbo].[RoleDetail] CHECK CONSTRAINT [fk_RoleDetail_MenuId]
GO
ALTER TABLE [dbo].[RoleDetail]  WITH CHECK ADD  CONSTRAINT [fk_RoleDetail_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[RoleMaster] ([RoleId])
GO
ALTER TABLE [dbo].[RoleDetail] CHECK CONSTRAINT [fk_RoleDetail_RoleId]
GO
ALTER TABLE [dbo].[UniquesCode]  WITH CHECK ADD  CONSTRAINT [fk_UniquesCode_MerchantId] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[MerchantMaster] ([MerchantId])
GO
ALTER TABLE [dbo].[UniquesCode] CHECK CONSTRAINT [fk_UniquesCode_MerchantId]
GO
ALTER TABLE [dbo].[UserMaster]  WITH CHECK ADD  CONSTRAINT [fk_UserMaster_AddedBy] FOREIGN KEY([AddedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[UserMaster] CHECK CONSTRAINT [fk_UserMaster_AddedBy]
GO
ALTER TABLE [dbo].[UserMaster]  WITH CHECK ADD  CONSTRAINT [fk_UserMaster_MerchantBranchId] FOREIGN KEY([MerchantBranchId])
REFERENCES [dbo].[MerchantBranch_OLD] ([MerchantBranchId])
GO
ALTER TABLE [dbo].[UserMaster] CHECK CONSTRAINT [fk_UserMaster_MerchantBranchId]
GO
ALTER TABLE [dbo].[UserMaster]  WITH CHECK ADD  CONSTRAINT [fk_UserMaster_MerchantId] FOREIGN KEY([MerchantId])
REFERENCES [dbo].[MerchantMaster] ([MerchantId])
GO
ALTER TABLE [dbo].[UserMaster] CHECK CONSTRAINT [fk_UserMaster_MerchantId]
GO
ALTER TABLE [dbo].[UserMaster]  WITH CHECK ADD  CONSTRAINT [fk_UserMaster_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[RoleMaster] ([RoleId])
GO
ALTER TABLE [dbo].[UserMaster] CHECK CONSTRAINT [fk_UserMaster_RoleId]
GO
ALTER TABLE [dbo].[UserMaster]  WITH CHECK ADD  CONSTRAINT [fk_UserMaster_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[UserMaster] CHECK CONSTRAINT [fk_UserMaster_UpdatedBy]
GO
ALTER TABLE [dbo].[UserMaster]  WITH CHECK ADD  CONSTRAINT [fk_UserMaster_UserSubId] FOREIGN KEY([UserSubId])
REFERENCES [dbo].[UserMaster] ([UserId])
GO
ALTER TABLE [dbo].[UserMaster] CHECK CONSTRAINT [fk_UserMaster_UserSubId]
GO
/****** Object:  StoredProcedure [dbo].[GetandUpdateMaxCode]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[GetandUpdateMaxCode]
	@CodeType nvarchar(max),
	@RetCode nvarchar(max) OUT
AS 
BEGIN
	declare @yymm varchar(4);
	declare @MaxId bigint;
	declare @CMaxId varchar(6);
	
	--set @CodeType = 'MRC';
	set @yymm = concat(substring(convert(varchar,getdate(),12),1,2), substring(convert(varchar,getdate(),12),3,2));
	select @MaxId=(MaxId+1) from UniquesCode where CodeType=@CodeType and MerchantId is null;
	select @CMaxId = REPLICATE('0',6-LEN(RTRIM(@MaxId))) + RTRIM(@MaxId);
	
	--SELECT @CMaxId;
	set @RetCode = concat(@CodeType,@yymm,@CMaxId); 
	
	update UniquesCode set MaxId=@MaxId where CodeType=@CodeType and MerchantId is null ;
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTMSPOSReport]    Script Date: 7/22/2025 7:09:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[SP_GetTMSPOSReport]
@fromdate date,@todate date,@merchantname nvarchar(max)
 AS
BEGIN
	SET NOCOUNT ON;
	
	if(@fromdate is null or @fromdate='')
	set @fromdate='1-Jan-1970'

	if(@todate is null or @todate='')
	set @todate=GETDATE()+1;


	select t.SerialNo 'POS Serial',FORMAT(t.DateCreated,'dd-MMM-yyyy') 'Added On', case when m.MerchantName='' then 'Not Available' else m.MerchantName end as 'Merchant Name',case when t.MerchantID='' then 'Not Available' else t.MerchantID end as 'Merchant ID',case when TerminalID='' then 'Not Available' else TerminalID end as 'Terminal ID',CASE WHEN Active=1 THEN 'Active' else 'InActive' end as Status
    from [STGMS_HBL].dbo.tms_terminal t
    inner join [STGMS_HBL].dbo.tms_merchant m on t.MerchantID=m.MerchantID 
    where t.datecreated>=@fromdate and t.datecreated<=@todate and LOWER(m.merchantname) LIKE '%' + LOWER(@merchantname) + '%'
    
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-Success, 0-Failure' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AuditLog', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "AL"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "C"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 119
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "E"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 119
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "UM"
            Begin Extent = 
               Top = 6
               Left = 662
               Bottom = 136
               Right = 858
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 2400
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SecurityAuditLog'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SecurityAuditLog'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "drd"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "drq"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 422
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "drp"
            Begin Extent = 
               Top = 6
               Left = 460
               Bottom = 136
               Right = 630
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "dm"
            Begin Extent = 
               Top = 6
               Left = 668
               Bottom = 136
               Right = 841
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_DiscountTransaction'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_DiscountTransaction'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Tauth"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 258
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TSettle"
            Begin Extent = 
               Top = 6
               Left = 296
               Bottom = 136
               Right = 516
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_FullSettledTransaction'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_FullSettledTransaction'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[28] 4[33] 2[27] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 23
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_FullTransaction'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_FullTransaction'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Tauth"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 258
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TSettle"
            Begin Extent = 
               Top = 6
               Left = 296
               Bottom = 136
               Right = 516
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_FullUnsettledAuth'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_FullUnsettledAuth'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[14] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "POSTransaction"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 222
               Right = 258
            End
            DisplayFlags = 280
            TopColumn = 30
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 14
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Transaction'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Transaction'
GO
USE [master]
GO
