USE [PosHeartbeat]
GO
/****** Object:  StoredProcedure [dbo].[GetDataLevel2]    Script Date: 7/23/2025 12:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetDataLevel2] 	
	@Action int=0,@timeLimit datetime=null,@battery_health int=0,@merchant_name nvarchar(250)=''
AS
BEGIN
	SET NOCOUNT ON;
	IF @Action=1
	BEGIN
		SELECT mid,COUNT(*) as li FROM HeartBeat 
		WHERE hb_timestamp >= @timeLimit and merchant_name=@merchant_name
		group by mid;
	END
	ELSE IF @Action=2
	BEGIN
		SELECT mid,COUNT(*) as li FROM HeartBeat 
		WHERE hb_timestamp < @timeLimit and merchant_name=@merchant_name
		group by mid;
	END
	ELSE IF @Action=3
	BEGIN
		SELECT mid,COUNT(*) as li FROM HeartBeat 
		WHERE CONVERT(int,isnull(battery_health,0)) < @battery_health and merchant_name=@merchant_name
		group by mid;
	END
	ELSE IF @Action=4
	BEGIN
		SELECT mid,COUNT(*) as li FROM HeartBeat 
		WHERE is_network_available <> 1 and merchant_name=@merchant_name
		group by mid;
	END
END
GO
