USE [PosHeartbeat]
GO
/****** Object:  StoredProcedure [dbo].[InsertServiceRequest]    Script Date: 7/23/2025 12:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertServiceRequest] 	
	@hb_timestamp DateTime,@pos_serial nvarchar(16),@mid NVarChar(50),@tid NVarChar(50),@ServiceID int,@request_quantity int,
	@request_description NVarChar(150)
AS
BEGIN
	SET NOCOUNT ON;
	
	INSERT INTO ServiceRequest(hb_timestamp,pos_serial,mid,tid,ServiceID,request_quantity,request_description) 
	VALUES (@hb_timestamp,@pos_serial,@mid,@tid,@ServiceID,@request_quantity,@request_description);
	
END
GO
