USE [PosHeartbeat]
GO
/****** Object:  StoredProcedure [dbo].[GetServiceTypes]    Script Date: 7/23/2025 12:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServiceTypes]
AS
BEGIN
	SELECT * FROM ServiceMaster;
END
GO
