USE [PosHeartbeat]
GO
/****** Object:  StoredProcedure [dbo].[GetPosDetailsToChangeStatus]    Script Date: 7/23/2025 12:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetPosDetailsToChangeStatus] 	
	@pos_serial nvarchar(16)
AS
BEGIN
	SET NOCOUNT ON;
	declare @timestp datetime=null;
   set @timestp = (select max(hb_timestamp) from HeartBeat where pos_serial=@pos_serial )
	SELECT top 1 *,
	CASE 
		WHEN pos_model LIKE '%OM-T%' THEN 'LINUX'
		WHEN pos_model LIKE '%OM-A%' THEN 'ANDROID'
		ELSE 'UNKNOWN'
	END as "POS_TYPE" FROM HeartBeat WHERE pos_serial=@pos_serial and hb_timestamp=@timestp;
END
GO
