USE [PosHeartbeat]
GO
/****** Object:  StoredProcedure [dbo].[InsertHeartbeat]    Script Date: 7/23/2025 12:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertHeartbeat] 	
	@hb_timestamp DateTime,@pos_serial nvarchar(16),@mid NVarChar(50),@tid NVarChar(50),@app_name NVarChar(100),@app_version NVarChar(50),
	@pos_model NVarChar(50),@vendor_model NVarChar(50),@client_id NVarChar(50),@os_version NVarChar(50),@pos_time DateTime,@merchant_name NVarChar(250),
	@merchant_address_1 nvarchar(50),@merchant_address_2 nvarchar(50),@merchant_city nvarchar(50),@latitude numeric(9,6),@longitude numeric(9,6),
	@is_battery_present bit,@is_charging bit,@battery_pct numeric(5,2),@battery_health NVarchar(50),@battery_charging_source nvarchar(50),
	@is_nfc_available bit,@is_nfc_enabled bit,@is_paperroll_available bit,@is_external_sdcard_available bit,@is_network_available bit,
	@imei nvarchar(50),@is_sim_network_locked bit,@network_type nvarchar(50),@phone_type nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN TRANSACTION;

		-- Update or insert the record
		MERGE INTO HeartBeat AS target
		USING (VALUES (@pos_serial, @mid, @tid)) AS source (pos_serial, mid, tid)
			ON (target.pos_serial = source.pos_serial AND target.mid = source.mid AND target.tid = source.tid)
		WHEN MATCHED THEN
			UPDATE SET hb_timestamp = @hb_timestamp,app_name = @app_name,app_version = @app_version,pos_model = @pos_model,vendor_model = @vendor_model,client_id = @client_id,
			os_version = @os_version,pos_time = @pos_time,merchant_name = @merchant_name,merchant_address_1 = @merchant_address_1,merchant_address_2 = @merchant_address_2,
			merchant_city = @merchant_city,latitude = @latitude,longitude = @longitude,is_battery_present = @is_battery_present,is_charging = @is_charging,battery_pct = @battery_pct,
			battery_health = @battery_health,battery_charging_source = @battery_charging_source,is_nfc_available = @is_nfc_available,is_nfc_enabled = @is_nfc_enabled,
			is_paperroll_available = @is_paperroll_available,is_external_sdcard_available = @is_external_sdcard_available,is_network_available = @is_network_available,
			imei = @imei,is_sim_network_locked = @is_sim_network_locked,network_type = @network_type,phone_type = @phone_type
			WHEN NOT MATCHED THEN
			INSERT (hb_timestamp,pos_serial,mid,tid,app_name,app_version,pos_model,vendor_model,client_id,os_version,pos_time, 
			merchant_name,merchant_address_1,merchant_address_2,merchant_city,latitude,longitude,is_battery_present,is_charging,battery_pct,
			battery_health,battery_charging_source,is_nfc_available,is_nfc_enabled,is_paperroll_available,is_external_sdcard_available,		
			is_network_available,imei,is_sim_network_locked,network_type,phone_type) values
			(@hb_timestamp,@pos_serial,@mid,@tid,@app_name,@app_version,@pos_model,@vendor_model,@client_id,@os_version,@pos_time, 
			@merchant_name,@merchant_address_1,@merchant_address_2,@merchant_city,@latitude,@longitude,@is_battery_present,@is_charging,@battery_pct,
			@battery_health,@battery_charging_source,@is_nfc_available,@is_nfc_enabled,@is_paperroll_available,@is_external_sdcard_available,
			@is_network_available,@imei,@is_sim_network_locked,@network_type,@phone_type);
			declare @timestp datetime=null;
			set @timestp = (select max(hb_timestamp) from HeartBeat where mid=@mid and tid=@tid )
	select case when islock is null then 0 else islock end as islock,case when lockpassword is null then '' else lockpassword end as lockpassword from HeartBeat where pos_serial=@pos_serial and hb_timestamp=@timestp;
		COMMIT TRANSACTION
	
	END TRY
	BEGIN CATCH	
		ROLLBACK TRANSACTION		
		THROW;	
	END CATCH

END
GO
