USE [PosHeartbeat]
GO
/****** Object:  StoredProcedure [dbo].[GetDataLevel3]    Script Date: 7/23/2025 12:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDataLevel3] 	
	@Action int=0,@timeLimit datetime=null,@battery_health int=0,@mid nvarchar(50)=''
AS
BEGIN
	SET NOCOUNT ON;
	IF @Action=1
	BEGIN
		SELECT * FROM HeartBeat 
		WHERE hb_timestamp >= @timeLimit and  mid=@mid;
	END
	ELSE IF @Action=2
	BEGIN
		SELECT * FROM HeartBeat 
		WHERE hb_timestamp < @timeLimit and mid=@mid;
	END
	ELSE IF @Action=3
	BEGIN
		SELECT * FROM HeartBeat 
		WHERE CONVERT(int,isnull(battery_health,0)) < @battery_health and mid=@mid;		
	END
	ELSE IF @Action=4
	BEGIN
		SELECT * FROM HeartBeat 
		WHERE is_network_available <> 1 and mid=@mid;		
	END
END
GO
