USE [PosHeartbeat]
GO
/****** Object:  StoredProcedure [dbo].[GetServiceRequest]    Script Date: 7/23/2025 12:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServiceRequest] 	
	@pos_serial nvarchar(16),@mid NVarChar(50),@tid NVarChar(50)
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT request_id,hb_timestamp,ServiceName AS request_type,request_quantity,request_description,
	CASE WHEN request_status = 0 THEN 'OPEN' ELSE 'CLOSE' END AS request_status,close_timestamp,close_remarks,
	pos_serial,mid,tid
	FROM ServiceRequest R
	JOIN ServiceMaster S ON S.ServiceID=R.ServiceID
	WHERE pos_serial=@pos_serial AND mid=@mid AND tid=@tid;	
END
GO
