USE [PosHeartbeat]
GO
/****** Object:  StoredProcedure [dbo].[GetPosDetails]    Script Date: 7/23/2025 12:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetPosDetails] 	
	@pos_serial nvarchar(16),@mid nvarchar(50),@tid nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM HeartBeat WHERE pos_serial=@pos_serial AND mid=@mid AND tid=@tid;
END
GO
