USE [PosHeartbeat]
GO
/****** Object:  Table [dbo].[ServiceRequest]    Script Date: 7/23/2025 12:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceRequest](
	[request_id] [bigint] IDENTITY(1,1) NOT NULL,
	[hb_timestamp] [datetime] NOT NULL,
	[pos_serial] [nvarchar](16) NOT NULL,
	[mid] [nvarchar](50) NOT NULL,
	[tid] [nvarchar](50) NOT NULL,
	[ServiceID] [int] NOT NULL,
	[request_quantity] [int] NOT NULL,
	[request_description] [nvarchar](150) NULL,
	[request_status] [int] NOT NULL,
	[close_timestamp] [datetime] NULL,
	[close_remarks] [nvarchar](150) NULL,
 CONSTRAINT [PK_ServiceRequest] PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ServiceRequest] ADD  CONSTRAINT [DF_ServiceRequest_request_status]  DEFAULT ((0)) FOR [request_status]
GO
