USE [PosHeartbeat]
GO
/****** Object:  StoredProcedure [dbo].[GetDashboardHead]    Script Date: 7/23/2025 12:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDashboardHead] 	
	@Action int=0, @activetimeLimit datetime=null, @onlinetimelimit datetime=null, @battery_health int=0
AS
BEGIN
	SET NOCOUNT ON;
	IF @Action=1
	BEGIN
		SELECT DISTINCT pos_serial,mid,tid,merchant_name,merchant_address_1,merchant_address_2,merchant_city,latitude,longitude 
		FROM HeartBeat;
	END	
	ELSE IF @Action=2
	BEGIN
		SELECT 
			COUNT(CASE WHEN hb_timestamp >= @onlinetimelimit THEN 1 END) AS Online,
			COUNT(CASE WHEN hb_timestamp < @onlinetimelimit THEN 1 END) AS Offline,
			COUNT(CASE WHEN CONVERT(int,isnull(battery_health,0)) < @battery_health THEN 1 END) AS Battery,
			COUNT(CASE WHEN is_network_available <> 1 THEN 1 END) AS NetWork
		FROM 
			HeartBeat;
	END
	ELSE IF @Action=3
	BEGIN
		DECLARE @countActive AS bigint
		DECLARE @countInActive AS bigint
		DECLARE @countOnline AS bigint
		DECLARE @countOffline AS bigint
		DECLARE @countBattery AS bigint
		DECLARE @countPaper AS bigint
		DECLARE @countNetwork AS bigint

		SELECT @countInActive = COUNT(CASE WHEN hb_timestamp < @activetimeLimit THEN 1 END)	FROM Heartbeat
		SELECT @countActive = COUNT(CASE WHEN hb_timestamp >= @activetimeLimit THEN 1 END)	FROM Heartbeat
		SELECT @countOnline = COUNT(CASE WHEN hb_timestamp >= @onlinetimelimit THEN 1 END)	FROM Heartbeat
		SELECT @countOffline = COUNT(CASE WHEN hb_timestamp < @onlinetimelimit and hb_timestamp >= @activetimeLimit THEN 1 END)	FROM Heartbeat
		SELECT @countBattery = COUNT(
										CASE WHEN isnumeric(battery_health) = 1 THEN 
																				CASE WHEN CONVERT(int,isnull(battery_health,0)) >= @battery_health
																							AND hb_timestamp >= @activetimeLimit
																					THEN 1 END
											ELSE 
												CASE WHEN UPPER(battery_health) NOT LIKE '%GOOD%' AND hb_timestamp >= @activetimeLimit THEN 1 END
										END ) FROM Heartbeat

		SELECT @countNetwork = COUNT(CASE WHEN is_network_available <> 1 AND hb_timestamp >= @activetimeLimit THEN 1 END) FROM HeartBeat
		SELECT @countPaper = COUNT(CASE WHEN is_paperroll_available <> 1 AND hb_timestamp >= @activetimeLimit THEN 1 END) FROM HeartBeat

		SELECT 
			@countActive AS countActive,
			@countInActive AS countInActive,
			@countOnline AS countOnline,
			@countOffline AS countOffline, 
			@countBattery AS countBattery,
			@countPaper AS countPaper,
			@countNetwork AS countNetwork
	END

END
GO
