USE [PosHeartbeat]
GO
/****** Object:  StoredProcedure [dbo].[GetHeartbeatDetails]    Script Date: 7/23/2025 12:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetHeartbeatDetails] 	
	@activetimeLimit datetime=null, @onlinetimelimit datetime=null, @battery_health int=0
AS
BEGIN
	SET NOCOUNT ON;
	
SELECT * FROM 
(
  SELECT
	tid as TID,
	pos_serial as "POS SERIAL",
	mid as MID,
	merchant_name as "MERCHANT",
	merchant_address_1 as "ADDRESS LINE 1",
	merchant_address_2 as "ADDRESS LINE 2",
	merchant_city as "CITY",
	latitude as "LAT",
	longitude as "LONG",
	hb_timestamp as "HB TIME",

	CASE 
		WHEN pos_model LIKE '%OM-T%' THEN 'LINUX'
		WHEN pos_model LIKE '%OM-A%' THEN 'ANDROID'
		ELSE 'UNKNOWN'
	END as "POS TYPE",

	CASE WHEN hb_timestamp >= @onlinetimelimit THEN 1 
		 WHEN hb_timestamp < @activetimeLimit then -1 
		 else 0 
	END AS "POS STATUS",

	CASE WHEN isnumeric(battery_health) = 1 THEN 
				CASE WHEN CONVERT(int,isnull(battery_health,0)) >= @battery_health  THEN 1 ELSE 0 END
			ELSE 
				CASE WHEN UPPER(battery_health) LIKE '%GOOD%' THEN 1 ELSE 0 END
	END AS "Battery Status",
	battery_pct as "BATTERY PCT", 

	is_paperroll_available as "PAPER ROLL STATUS",
	is_network_available as "NETWORK STATUS"

  from heartbeat
  --where hb_timestamp >= @activetimeLimit
 ) AS RES
 ORDER BY 13, 12, 14, 15

END
GO
