USE [PosHeartbeat]
GO
/****** Object:  Table [dbo].[HeartBeat]    Script Date: 7/23/2025 12:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeartBeat](
	[hb_timestamp] [datetime] NOT NULL,
	[pos_serial] [nvarchar](16) NOT NULL,
	[mid] [nvarchar](50) NOT NULL,
	[tid] [nvarchar](50) NOT NULL,
	[app_name] [nvarchar](100) NULL,
	[app_version] [nvarchar](50) NULL,
	[pos_model] [nvarchar](50) NULL,
	[client_id] [nvarchar](50) NULL,
	[os_version] [nvarchar](50) NULL,
	[pos_time] [datetime] NULL,
	[vendor_model] [nvarchar](50) NULL,
	[merchant_name] [nvarchar](250) NULL,
	[merchant_address_1] [nvarchar](50) NULL,
	[merchant_address_2] [nvarchar](50) NULL,
	[merchant_city] [nvarchar](50) NULL,
	[latitude] [numeric](9, 6) NULL,
	[longitude] [numeric](9, 6) NULL,
	[is_battery_present] [bit] NULL,
	[is_charging] [bit] NULL,
	[battery_pct] [numeric](5, 2) NULL,
	[battery_health] [nvarchar](50) NULL,
	[battery_charging_source] [nvarchar](50) NULL,
	[is_nfc_available] [bit] NULL,
	[is_nfc_enabled] [bit] NULL,
	[is_paperroll_available] [bit] NULL,
	[is_external_sdcard_available] [bit] NULL,
	[is_network_available] [bit] NULL,
	[imei] [nvarchar](50) NULL,
	[is_sim_network_locked] [bit] NULL,
	[network_type] [nvarchar](50) NULL,
	[phone_type] [nvarchar](50) NULL,
	[islock] [bit] NULL,
	[lockpassword] [nvarchar](8) NULL,
 CONSTRAINT [PK_heartbeat] PRIMARY KEY CLUSTERED 
(
	[pos_serial] ASC,
	[mid] ASC,
	[tid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HeartBeat] ADD  CONSTRAINT [DF_HeartBeat_islock]  DEFAULT ((0)) FOR [islock]
GO
