USE [PosHeartbeat]
GO
/****** Object:  StoredProcedure [dbo].[CloseService]    Script Date: 7/23/2025 12:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CloseService] 	
	@ReqId bigint,@Remarks NVarChar(150)=''
AS
BEGIN
	SET NOCOUNT ON;
	
	UPDATE ServiceRequest SET close_remarks=@Remarks,request_status=1,close_timestamp=GETDATE()
	WHERE request_id=@ReqId;
END
GO
