USE [PosHeartbeat]
GO
/****** Object:  StoredProcedure [dbo].[GetServiceRequestList]    Script Date: 7/23/2025 12:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServiceRequestList] 	
	@Action int=0,@Status int=99,@ServiceID int=0
AS
BEGIN
	SET NOCOUNT ON;
	IF @Action=1
	BEGIN
		SELECT R.ServiceID,ServiceName AS request_type,
		CASE WHEN request_status = 0 THEN 'OPEN' ELSE 'CLOSE' END AS statusDes,
		request_status,
		COUNT(*) AS ReqCount
		FROM ServiceRequest R
		JOIN ServiceMaster S ON S.ServiceID=R.ServiceID
		WHERE (@Status=99 OR request_status=@Status) 
		GROUP BY R.ServiceID,ServiceName,request_status
	END
	ELSE IF @Action = 2
	BEGIN
		SELECT request_id,hb_timestamp,pos_serial,mid,tid,request_quantity,request_description,
		CASE WHEN request_status = 0 THEN 'OPEN' ELSE 'CLOSE' END AS request_status,close_timestamp,close_remarks		
		FROM ServiceRequest R		
		WHERE (@Status=99 OR request_status=@Status) AND 
		ServiceID=@ServiceID
		ORDER BY request_id DESC;			
	END
END
GO
