USE [PosHeartbeat]
GO
/****** Object:  StoredProcedure [dbo].[GetMerchantNameMap]    Script Date: 7/23/2025 12:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMerchantNameMap] 	
	@Action int=0,@timeLimit datetime=null,@battery_health int=0,@POSSerial nvarchar(250)=''
AS
BEGIN
	SET NOCOUNT ON;
	IF @Action=1
	BEGIN
		SELECT *,CASE 
		WHEN pos_model LIKE '%OM-T%' THEN 'LINUX'
		WHEN pos_model LIKE '%OM-A%' THEN 'ANDROID'
		ELSE 'UNKNOWN'
	END as "POS_TYPE" FROM HeartBeat 
		WHERE pos_serial =@POSSerial
	END
	--ELSE IF @Action=2
	--BEGIN
	--	SELECT * FROM HeartBeat 
	--	WHERE hb_timestamp < @timeLimit and merchant_name=@merchant_name;
	--END
	--ELSE IF @Action=3
	--BEGIN
	--	SELECT * FROM HeartBeat 
	--	WHERE CONVERT(int,isnull(battery_health,0)) < @battery_health and merchant_name=@merchant_name;
	--END
	--ELSE IF @Action=4
	--BEGIN
	--	SELECT * FROM HeartBeat 
	--	WHERE is_network_available <> 1 and merchant_name=@merchant_name;
	--END
END
GO
